/* dirtysea Theme - by Kahlil (Kal) Hodgson */

[data-theme=light] {
    /* Pico CSS color variables */
    --pico-background-color: #e0e0e0;
    --pico-color: #000000;
    --pico-text-selection-color: #d0d0d0;
    --pico-muted-color: #707070;
    --pico-muted-border-color: #d0d0d0;
    --pico-primary: #007300;
    --pico-primary-background: #d0d0d0;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #000090;
    --pico-primary-hover-background: #000090;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #e0e0e0;
    --pico-secondary: #202020;
    --pico-secondary-background: #d0d0d0;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #000000;
    --pico-secondary-hover-background: #707070;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #e0e0e0;
    --pico-contrast: #f8f8f8;
    --pico-contrast-background: #f8f8f8;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #c4d9c4;
    --pico-contrast-hover-background: #c4d9c4;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #e0e0e0;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #f8f8f8;
    --pico-h2-color: #000000;
    --pico-h3-color: #000000;
    --pico-h4-color: #202020;
    --pico-h5-color: #202020;
    --pico-h6-color: #707070;
    --pico-mark-background-color: #755b00;
    --pico-mark-color: #e0e0e0;
    --pico-ins-color: #730073;
    --pico-del-color: #840000;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #d0dad0;
    --pico-code-background-color: #d0dad0;
    --pico-code-color: #755b00;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #e0e0e0;
    --pico-form-element-selected-background-color: #d0d0d0;
    --pico-form-element-border-color: #707070;
    --pico-form-element-color: #000000;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #e0e0e0;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #840000;
    --pico-form-element-invalid-active-border-color: #006565;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #730073;
    --pico-form-element-valid-active-border-color: #755b00;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #707070;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #e0e0e0;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #d0d0d0;
    --pico-range-active-border-color: #707070;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #e0e0e0;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #d0dad0;
    --pico-dropdown-background-color: #e0e0e0;
    --pico-dropdown-border-color: #d0d0d0;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #d0dad0;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #d0d0d0;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #e0e0e0;
    --b16-base01: #d0dad0;
    --b16-base02: #d0d0d0;
    --b16-base03: #707070;
    --b16-base04: #202020;
    --b16-base05: #000000;
    --b16-base06: #f8f8f8;
    --b16-base07: #c4d9c4;
    --b16-base08: #840000;
    --b16-base09: #006565;
    --b16-base0A: #755b00;
    --b16-base0B: #730073;
    --b16-base0C: #755b00;
    --b16-base0D: #007300;
    --b16-base0E: #000090;
    --b16-base0F: #755b00;
}
