/* Atelier Sulphurpool Light Theme - by Bram de Haan (http://atelierbramdehaan.nl) */

[data-theme=light] {
    /* Pico CSS color variables */
    --pico-background-color: #f5f7ff;
    --pico-color: #5e6687;
    --pico-text-selection-color: #979db4;
    --pico-muted-color: #898ea4;
    --pico-muted-border-color: #979db4;
    --pico-primary: #3d8fd1;
    --pico-primary-background: #979db4;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #6679cc;
    --pico-primary-hover-background: #6679cc;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #f5f7ff;
    --pico-secondary: #6b7394;
    --pico-secondary-background: #979db4;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #5e6687;
    --pico-secondary-hover-background: #898ea4;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #f5f7ff;
    --pico-contrast: #293256;
    --pico-contrast-background: #293256;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #202746;
    --pico-contrast-hover-background: #202746;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #f5f7ff;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #293256;
    --pico-h2-color: #5e6687;
    --pico-h3-color: #5e6687;
    --pico-h4-color: #6b7394;
    --pico-h5-color: #6b7394;
    --pico-h6-color: #898ea4;
    --pico-mark-background-color: #c08b30;
    --pico-mark-color: #f5f7ff;
    --pico-ins-color: #ac9739;
    --pico-del-color: #c94922;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #dfe2f1;
    --pico-code-background-color: #dfe2f1;
    --pico-code-color: #c08b30;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #f5f7ff;
    --pico-form-element-selected-background-color: #979db4;
    --pico-form-element-border-color: #898ea4;
    --pico-form-element-color: #5e6687;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #f5f7ff;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #c94922;
    --pico-form-element-invalid-active-border-color: #c76b29;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #ac9739;
    --pico-form-element-valid-active-border-color: #22a2c9;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #898ea4;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #f5f7ff;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #979db4;
    --pico-range-active-border-color: #898ea4;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #f5f7ff;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #dfe2f1;
    --pico-dropdown-background-color: #f5f7ff;
    --pico-dropdown-border-color: #979db4;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #dfe2f1;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #979db4;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #f5f7ff;
    --b16-base01: #dfe2f1;
    --b16-base02: #979db4;
    --b16-base03: #898ea4;
    --b16-base04: #6b7394;
    --b16-base05: #5e6687;
    --b16-base06: #293256;
    --b16-base07: #202746;
    --b16-base08: #c94922;
    --b16-base09: #c76b29;
    --b16-base0A: #c08b30;
    --b16-base0B: #ac9739;
    --b16-base0C: #22a2c9;
    --b16-base0D: #3d8fd1;
    --b16-base0E: #6679cc;
    --b16-base0F: #9c637a;
}
