/* Bespin Theme - by Jan T. Sott */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #28211c;
    --pico-color: #8a8986;
    --pico-text-selection-color: #5e5d5c;
    --pico-muted-color: #666666;
    --pico-muted-border-color: #5e5d5c;
    --pico-primary: #5ea6ea;
    --pico-primary-background: #5e5d5c;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #9b859d;
    --pico-primary-hover-background: #9b859d;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #28211c;
    --pico-secondary: #797977;
    --pico-secondary-background: #5e5d5c;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #8a8986;
    --pico-secondary-hover-background: #666666;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #28211c;
    --pico-contrast: #9d9b97;
    --pico-contrast-background: #9d9b97;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #baae9e;
    --pico-contrast-hover-background: #baae9e;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #28211c;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #9d9b97;
    --pico-h2-color: #8a8986;
    --pico-h3-color: #8a8986;
    --pico-h4-color: #797977;
    --pico-h5-color: #797977;
    --pico-h6-color: #666666;
    --pico-mark-background-color: #f9ee98;
    --pico-mark-color: #28211c;
    --pico-ins-color: #54be0d;
    --pico-del-color: #cf6a4c;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #36312e;
    --pico-code-background-color: #36312e;
    --pico-code-color: #f9ee98;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #28211c;
    --pico-form-element-selected-background-color: #5e5d5c;
    --pico-form-element-border-color: #666666;
    --pico-form-element-color: #8a8986;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #28211c;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #cf6a4c;
    --pico-form-element-invalid-active-border-color: #cf7d34;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #54be0d;
    --pico-form-element-valid-active-border-color: #afc4db;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #666666;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #28211c;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #5e5d5c;
    --pico-range-active-border-color: #666666;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #28211c;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #36312e;
    --pico-dropdown-background-color: #28211c;
    --pico-dropdown-border-color: #5e5d5c;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #36312e;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #5e5d5c;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #28211c;
    --b16-base01: #36312e;
    --b16-base02: #5e5d5c;
    --b16-base03: #666666;
    --b16-base04: #797977;
    --b16-base05: #8a8986;
    --b16-base06: #9d9b97;
    --b16-base07: #baae9e;
    --b16-base08: #cf6a4c;
    --b16-base09: #cf7d34;
    --b16-base0A: #f9ee98;
    --b16-base0B: #54be0d;
    --b16-base0C: #afc4db;
    --b16-base0D: #5ea6ea;
    --b16-base0E: #9b859d;
    --b16-base0F: #937121;
}
