/* PaperColor Light Theme - by Jon Leopard (http://github.com/jonleopard), based on PaperColor Theme (https://github.com/NLKNguyen/papercolor-theme) */

[data-theme=light] {
    /* Pico CSS color variables */
    --pico-background-color: #eeeeee;
    --pico-color: #444444;
    --pico-text-selection-color: #008700;
    --pico-muted-color: #5f8700;
    --pico-muted-border-color: #008700;
    --pico-primary: #d75f00;
    --pico-primary-background: #008700;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #005faf;
    --pico-primary-hover-background: #005faf;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #eeeeee;
    --pico-secondary: #0087af;
    --pico-secondary-background: #008700;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #444444;
    --pico-secondary-hover-background: #5f8700;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #eeeeee;
    --pico-contrast: #005f87;
    --pico-contrast-background: #005f87;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #878787;
    --pico-contrast-hover-background: #878787;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #eeeeee;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #005f87;
    --pico-h2-color: #444444;
    --pico-h3-color: #444444;
    --pico-h4-color: #0087af;
    --pico-h5-color: #0087af;
    --pico-h6-color: #5f8700;
    --pico-mark-background-color: #d70087;
    --pico-mark-color: #eeeeee;
    --pico-ins-color: #8700af;
    --pico-del-color: #bcbcbc;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #af0000;
    --pico-code-background-color: #af0000;
    --pico-code-color: #d70087;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #eeeeee;
    --pico-form-element-selected-background-color: #008700;
    --pico-form-element-border-color: #5f8700;
    --pico-form-element-color: #444444;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #eeeeee;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #bcbcbc;
    --pico-form-element-invalid-active-border-color: #d70000;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #8700af;
    --pico-form-element-valid-active-border-color: #d75f00;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #5f8700;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #eeeeee;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #008700;
    --pico-range-active-border-color: #5f8700;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #eeeeee;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #af0000;
    --pico-dropdown-background-color: #eeeeee;
    --pico-dropdown-border-color: #008700;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #af0000;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #008700;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #eeeeee;
    --b16-base01: #af0000;
    --b16-base02: #008700;
    --b16-base03: #5f8700;
    --b16-base04: #0087af;
    --b16-base05: #444444;
    --b16-base06: #005f87;
    --b16-base07: #878787;
    --b16-base08: #bcbcbc;
    --b16-base09: #d70000;
    --b16-base0A: #d70087;
    --b16-base0B: #8700af;
    --b16-base0C: #d75f00;
    --b16-base0D: #d75f00;
    --b16-base0E: #005faf;
    --b16-base0F: #005f87;
}
