/* eris Theme - by ed (https://codeberg.org/ed) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #0a0920;
    --pico-color: #606bac;
    --pico-text-selection-color: #23255a;
    --pico-muted-color: #333773;
    --pico-muted-border-color: #23255a;
    --pico-primary: #258fc4;
    --pico-primary-background: #23255a;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #f768a3;
    --pico-primary-hover-background: #f768a3;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #0a0920;
    --pico-secondary: #4a5293;
    --pico-secondary-background: #23255a;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #606bac;
    --pico-secondary-hover-background: #333773;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #0a0920;
    --pico-contrast: #7986c5;
    --pico-contrast-background: #7986c5;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #9aaae5;
    --pico-contrast-hover-background: #9aaae5;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #0a0920;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #7986c5;
    --pico-h2-color: #606bac;
    --pico-h3-color: #606bac;
    --pico-h4-color: #4a5293;
    --pico-h5-color: #4a5293;
    --pico-h6-color: #333773;
    --pico-mark-background-color: #faaea2;
    --pico-mark-color: #0a0920;
    --pico-ins-color: #faaea2;
    --pico-del-color: #f768a3;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #13133a;
    --pico-code-background-color: #13133a;
    --pico-code-color: #faaea2;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #0a0920;
    --pico-form-element-selected-background-color: #23255a;
    --pico-form-element-border-color: #333773;
    --pico-form-element-color: #606bac;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #0a0920;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #f768a3;
    --pico-form-element-invalid-active-border-color: #f768a3;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #faaea2;
    --pico-form-element-valid-active-border-color: #258fc4;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #333773;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #0a0920;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #23255a;
    --pico-range-active-border-color: #333773;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #0a0920;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #13133a;
    --pico-dropdown-background-color: #0a0920;
    --pico-dropdown-border-color: #23255a;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #13133a;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #23255a;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #0a0920;
    --b16-base01: #13133a;
    --b16-base02: #23255a;
    --b16-base03: #333773;
    --b16-base04: #4a5293;
    --b16-base05: #606bac;
    --b16-base06: #7986c5;
    --b16-base07: #9aaae5;
    --b16-base08: #f768a3;
    --b16-base09: #f768a3;
    --b16-base0A: #faaea2;
    --b16-base0B: #faaea2;
    --b16-base0C: #258fc4;
    --b16-base0D: #258fc4;
    --b16-base0E: #f768a3;
    --b16-base0F: #f768a3;
}
