/* Tango Theme - by @Schnouki, based on the Tango Desktop Project */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #2e3436;
    --pico-color: #d3d7cf;
    --pico-text-selection-color: #fce94f;
    --pico-muted-color: #555753;
    --pico-muted-border-color: #fce94f;
    --pico-primary: #3465a4;
    --pico-primary-background: #fce94f;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #75507b;
    --pico-primary-hover-background: #75507b;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #2e3436;
    --pico-secondary: #729fcf;
    --pico-secondary-background: #fce94f;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #d3d7cf;
    --pico-secondary-hover-background: #555753;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #2e3436;
    --pico-contrast: #ad7fa8;
    --pico-contrast-background: #ad7fa8;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #eeeeec;
    --pico-contrast-hover-background: #eeeeec;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #2e3436;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #ad7fa8;
    --pico-h2-color: #d3d7cf;
    --pico-h3-color: #d3d7cf;
    --pico-h4-color: #729fcf;
    --pico-h5-color: #729fcf;
    --pico-h6-color: #555753;
    --pico-mark-background-color: #c4a000;
    --pico-mark-color: #2e3436;
    --pico-ins-color: #4e9a06;
    --pico-del-color: #cc0000;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #8ae234;
    --pico-code-background-color: #8ae234;
    --pico-code-color: #c4a000;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #2e3436;
    --pico-form-element-selected-background-color: #fce94f;
    --pico-form-element-border-color: #555753;
    --pico-form-element-color: #d3d7cf;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #2e3436;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #cc0000;
    --pico-form-element-invalid-active-border-color: #ef2929;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #4e9a06;
    --pico-form-element-valid-active-border-color: #06989a;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #555753;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #2e3436;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #fce94f;
    --pico-range-active-border-color: #555753;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #2e3436;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #8ae234;
    --pico-dropdown-background-color: #2e3436;
    --pico-dropdown-border-color: #fce94f;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #8ae234;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #fce94f;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #2e3436;
    --b16-base01: #8ae234;
    --b16-base02: #fce94f;
    --b16-base03: #555753;
    --b16-base04: #729fcf;
    --b16-base05: #d3d7cf;
    --b16-base06: #ad7fa8;
    --b16-base07: #eeeeec;
    --b16-base08: #cc0000;
    --b16-base09: #ef2929;
    --b16-base0A: #c4a000;
    --b16-base0B: #4e9a06;
    --b16-base0C: #06989a;
    --b16-base0D: #3465a4;
    --b16-base0E: #75507b;
    --b16-base0F: #34e2e2;
}
