/* Terracotta Dark Theme - by Alexander Rossell Hayes (https://github.com/rossellhayes) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #241d1a;
    --pico-color: #b8a59d;
    --pico-text-selection-color: #473933;
    --pico-muted-color: #594740;
    --pico-muted-border-color: #473933;
    --pico-primary: #b0a4c3;
    --pico-primary-background: #473933;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #d8a2b0;
    --pico-primary-hover-background: #d8a2b0;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #241d1a;
    --pico-secondary: #a78e84;
    --pico-secondary-background: #473933;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #b8a59d;
    --pico-secondary-hover-background: #594740;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #241d1a;
    --pico-contrast: #cabbb5;
    --pico-contrast-background: #cabbb5;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #dcd2ce;
    --pico-contrast-hover-background: #dcd2ce;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #241d1a;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #cabbb5;
    --pico-h2-color: #b8a59d;
    --pico-h3-color: #b8a59d;
    --pico-h4-color: #a78e84;
    --pico-h5-color: #a78e84;
    --pico-h6-color: #594740;
    --pico-mark-background-color: #ffc37a;
    --pico-mark-color: #241d1a;
    --pico-ins-color: #b6c68a;
    --pico-del-color: #f6998f;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #362b27;
    --pico-code-background-color: #362b27;
    --pico-code-color: #ffc37a;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #241d1a;
    --pico-form-element-selected-background-color: #473933;
    --pico-form-element-border-color: #594740;
    --pico-form-element-color: #b8a59d;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #241d1a;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #f6998f;
    --pico-form-element-invalid-active-border-color: #ffa888;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #b6c68a;
    --pico-form-element-valid-active-border-color: #c0bcdb;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #594740;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #241d1a;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #473933;
    --pico-range-active-border-color: #594740;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #241d1a;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #362b27;
    --pico-dropdown-background-color: #241d1a;
    --pico-dropdown-border-color: #473933;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #362b27;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #473933;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #241d1a;
    --b16-base01: #362b27;
    --b16-base02: #473933;
    --b16-base03: #594740;
    --b16-base04: #a78e84;
    --b16-base05: #b8a59d;
    --b16-base06: #cabbb5;
    --b16-base07: #dcd2ce;
    --b16-base08: #f6998f;
    --b16-base09: #ffa888;
    --b16-base0A: #ffc37a;
    --b16-base0B: #b6c68a;
    --b16-base0C: #c0bcdb;
    --b16-base0D: #b0a4c3;
    --b16-base0E: #d8a2b0;
    --b16-base0F: #f1ae97;
}
