/* Framer Theme - by Framer (Maintained by Jesse Hoyos) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #181818;
    --pico-color: #d0d0d0;
    --pico-text-selection-color: #464646;
    --pico-muted-color: #747474;
    --pico-muted-border-color: #464646;
    --pico-primary: #20bcfc;
    --pico-primary-background: #464646;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #ba8cfc;
    --pico-primary-hover-background: #ba8cfc;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #181818;
    --pico-secondary: #b9b9b9;
    --pico-secondary-background: #464646;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #d0d0d0;
    --pico-secondary-hover-background: #747474;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #181818;
    --pico-contrast: #e8e8e8;
    --pico-contrast-background: #e8e8e8;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #eeeeee;
    --pico-contrast-hover-background: #eeeeee;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #181818;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #e8e8e8;
    --pico-h2-color: #d0d0d0;
    --pico-h3-color: #d0d0d0;
    --pico-h4-color: #b9b9b9;
    --pico-h5-color: #b9b9b9;
    --pico-h6-color: #747474;
    --pico-mark-background-color: #fecb6e;
    --pico-mark-color: #181818;
    --pico-ins-color: #32ccdc;
    --pico-del-color: #fd886b;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #151515;
    --pico-code-background-color: #151515;
    --pico-code-color: #fecb6e;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #181818;
    --pico-form-element-selected-background-color: #464646;
    --pico-form-element-border-color: #747474;
    --pico-form-element-color: #d0d0d0;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #181818;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #fd886b;
    --pico-form-element-invalid-active-border-color: #fc4769;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #32ccdc;
    --pico-form-element-valid-active-border-color: #acddfd;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #747474;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #181818;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #464646;
    --pico-range-active-border-color: #747474;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #181818;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #151515;
    --pico-dropdown-background-color: #181818;
    --pico-dropdown-border-color: #464646;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #151515;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #464646;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #181818;
    --b16-base01: #151515;
    --b16-base02: #464646;
    --b16-base03: #747474;
    --b16-base04: #b9b9b9;
    --b16-base05: #d0d0d0;
    --b16-base06: #e8e8e8;
    --b16-base07: #eeeeee;
    --b16-base08: #fd886b;
    --b16-base09: #fc4769;
    --b16-base0A: #fecb6e;
    --b16-base0B: #32ccdc;
    --b16-base0C: #acddfd;
    --b16-base0D: #20bcfc;
    --b16-base0E: #ba8cfc;
    --b16-base0F: #b15f4a;
}
