/* Penumbra Dark Contrast Plus Theme - by Zachary Weiss (https://github.com/zacharyweiss) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #181b1f;
    --pico-color: #cecece;
    --pico-text-selection-color: #3e4044;
    --pico-muted-color: #636363;
    --pico-muted-border-color: #3e4044;
    --pico-primary: #61a3e6;
    --pico-primary-background: #3e4044;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #a48fe1;
    --pico-primary-hover-background: #a48fe1;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #181b1f;
    --pico-secondary: #9e9e9e;
    --pico-secondary-background: #3e4044;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #cecece;
    --pico-secondary-hover-background: #636363;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #181b1f;
    --pico-contrast: #fff7ed;
    --pico-contrast-background: #fff7ed;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #fffdfb;
    --pico-contrast-hover-background: #fffdfb;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #181b1f;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #fff7ed;
    --pico-h2-color: #cecece;
    --pico-h3-color: #cecece;
    --pico-h4-color: #9e9e9e;
    --pico-h5-color: #9e9e9e;
    --pico-h6-color: #636363;
    --pico-mark-background-color: #9ca748;
    --pico-mark-color: #181b1f;
    --pico-ins-color: #50b584;
    --pico-del-color: #df7f78;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #24272b;
    --pico-code-background-color: #24272b;
    --pico-code-color: #9ca748;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #181b1f;
    --pico-form-element-selected-background-color: #3e4044;
    --pico-form-element-border-color: #636363;
    --pico-form-element-color: #cecece;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #181b1f;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #df7f78;
    --pico-form-element-invalid-active-border-color: #ce9042;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #50b584;
    --pico-form-element-valid-active-border-color: #00b3c2;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #636363;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #181b1f;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #3e4044;
    --pico-range-active-border-color: #636363;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #181b1f;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #24272b;
    --pico-dropdown-background-color: #181b1f;
    --pico-dropdown-border-color: #3e4044;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #24272b;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #3e4044;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #181b1f;
    --b16-base01: #24272b;
    --b16-base02: #3e4044;
    --b16-base03: #636363;
    --b16-base04: #9e9e9e;
    --b16-base05: #cecece;
    --b16-base06: #fff7ed;
    --b16-base07: #fffdfb;
    --b16-base08: #df7f78;
    --b16-base09: #ce9042;
    --b16-base0A: #9ca748;
    --b16-base0B: #50b584;
    --b16-base0C: #00b3c2;
    --b16-base0D: #61a3e6;
    --b16-base0E: #a48fe1;
    --b16-base0F: #d080b6;
}
