/* Espresso Theme - by Unknown. Maintained by Alex Mirrington (https://github.com/alexmirrington) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #2d2d2d;
    --pico-color: #cccccc;
    --pico-text-selection-color: #515151;
    --pico-muted-color: #777777;
    --pico-muted-border-color: #515151;
    --pico-primary: #6c99bb;
    --pico-primary-background: #515151;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #d197d9;
    --pico-primary-hover-background: #d197d9;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #2d2d2d;
    --pico-secondary: #b4b7b4;
    --pico-secondary-background: #515151;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #cccccc;
    --pico-secondary-hover-background: #777777;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #2d2d2d;
    --pico-contrast: #e0e0e0;
    --pico-contrast-background: #e0e0e0;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #ffffff;
    --pico-contrast-hover-background: #ffffff;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #2d2d2d;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #e0e0e0;
    --pico-h2-color: #cccccc;
    --pico-h3-color: #cccccc;
    --pico-h4-color: #b4b7b4;
    --pico-h5-color: #b4b7b4;
    --pico-h6-color: #777777;
    --pico-mark-background-color: #ffc66d;
    --pico-mark-color: #2d2d2d;
    --pico-ins-color: #a5c261;
    --pico-del-color: #d25252;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #393939;
    --pico-code-background-color: #393939;
    --pico-code-color: #ffc66d;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #2d2d2d;
    --pico-form-element-selected-background-color: #515151;
    --pico-form-element-border-color: #777777;
    --pico-form-element-color: #cccccc;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #2d2d2d;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #d25252;
    --pico-form-element-invalid-active-border-color: #f9a959;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #a5c261;
    --pico-form-element-valid-active-border-color: #bed6ff;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #777777;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #2d2d2d;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #515151;
    --pico-range-active-border-color: #777777;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #2d2d2d;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #393939;
    --pico-dropdown-background-color: #2d2d2d;
    --pico-dropdown-border-color: #515151;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #393939;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #515151;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #2d2d2d;
    --b16-base01: #393939;
    --b16-base02: #515151;
    --b16-base03: #777777;
    --b16-base04: #b4b7b4;
    --b16-base05: #cccccc;
    --b16-base06: #e0e0e0;
    --b16-base07: #ffffff;
    --b16-base08: #d25252;
    --b16-base09: #f9a959;
    --b16-base0A: #ffc66d;
    --b16-base0B: #a5c261;
    --b16-base0C: #bed6ff;
    --b16-base0D: #6c99bb;
    --b16-base0E: #d197d9;
    --b16-base0F: #f97394;
}
