/* XCode Dusk Theme - by Elsa Gonsiorowski (https://github.com/gonsie) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #282b35;
    --pico-color: #939599;
    --pico-text-selection-color: #53555d;
    --pico-muted-color: #686a71;
    --pico-muted-border-color: #53555d;
    --pico-primary: #790ead;
    --pico-primary-background: #53555d;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #b21889;
    --pico-primary-hover-background: #b21889;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #282b35;
    --pico-secondary: #7e8086;
    --pico-secondary-background: #53555d;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #939599;
    --pico-secondary-hover-background: #686a71;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #282b35;
    --pico-contrast: #a9aaae;
    --pico-contrast-background: #a9aaae;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #bebfc2;
    --pico-contrast-hover-background: #bebfc2;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #282b35;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #a9aaae;
    --pico-h2-color: #939599;
    --pico-h3-color: #939599;
    --pico-h4-color: #7e8086;
    --pico-h5-color: #7e8086;
    --pico-h6-color: #686a71;
    --pico-mark-background-color: #438288;
    --pico-mark-color: #282b35;
    --pico-ins-color: #df0002;
    --pico-del-color: #b21889;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #3d4048;
    --pico-code-background-color: #3d4048;
    --pico-code-color: #438288;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #282b35;
    --pico-form-element-selected-background-color: #53555d;
    --pico-form-element-border-color: #686a71;
    --pico-form-element-color: #939599;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #282b35;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #b21889;
    --pico-form-element-invalid-active-border-color: #786dc5;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #df0002;
    --pico-form-element-valid-active-border-color: #00a0be;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #686a71;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #282b35;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #53555d;
    --pico-range-active-border-color: #686a71;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #282b35;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #3d4048;
    --pico-dropdown-background-color: #282b35;
    --pico-dropdown-border-color: #53555d;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #3d4048;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #53555d;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #282b35;
    --b16-base01: #3d4048;
    --b16-base02: #53555d;
    --b16-base03: #686a71;
    --b16-base04: #7e8086;
    --b16-base05: #939599;
    --b16-base06: #a9aaae;
    --b16-base07: #bebfc2;
    --b16-base08: #b21889;
    --b16-base09: #786dc5;
    --b16-base0A: #438288;
    --b16-base0B: #df0002;
    --b16-base0C: #00a0be;
    --b16-base0D: #790ead;
    --b16-base0E: #b21889;
    --b16-base0F: #c77c48;
}
