/* selenized-light Theme - by Jan Warchol (https://github.com/jan-warchol/selenized) / adapted to base16 by ali */

[data-theme=light] {
    /* Pico CSS color variables */
    --pico-background-color: #fbf3db;
    --pico-color: #53676d;
    --pico-text-selection-color: #d5cdb6;
    --pico-muted-color: #909995;
    --pico-muted-border-color: #d5cdb6;
    --pico-primary: #006dce;
    --pico-primary-background: #d5cdb6;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #825dc0;
    --pico-primary-hover-background: #825dc0;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #fbf3db;
    --pico-secondary: #909995;
    --pico-secondary-background: #d5cdb6;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #53676d;
    --pico-secondary-hover-background: #909995;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #fbf3db;
    --pico-contrast: #3a4d53;
    --pico-contrast-background: #3a4d53;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #3a4d53;
    --pico-contrast-hover-background: #3a4d53;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #fbf3db;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #3a4d53;
    --pico-h2-color: #53676d;
    --pico-h3-color: #53676d;
    --pico-h4-color: #909995;
    --pico-h5-color: #909995;
    --pico-h6-color: #909995;
    --pico-mark-background-color: #a78300;
    --pico-mark-color: #fbf3db;
    --pico-ins-color: #428b00;
    --pico-del-color: #cc1729;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #ece3cc;
    --pico-code-background-color: #ece3cc;
    --pico-code-color: #a78300;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #fbf3db;
    --pico-form-element-selected-background-color: #d5cdb6;
    --pico-form-element-border-color: #909995;
    --pico-form-element-color: #53676d;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #fbf3db;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #cc1729;
    --pico-form-element-invalid-active-border-color: #bc5819;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #428b00;
    --pico-form-element-valid-active-border-color: #00978a;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #909995;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #fbf3db;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #d5cdb6;
    --pico-range-active-border-color: #909995;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #fbf3db;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #ece3cc;
    --pico-dropdown-background-color: #fbf3db;
    --pico-dropdown-border-color: #d5cdb6;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #ece3cc;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #d5cdb6;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #fbf3db;
    --b16-base01: #ece3cc;
    --b16-base02: #d5cdb6;
    --b16-base03: #909995;
    --b16-base04: #909995;
    --b16-base05: #53676d;
    --b16-base06: #3a4d53;
    --b16-base07: #3a4d53;
    --b16-base08: #cc1729;
    --b16-base09: #bc5819;
    --b16-base0A: #a78300;
    --b16-base0B: #428b00;
    --b16-base0C: #00978a;
    --b16-base0D: #006dce;
    --b16-base0E: #825dc0;
    --b16-base0F: #c44392;
}
