/* Brush Trees Theme - by Abraham White &lt;abelincoln.white@gmail.com&gt; */

[data-theme=light] {
    /* Pico CSS color variables */
    --pico-background-color: #e3efef;
    --pico-color: #6d828e;
    --pico-text-selection-color: #b0c5c8;
    --pico-muted-color: #98afb5;
    --pico-muted-border-color: #b0c5c8;
    --pico-primary: #868cb3;
    --pico-primary-background: #b0c5c8;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #b386b2;
    --pico-primary-hover-background: #b386b2;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #e3efef;
    --pico-secondary: #8299a1;
    --pico-secondary-background: #b0c5c8;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #6d828e;
    --pico-secondary-hover-background: #98afb5;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #e3efef;
    --pico-contrast: #5a6d7a;
    --pico-contrast-background: #5a6d7a;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #485867;
    --pico-contrast-hover-background: #485867;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #e3efef;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #5a6d7a;
    --pico-h2-color: #6d828e;
    --pico-h3-color: #6d828e;
    --pico-h4-color: #8299a1;
    --pico-h5-color: #8299a1;
    --pico-h6-color: #98afb5;
    --pico-mark-background-color: #aab386;
    --pico-mark-color: #e3efef;
    --pico-ins-color: #87b386;
    --pico-del-color: #b38686;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #c9dbdc;
    --pico-code-background-color: #c9dbdc;
    --pico-code-color: #aab386;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #e3efef;
    --pico-form-element-selected-background-color: #b0c5c8;
    --pico-form-element-border-color: #98afb5;
    --pico-form-element-color: #6d828e;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #e3efef;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #b38686;
    --pico-form-element-invalid-active-border-color: #d8bba2;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #87b386;
    --pico-form-element-valid-active-border-color: #86b3b3;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #98afb5;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #e3efef;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #b0c5c8;
    --pico-range-active-border-color: #98afb5;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #e3efef;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #c9dbdc;
    --pico-dropdown-background-color: #e3efef;
    --pico-dropdown-border-color: #b0c5c8;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #c9dbdc;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #b0c5c8;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #e3efef;
    --b16-base01: #c9dbdc;
    --b16-base02: #b0c5c8;
    --b16-base03: #98afb5;
    --b16-base04: #8299a1;
    --b16-base05: #6d828e;
    --b16-base06: #5a6d7a;
    --b16-base07: #485867;
    --b16-base08: #b38686;
    --b16-base09: #d8bba2;
    --b16-base0A: #aab386;
    --b16-base0B: #87b386;
    --b16-base0C: #86b3b3;
    --b16-base0D: #868cb3;
    --b16-base0E: #b386b2;
    --b16-base0F: #b39f9f;
}
