/* Precious Dark Fifteen Theme - by 4lex4 &lt;4lex49@zoho.com&gt; */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #23262b;
    --pico-color: #bab9b6;
    --pico-text-selection-color: #3e4044;
    --pico-muted-color: #898989;
    --pico-muted-border-color: #3e4044;
    --pico-primary: #66b0ef;
    --pico-primary-background: #3e4044;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #b799ff;
    --pico-primary-hover-background: #b799ff;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #23262b;
    --pico-secondary: #abaaa8;
    --pico-secondary-background: #3e4044;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #bab9b6;
    --pico-secondary-hover-background: #898989;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #23262b;
    --pico-contrast: #bab9b6;
    --pico-contrast-background: #bab9b6;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #bab9b6;
    --pico-contrast-hover-background: #bab9b6;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #23262b;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #bab9b6;
    --pico-h2-color: #bab9b6;
    --pico-h3-color: #bab9b6;
    --pico-h4-color: #abaaa8;
    --pico-h5-color: #abaaa8;
    --pico-h6-color: #898989;
    --pico-mark-background-color: #cfa546;
    --pico-mark-color: #23262b;
    --pico-ins-color: #95b659;
    --pico-del-color: #ff8782;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #303337;
    --pico-code-background-color: #303337;
    --pico-code-color: #cfa546;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #23262b;
    --pico-form-element-selected-background-color: #3e4044;
    --pico-form-element-border-color: #898989;
    --pico-form-element-color: #bab9b6;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #23262b;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #ff8782;
    --pico-form-element-invalid-active-border-color: #e99857;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #95b659;
    --pico-form-element-valid-active-border-color: #42bda7;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #898989;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #23262b;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #3e4044;
    --pico-range-active-border-color: #898989;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #23262b;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #303337;
    --pico-dropdown-background-color: #23262b;
    --pico-dropdown-border-color: #3e4044;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #303337;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #3e4044;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #23262b;
    --b16-base01: #303337;
    --b16-base02: #3e4044;
    --b16-base03: #898989;
    --b16-base04: #abaaa8;
    --b16-base05: #bab9b6;
    --b16-base06: #bab9b6;
    --b16-base07: #bab9b6;
    --b16-base08: #ff8782;
    --b16-base09: #e99857;
    --b16-base0A: #cfa546;
    --b16-base0B: #95b659;
    --b16-base0C: #42bda7;
    --b16-base0D: #66b0ef;
    --b16-base0E: #b799ff;
    --b16-base0F: #f382d8;
}
