/* Woodland Theme - by Jay Cornwall (https://jcornwall.com) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #231e18;
    --pico-color: #cabcb1;
    --pico-text-selection-color: #48413a;
    --pico-muted-color: #9d8b70;
    --pico-muted-border-color: #48413a;
    --pico-primary: #88a4d3;
    --pico-primary-background: #48413a;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #bb90e2;
    --pico-primary-hover-background: #bb90e2;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #231e18;
    --pico-secondary: #b4a490;
    --pico-secondary-background: #48413a;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #cabcb1;
    --pico-secondary-hover-background: #9d8b70;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #231e18;
    --pico-contrast: #d7c8bc;
    --pico-contrast-background: #d7c8bc;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #e4d4c8;
    --pico-contrast-hover-background: #e4d4c8;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #231e18;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #d7c8bc;
    --pico-h2-color: #cabcb1;
    --pico-h3-color: #cabcb1;
    --pico-h4-color: #b4a490;
    --pico-h5-color: #b4a490;
    --pico-h6-color: #9d8b70;
    --pico-mark-background-color: #e0ac16;
    --pico-mark-color: #231e18;
    --pico-ins-color: #b7ba53;
    --pico-del-color: #d35c5c;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #302b25;
    --pico-code-background-color: #302b25;
    --pico-code-color: #e0ac16;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #231e18;
    --pico-form-element-selected-background-color: #48413a;
    --pico-form-element-border-color: #9d8b70;
    --pico-form-element-color: #cabcb1;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #231e18;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #d35c5c;
    --pico-form-element-invalid-active-border-color: #ca7f32;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #b7ba53;
    --pico-form-element-valid-active-border-color: #6eb958;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #9d8b70;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #231e18;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #48413a;
    --pico-range-active-border-color: #9d8b70;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #231e18;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #302b25;
    --pico-dropdown-background-color: #231e18;
    --pico-dropdown-border-color: #48413a;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #302b25;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #48413a;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #231e18;
    --b16-base01: #302b25;
    --b16-base02: #48413a;
    --b16-base03: #9d8b70;
    --b16-base04: #b4a490;
    --b16-base05: #cabcb1;
    --b16-base06: #d7c8bc;
    --b16-base07: #e4d4c8;
    --b16-base08: #d35c5c;
    --b16-base09: #ca7f32;
    --b16-base0A: #e0ac16;
    --b16-base0B: #b7ba53;
    --b16-base0C: #6eb958;
    --b16-base0D: #88a4d3;
    --b16-base0E: #bb90e2;
    --b16-base0F: #b49368;
}
