/* Hopscotch Theme - by Jan T. Sott */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #322931;
    --pico-color: #b9b5b8;
    --pico-text-selection-color: #5c545b;
    --pico-muted-color: #797379;
    --pico-muted-border-color: #5c545b;
    --pico-primary: #1290bf;
    --pico-primary-background: #5c545b;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #c85e7c;
    --pico-primary-hover-background: #c85e7c;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #322931;
    --pico-secondary: #989498;
    --pico-secondary-background: #5c545b;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #b9b5b8;
    --pico-secondary-hover-background: #797379;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #322931;
    --pico-contrast: #d5d3d5;
    --pico-contrast-background: #d5d3d5;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #ffffff;
    --pico-contrast-hover-background: #ffffff;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #322931;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #d5d3d5;
    --pico-h2-color: #b9b5b8;
    --pico-h3-color: #b9b5b8;
    --pico-h4-color: #989498;
    --pico-h5-color: #989498;
    --pico-h6-color: #797379;
    --pico-mark-background-color: #fdcc59;
    --pico-mark-color: #322931;
    --pico-ins-color: #8fc13e;
    --pico-del-color: #dd464c;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #433b42;
    --pico-code-background-color: #433b42;
    --pico-code-color: #fdcc59;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #322931;
    --pico-form-element-selected-background-color: #5c545b;
    --pico-form-element-border-color: #797379;
    --pico-form-element-color: #b9b5b8;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #322931;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #dd464c;
    --pico-form-element-invalid-active-border-color: #fd8b19;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #8fc13e;
    --pico-form-element-valid-active-border-color: #149b93;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #797379;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #322931;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #5c545b;
    --pico-range-active-border-color: #797379;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #322931;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #433b42;
    --pico-dropdown-background-color: #322931;
    --pico-dropdown-border-color: #5c545b;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #433b42;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #5c545b;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #322931;
    --b16-base01: #433b42;
    --b16-base02: #5c545b;
    --b16-base03: #797379;
    --b16-base04: #989498;
    --b16-base05: #b9b5b8;
    --b16-base06: #d5d3d5;
    --b16-base07: #ffffff;
    --b16-base08: #dd464c;
    --b16-base09: #fd8b19;
    --b16-base0A: #fdcc59;
    --b16-base0B: #8fc13e;
    --b16-base0C: #149b93;
    --b16-base0D: #1290bf;
    --b16-base0E: #c85e7c;
    --b16-base0F: #b33508;
}
