/* Sagelight Theme - by Carter Veldhuizen */

[data-theme=light] {
    /* Pico CSS color variables */
    --pico-background-color: #f8f8f8;
    --pico-color: #383838;
    --pico-text-selection-color: #d8d8d8;
    --pico-muted-color: #b8b8b8;
    --pico-muted-border-color: #d8d8d8;
    --pico-primary: #a0a7d2;
    --pico-primary-background: #d8d8d8;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #c8a0d2;
    --pico-primary-hover-background: #c8a0d2;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #f8f8f8;
    --pico-secondary: #585858;
    --pico-secondary-background: #d8d8d8;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #383838;
    --pico-secondary-hover-background: #b8b8b8;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #f8f8f8;
    --pico-contrast: #282828;
    --pico-contrast-background: #282828;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #181818;
    --pico-contrast-hover-background: #181818;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #f8f8f8;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #282828;
    --pico-h2-color: #383838;
    --pico-h3-color: #383838;
    --pico-h4-color: #585858;
    --pico-h5-color: #585858;
    --pico-h6-color: #b8b8b8;
    --pico-mark-background-color: #ffdc61;
    --pico-mark-color: #f8f8f8;
    --pico-ins-color: #a0d2c8;
    --pico-del-color: #fa8480;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #e8e8e8;
    --pico-code-background-color: #e8e8e8;
    --pico-code-color: #ffdc61;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #f8f8f8;
    --pico-form-element-selected-background-color: #d8d8d8;
    --pico-form-element-border-color: #b8b8b8;
    --pico-form-element-color: #383838;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #f8f8f8;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #fa8480;
    --pico-form-element-invalid-active-border-color: #ffaa61;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #a0d2c8;
    --pico-form-element-valid-active-border-color: #a2d6f5;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #b8b8b8;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #f8f8f8;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #d8d8d8;
    --pico-range-active-border-color: #b8b8b8;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #f8f8f8;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #e8e8e8;
    --pico-dropdown-background-color: #f8f8f8;
    --pico-dropdown-border-color: #d8d8d8;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #e8e8e8;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #d8d8d8;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #f8f8f8;
    --b16-base01: #e8e8e8;
    --b16-base02: #d8d8d8;
    --b16-base03: #b8b8b8;
    --b16-base04: #585858;
    --b16-base05: #383838;
    --b16-base06: #282828;
    --b16-base07: #181818;
    --b16-base08: #fa8480;
    --b16-base09: #ffaa61;
    --b16-base0A: #ffdc61;
    --b16-base0B: #a0d2c8;
    --b16-base0C: #a2d6f5;
    --b16-base0D: #a0a7d2;
    --b16-base0E: #c8a0d2;
    --b16-base0F: #d2b2a0;
}
