/* Ayu Light Theme - by Khue Nguyen &lt;Z5483Y@gmail.com&gt; */

[data-theme=light] {
    /* Pico CSS color variables */
    --pico-background-color: #fafafa;
    --pico-color: #5c6773;
    --pico-text-selection-color: #f8f9fa;
    --pico-muted-color: #abb0b6;
    --pico-muted-border-color: #f8f9fa;
    --pico-primary: #36a3d9;
    --pico-primary-background: #f8f9fa;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #a37acc;
    --pico-primary-hover-background: #a37acc;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #fafafa;
    --pico-secondary: #828c99;
    --pico-secondary-background: #f8f9fa;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #5c6773;
    --pico-secondary-hover-background: #abb0b6;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #fafafa;
    --pico-contrast: #242936;
    --pico-contrast-background: #242936;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #1a1f29;
    --pico-contrast-hover-background: #1a1f29;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #fafafa;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #242936;
    --pico-h2-color: #5c6773;
    --pico-h3-color: #5c6773;
    --pico-h4-color: #828c99;
    --pico-h5-color: #828c99;
    --pico-h6-color: #abb0b6;
    --pico-mark-background-color: #f2ae49;
    --pico-mark-color: #fafafa;
    --pico-ins-color: #86b300;
    --pico-del-color: #f07178;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #f3f4f5;
    --pico-code-background-color: #f3f4f5;
    --pico-code-color: #f2ae49;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #fafafa;
    --pico-form-element-selected-background-color: #f8f9fa;
    --pico-form-element-border-color: #abb0b6;
    --pico-form-element-color: #5c6773;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #fafafa;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #f07178;
    --pico-form-element-invalid-active-border-color: #fa8d3e;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #86b300;
    --pico-form-element-valid-active-border-color: #4cbf99;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #abb0b6;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #fafafa;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #f8f9fa;
    --pico-range-active-border-color: #abb0b6;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #fafafa;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #f3f4f5;
    --pico-dropdown-background-color: #fafafa;
    --pico-dropdown-border-color: #f8f9fa;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #f3f4f5;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #f8f9fa;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #fafafa;
    --b16-base01: #f3f4f5;
    --b16-base02: #f8f9fa;
    --b16-base03: #abb0b6;
    --b16-base04: #828c99;
    --b16-base05: #5c6773;
    --b16-base06: #242936;
    --b16-base07: #1a1f29;
    --b16-base08: #f07178;
    --b16-base09: #fa8d3e;
    --b16-base0A: #f2ae49;
    --b16-base0B: #86b300;
    --b16-base0C: #4cbf99;
    --b16-base0D: #36a3d9;
    --b16-base0E: #a37acc;
    --b16-base0F: #e6ba7e;
}
