/* Mocha Theme - by Chris Kempson (http://chriskempson.com) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #3b3228;
    --pico-color: #d0c8c6;
    --pico-text-selection-color: #645240;
    --pico-muted-color: #7e705a;
    --pico-muted-border-color: #645240;
    --pico-primary: #8ab3b5;
    --pico-primary-background: #645240;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #a89bb9;
    --pico-primary-hover-background: #a89bb9;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #3b3228;
    --pico-secondary: #b8afad;
    --pico-secondary-background: #645240;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #d0c8c6;
    --pico-secondary-hover-background: #7e705a;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #3b3228;
    --pico-contrast: #e9e1dd;
    --pico-contrast-background: #e9e1dd;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #f5eeeb;
    --pico-contrast-hover-background: #f5eeeb;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #3b3228;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #e9e1dd;
    --pico-h2-color: #d0c8c6;
    --pico-h3-color: #d0c8c6;
    --pico-h4-color: #b8afad;
    --pico-h5-color: #b8afad;
    --pico-h6-color: #7e705a;
    --pico-mark-background-color: #f4bc87;
    --pico-mark-color: #3b3228;
    --pico-ins-color: #beb55b;
    --pico-del-color: #cb6077;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #534636;
    --pico-code-background-color: #534636;
    --pico-code-color: #f4bc87;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #3b3228;
    --pico-form-element-selected-background-color: #645240;
    --pico-form-element-border-color: #7e705a;
    --pico-form-element-color: #d0c8c6;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #3b3228;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #cb6077;
    --pico-form-element-invalid-active-border-color: #d28b71;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #beb55b;
    --pico-form-element-valid-active-border-color: #7bbda4;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #7e705a;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #3b3228;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #645240;
    --pico-range-active-border-color: #7e705a;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #3b3228;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #534636;
    --pico-dropdown-background-color: #3b3228;
    --pico-dropdown-border-color: #645240;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #534636;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #645240;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #3b3228;
    --b16-base01: #534636;
    --b16-base02: #645240;
    --b16-base03: #7e705a;
    --b16-base04: #b8afad;
    --b16-base05: #d0c8c6;
    --b16-base06: #e9e1dd;
    --b16-base07: #f5eeeb;
    --b16-base08: #cb6077;
    --b16-base09: #d28b71;
    --b16-base0A: #f4bc87;
    --b16-base0B: #beb55b;
    --b16-base0C: #7bbda4;
    --b16-base0D: #8ab3b5;
    --b16-base0E: #a89bb9;
    --b16-base0F: #bb9584;
}
