/* Brogrammer Theme - by Vik Ramanujam (http://github.com/piggyslasher) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #1f1f1f;
    --pico-color: #4e5ab7;
    --pico-text-selection-color: #2dc55e;
    --pico-muted-color: #ecba0f;
    --pico-muted-border-color: #2dc55e;
    --pico-primary: #5350b9;
    --pico-primary-background: #2dc55e;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #0f7ddb;
    --pico-primary-hover-background: #0f7ddb;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #1f1f1f;
    --pico-secondary: #2a84d2;
    --pico-secondary-background: #2dc55e;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #4e5ab7;
    --pico-secondary-hover-background: #ecba0f;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #1f1f1f;
    --pico-contrast: #1081d6;
    --pico-contrast-background: #1081d6;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #d6dbe5;
    --pico-contrast-hover-background: #d6dbe5;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #1f1f1f;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #1081d6;
    --pico-h2-color: #4e5ab7;
    --pico-h3-color: #4e5ab7;
    --pico-h4-color: #2a84d2;
    --pico-h5-color: #2a84d2;
    --pico-h6-color: #ecba0f;
    --pico-mark-background-color: #1dd361;
    --pico-mark-color: #1f1f1f;
    --pico-ins-color: #f3bd09;
    --pico-del-color: #d6dbe5;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #f81118;
    --pico-code-background-color: #f81118;
    --pico-code-color: #1dd361;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #1f1f1f;
    --pico-form-element-selected-background-color: #2dc55e;
    --pico-form-element-border-color: #ecba0f;
    --pico-form-element-color: #4e5ab7;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #1f1f1f;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #d6dbe5;
    --pico-form-element-invalid-active-border-color: #de352e;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #f3bd09;
    --pico-form-element-valid-active-border-color: #1081d6;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #ecba0f;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #1f1f1f;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #2dc55e;
    --pico-range-active-border-color: #ecba0f;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #1f1f1f;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #f81118;
    --pico-dropdown-background-color: #1f1f1f;
    --pico-dropdown-border-color: #2dc55e;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #f81118;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #2dc55e;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #1f1f1f;
    --b16-base01: #f81118;
    --b16-base02: #2dc55e;
    --b16-base03: #ecba0f;
    --b16-base04: #2a84d2;
    --b16-base05: #4e5ab7;
    --b16-base06: #1081d6;
    --b16-base07: #d6dbe5;
    --b16-base08: #d6dbe5;
    --b16-base09: #de352e;
    --b16-base0A: #1dd361;
    --b16-base0B: #f3bd09;
    --b16-base0C: #1081d6;
    --b16-base0D: #5350b9;
    --b16-base0E: #0f7ddb;
    --b16-base0F: #ffffff;
}
