/* Edge Dark Theme - by cjayross (https://github.com/cjayross) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #262729;
    --pico-color: #b7bec9;
    --pico-text-selection-color: #b7bec9;
    --pico-muted-color: #3e4249;
    --pico-muted-border-color: #b7bec9;
    --pico-primary: #73b3e7;
    --pico-primary-background: #b7bec9;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #d390e7;
    --pico-primary-hover-background: #d390e7;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #262729;
    --pico-secondary: #73b3e7;
    --pico-secondary-background: #b7bec9;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #b7bec9;
    --pico-secondary-hover-background: #3e4249;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #262729;
    --pico-contrast: #d390e7;
    --pico-contrast-background: #d390e7;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #3e4249;
    --pico-contrast-hover-background: #3e4249;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #262729;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #d390e7;
    --pico-h2-color: #b7bec9;
    --pico-h3-color: #b7bec9;
    --pico-h4-color: #73b3e7;
    --pico-h5-color: #73b3e7;
    --pico-h6-color: #3e4249;
    --pico-mark-background-color: #dbb774;
    --pico-mark-color: #262729;
    --pico-ins-color: #a1bf78;
    --pico-del-color: #e77171;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #88909f;
    --pico-code-background-color: #88909f;
    --pico-code-color: #dbb774;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #262729;
    --pico-form-element-selected-background-color: #b7bec9;
    --pico-form-element-border-color: #3e4249;
    --pico-form-element-color: #b7bec9;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #262729;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #e77171;
    --pico-form-element-invalid-active-border-color: #e77171;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #a1bf78;
    --pico-form-element-valid-active-border-color: #5ebaa5;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #3e4249;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #262729;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #b7bec9;
    --pico-range-active-border-color: #3e4249;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #262729;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #88909f;
    --pico-dropdown-background-color: #262729;
    --pico-dropdown-border-color: #b7bec9;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #88909f;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #b7bec9;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #262729;
    --b16-base01: #88909f;
    --b16-base02: #b7bec9;
    --b16-base03: #3e4249;
    --b16-base04: #73b3e7;
    --b16-base05: #b7bec9;
    --b16-base06: #d390e7;
    --b16-base07: #3e4249;
    --b16-base08: #e77171;
    --b16-base09: #e77171;
    --b16-base0A: #dbb774;
    --b16-base0B: #a1bf78;
    --b16-base0C: #5ebaa5;
    --b16-base0D: #73b3e7;
    --b16-base0E: #d390e7;
    --b16-base0F: #5ebaa5;
}
