/* Catppuccin Macchiato Theme - by https://github.com/catppuccin/catppuccin */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #24273a;
    --pico-color: #cad3f5;
    --pico-text-selection-color: #363a4f;
    --pico-muted-color: #494d64;
    --pico-muted-border-color: #363a4f;
    --pico-primary: #8aadf4;
    --pico-primary-background: #363a4f;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #c6a0f6;
    --pico-primary-hover-background: #c6a0f6;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #24273a;
    --pico-secondary: #5b6078;
    --pico-secondary-background: #363a4f;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #cad3f5;
    --pico-secondary-hover-background: #494d64;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #24273a;
    --pico-contrast: #f4dbd6;
    --pico-contrast-background: #f4dbd6;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #b7bdf8;
    --pico-contrast-hover-background: #b7bdf8;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #24273a;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #f4dbd6;
    --pico-h2-color: #cad3f5;
    --pico-h3-color: #cad3f5;
    --pico-h4-color: #5b6078;
    --pico-h5-color: #5b6078;
    --pico-h6-color: #494d64;
    --pico-mark-background-color: #eed49f;
    --pico-mark-color: #24273a;
    --pico-ins-color: #a6da95;
    --pico-del-color: #ed8796;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #1e2030;
    --pico-code-background-color: #1e2030;
    --pico-code-color: #eed49f;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #24273a;
    --pico-form-element-selected-background-color: #363a4f;
    --pico-form-element-border-color: #494d64;
    --pico-form-element-color: #cad3f5;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #24273a;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #ed8796;
    --pico-form-element-invalid-active-border-color: #f5a97f;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #a6da95;
    --pico-form-element-valid-active-border-color: #8bd5ca;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #494d64;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #24273a;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #363a4f;
    --pico-range-active-border-color: #494d64;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #24273a;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #1e2030;
    --pico-dropdown-background-color: #24273a;
    --pico-dropdown-border-color: #363a4f;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #1e2030;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #363a4f;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #24273a;
    --b16-base01: #1e2030;
    --b16-base02: #363a4f;
    --b16-base03: #494d64;
    --b16-base04: #5b6078;
    --b16-base05: #cad3f5;
    --b16-base06: #f4dbd6;
    --b16-base07: #b7bdf8;
    --b16-base08: #ed8796;
    --b16-base09: #f5a97f;
    --b16-base0A: #eed49f;
    --b16-base0B: #a6da95;
    --b16-base0C: #8bd5ca;
    --b16-base0D: #8aadf4;
    --b16-base0E: #c6a0f6;
    --b16-base0F: #f0c6c6;
}
