/* Vesper Theme - by FormalSnake (https://github.com/formalsnake) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #101010;
    --pico-color: #b7b7b7;
    --pico-text-selection-color: #222222;
    --pico-muted-color: #333333;
    --pico-muted-border-color: #222222;
    --pico-primary: #8eaaaa;
    --pico-primary-background: #222222;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #d69094;
    --pico-primary-hover-background: #d69094;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #101010;
    --pico-secondary: #999999;
    --pico-secondary-background: #222222;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #b7b7b7;
    --pico-secondary-hover-background: #333333;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #101010;
    --pico-contrast: #c1c1c1;
    --pico-contrast-background: #c1c1c1;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #d5d5d5;
    --pico-contrast-hover-background: #d5d5d5;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #101010;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #c1c1c1;
    --pico-h2-color: #b7b7b7;
    --pico-h3-color: #b7b7b7;
    --pico-h4-color: #999999;
    --pico-h5-color: #999999;
    --pico-h6-color: #333333;
    --pico-mark-background-color: #ffc799;
    --pico-mark-color: #101010;
    --pico-ins-color: #5f8787;
    --pico-del-color: #de6e6e;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #232323;
    --pico-code-background-color: #232323;
    --pico-code-color: #ffc799;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #101010;
    --pico-form-element-selected-background-color: #222222;
    --pico-form-element-border-color: #333333;
    --pico-form-element-color: #b7b7b7;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #101010;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #de6e6e;
    --pico-form-element-invalid-active-border-color: #dab083;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #5f8787;
    --pico-form-element-valid-active-border-color: #60a592;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #333333;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #101010;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #222222;
    --pico-range-active-border-color: #333333;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #101010;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #232323;
    --pico-dropdown-background-color: #101010;
    --pico-dropdown-border-color: #222222;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #232323;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #222222;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #101010;
    --b16-base01: #232323;
    --b16-base02: #222222;
    --b16-base03: #333333;
    --b16-base04: #999999;
    --b16-base05: #b7b7b7;
    --b16-base06: #c1c1c1;
    --b16-base07: #d5d5d5;
    --b16-base08: #de6e6e;
    --b16-base09: #dab083;
    --b16-base0A: #ffc799;
    --b16-base0B: #5f8787;
    --b16-base0C: #60a592;
    --b16-base0D: #8eaaaa;
    --b16-base0E: #d69094;
    --b16-base0F: #876c4f;
}
