/* Atelier Plateau Theme - by Bram de Haan (http://atelierbramdehaan.nl) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #1b1818;
    --pico-color: #8a8585;
    --pico-text-selection-color: #585050;
    --pico-muted-color: #655d5d;
    --pico-muted-border-color: #585050;
    --pico-primary: #7272ca;
    --pico-primary-background: #585050;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #8464c4;
    --pico-primary-hover-background: #8464c4;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #1b1818;
    --pico-secondary: #7e7777;
    --pico-secondary-background: #585050;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #8a8585;
    --pico-secondary-hover-background: #655d5d;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #1b1818;
    --pico-contrast: #e7dfdf;
    --pico-contrast-background: #e7dfdf;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #f4ecec;
    --pico-contrast-hover-background: #f4ecec;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #1b1818;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #e7dfdf;
    --pico-h2-color: #8a8585;
    --pico-h3-color: #8a8585;
    --pico-h4-color: #7e7777;
    --pico-h5-color: #7e7777;
    --pico-h6-color: #655d5d;
    --pico-mark-background-color: #a06e3b;
    --pico-mark-color: #1b1818;
    --pico-ins-color: #4b8b8b;
    --pico-del-color: #ca4949;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #292424;
    --pico-code-background-color: #292424;
    --pico-code-color: #a06e3b;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #1b1818;
    --pico-form-element-selected-background-color: #585050;
    --pico-form-element-border-color: #655d5d;
    --pico-form-element-color: #8a8585;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #1b1818;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #ca4949;
    --pico-form-element-invalid-active-border-color: #b45a3c;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #4b8b8b;
    --pico-form-element-valid-active-border-color: #5485b6;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #655d5d;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #1b1818;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #585050;
    --pico-range-active-border-color: #655d5d;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #1b1818;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #292424;
    --pico-dropdown-background-color: #1b1818;
    --pico-dropdown-border-color: #585050;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #292424;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #585050;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #1b1818;
    --b16-base01: #292424;
    --b16-base02: #585050;
    --b16-base03: #655d5d;
    --b16-base04: #7e7777;
    --b16-base05: #8a8585;
    --b16-base06: #e7dfdf;
    --b16-base07: #f4ecec;
    --b16-base08: #ca4949;
    --b16-base09: #b45a3c;
    --b16-base0A: #a06e3b;
    --b16-base0B: #4b8b8b;
    --b16-base0C: #5485b6;
    --b16-base0D: #7272ca;
    --b16-base0E: #8464c4;
    --b16-base0F: #bd5187;
}
