/* Precious Light White Theme - by 4lex4 &lt;4lex49@zoho.com&gt; */

[data-theme=light] {
    /* Pico CSS color variables */
    --pico-background-color: #ffffff;
    --pico-color: #555555;
    --pico-text-selection-color: #dbdbdb;
    --pico-muted-color: #848484;
    --pico-muted-border-color: #dbdbdb;
    --pico-primary: #186daa;
    --pico-primary-background: #dbdbdb;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #7b4ecb;
    --pico-primary-hover-background: #7b4ecb;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #ffffff;
    --pico-secondary: #636363;
    --pico-secondary-background: #dbdbdb;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #555555;
    --pico-secondary-hover-background: #848484;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #ffffff;
    --pico-contrast: #555555;
    --pico-contrast-background: #555555;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #555555;
    --pico-contrast-hover-background: #555555;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #ffffff;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #555555;
    --pico-h2-color: #555555;
    --pico-h3-color: #555555;
    --pico-h4-color: #636363;
    --pico-h5-color: #636363;
    --pico-h6-color: #848484;
    --pico-mark-background-color: #876500;
    --pico-mark-color: #ffffff;
    --pico-ins-color: #557301;
    --pico-del-color: #af4947;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #ededed;
    --pico-code-background-color: #ededed;
    --pico-code-color: #876500;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #ffffff;
    --pico-form-element-selected-background-color: #dbdbdb;
    --pico-form-element-border-color: #848484;
    --pico-form-element-color: #555555;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #ffffff;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #af4947;
    --pico-form-element-invalid-active-border-color: #a0570d;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #557301;
    --pico-form-element-valid-active-border-color: #087767;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #848484;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #ffffff;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #dbdbdb;
    --pico-range-active-border-color: #848484;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #ffffff;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #ededed;
    --pico-dropdown-background-color: #ffffff;
    --pico-dropdown-border-color: #dbdbdb;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #ededed;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #dbdbdb;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #ffffff;
    --b16-base01: #ededed;
    --b16-base02: #dbdbdb;
    --b16-base03: #848484;
    --b16-base04: #636363;
    --b16-base05: #555555;
    --b16-base06: #555555;
    --b16-base07: #555555;
    --b16-base08: #af4947;
    --b16-base09: #a0570d;
    --b16-base0A: #876500;
    --b16-base0B: #557301;
    --b16-base0C: #087767;
    --b16-base0D: #186daa;
    --b16-base0E: #7b4ecb;
    --b16-base0F: #a93e93;
}
