/* Unikitty Reversible Theme - by Josh W Lewis (@joshwlewis) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #2e2a31;
    --pico-color: #c3c2c4;
    --pico-text-selection-color: #69666b;
    --pico-muted-color: #878589;
    --pico-muted-border-color: #69666b;
    --pico-primary: #7864fa;
    --pico-primary-background: #69666b;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #b33ce8;
    --pico-primary-hover-background: #b33ce8;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #2e2a31;
    --pico-secondary: #a5a3a6;
    --pico-secondary-background: #69666b;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #c3c2c4;
    --pico-secondary-hover-background: #878589;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #2e2a31;
    --pico-contrast: #e1e0e1;
    --pico-contrast-background: #e1e0e1;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #ffffff;
    --pico-contrast-hover-background: #ffffff;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #2e2a31;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #e1e0e1;
    --pico-h2-color: #c3c2c4;
    --pico-h3-color: #c3c2c4;
    --pico-h4-color: #a5a3a6;
    --pico-h5-color: #a5a3a6;
    --pico-h6-color: #878589;
    --pico-mark-background-color: #dc8a0e;
    --pico-mark-color: #2e2a31;
    --pico-ins-color: #17ad98;
    --pico-del-color: #d8137f;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #4b484e;
    --pico-code-background-color: #4b484e;
    --pico-code-color: #dc8a0e;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #2e2a31;
    --pico-form-element-selected-background-color: #69666b;
    --pico-form-element-border-color: #878589;
    --pico-form-element-color: #c3c2c4;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #2e2a31;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #d8137f;
    --pico-form-element-invalid-active-border-color: #d65407;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #17ad98;
    --pico-form-element-valid-active-border-color: #149bda;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #878589;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #2e2a31;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #69666b;
    --pico-range-active-border-color: #878589;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #2e2a31;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #4b484e;
    --pico-dropdown-background-color: #2e2a31;
    --pico-dropdown-border-color: #69666b;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #4b484e;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #69666b;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #2e2a31;
    --b16-base01: #4b484e;
    --b16-base02: #69666b;
    --b16-base03: #878589;
    --b16-base04: #a5a3a6;
    --b16-base05: #c3c2c4;
    --b16-base06: #e1e0e1;
    --b16-base07: #ffffff;
    --b16-base08: #d8137f;
    --b16-base09: #d65407;
    --b16-base0A: #dc8a0e;
    --b16-base0B: #17ad98;
    --b16-base0C: #149bda;
    --b16-base0D: #7864fa;
    --b16-base0E: #b33ce8;
    --b16-base0F: #d41acd;
}
