/* Chinoiserie Theme - by Di Wang (https://cs.cmu.edu/~diw3) */

[data-theme=light] {
    /* Pico CSS color variables */
    --pico-background-color: #ffffff;
    --pico-color: #4a4035;
    --pico-text-selection-color: #d6d6d6;
    --pico-muted-color: #80766e;
    --pico-muted-border-color: #d6d6d6;
    --pico-primary: #815c94;
    --pico-primary-background: #d6d6d6;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #c08eaf;
    --pico-primary-hover-background: #c08eaf;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #ffffff;
    --pico-secondary: #918072;
    --pico-secondary-background: #d6d6d6;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #4a4035;
    --pico-secondary-hover-background: #80766e;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #ffffff;
    --pico-contrast: #2f2f35;
    --pico-contrast-background: #2f2f35;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #131124;
    --pico-contrast-hover-background: #131124;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #ffffff;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #2f2f35;
    --pico-h2-color: #4a4035;
    --pico-h3-color: #4a4035;
    --pico-h4-color: #918072;
    --pico-h5-color: #918072;
    --pico-h6-color: #80766e;
    --pico-mark-background-color: #d6a01d;
    --pico-mark-color: #ffffff;
    --pico-ins-color: #428675;
    --pico-del-color: #c04851;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #e0e0e0;
    --pico-code-background-color: #e0e0e0;
    --pico-code-color: #d6a01d;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #ffffff;
    --pico-form-element-selected-background-color: #d6d6d6;
    --pico-form-element-border-color: #80766e;
    --pico-form-element-color: #4a4035;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #ffffff;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #c04851;
    --pico-form-element-invalid-active-border-color: #fb8b05;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #428675;
    --pico-form-element-valid-active-border-color: #2b73af;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #80766e;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #ffffff;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #d6d6d6;
    --pico-range-active-border-color: #80766e;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #ffffff;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #e0e0e0;
    --pico-dropdown-background-color: #ffffff;
    --pico-dropdown-border-color: #d6d6d6;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #e0e0e0;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #d6d6d6;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #ffffff;
    --b16-base01: #e0e0e0;
    --b16-base02: #d6d6d6;
    --b16-base03: #80766e;
    --b16-base04: #918072;
    --b16-base05: #4a4035;
    --b16-base06: #2f2f35;
    --b16-base07: #131124;
    --b16-base08: #c04851;
    --b16-base09: #fb8b05;
    --b16-base0A: #d6a01d;
    --b16-base0B: #428675;
    --b16-base0C: #2b73af;
    --b16-base0D: #815c94;
    --b16-base0E: #c08eaf;
    --b16-base0F: #945833;
}
