/* Da One White Theme - by NNB (https://github.com/NNBnh) */

[data-theme=light] {
    /* Pico CSS color variables */
    --pico-background-color: #ffffff;
    --pico-color: #181818;
    --pico-text-selection-color: #888888;
    --pico-muted-color: #585858;
    --pico-muted-border-color: #888888;
    --pico-primary: #5890f8;
    --pico-primary-background: #888888;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #c173d1;
    --pico-primary-hover-background: #c173d1;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #ffffff;
    --pico-secondary: #282828;
    --pico-secondary-background: #888888;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #181818;
    --pico-secondary-hover-background: #585858;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #ffffff;
    --pico-contrast: #000000;
    --pico-contrast-background: #000000;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #000000;
    --pico-contrast-hover-background: #000000;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #ffffff;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #000000;
    --pico-h2-color: #181818;
    --pico-h3-color: #181818;
    --pico-h4-color: #282828;
    --pico-h5-color: #282828;
    --pico-h6-color: #585858;
    --pico-mark-background-color: #b3684f;
    --pico-mark-color: #ffffff;
    --pico-ins-color: #76a85d;
    --pico-del-color: #de5d6e;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #c8c8c8;
    --pico-code-background-color: #c8c8c8;
    --pico-code-color: #b3684f;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #ffffff;
    --pico-form-element-selected-background-color: #888888;
    --pico-form-element-border-color: #585858;
    --pico-form-element-color: #181818;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #ffffff;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #de5d6e;
    --pico-form-element-invalid-active-border-color: #ff9470;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #76a85d;
    --pico-form-element-valid-active-border-color: #64b5a7;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #585858;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #ffffff;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #888888;
    --pico-range-active-border-color: #585858;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #ffffff;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #c8c8c8;
    --pico-dropdown-background-color: #ffffff;
    --pico-dropdown-border-color: #888888;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #c8c8c8;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #888888;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #ffffff;
    --b16-base01: #c8c8c8;
    --b16-base02: #888888;
    --b16-base03: #585858;
    --b16-base04: #282828;
    --b16-base05: #181818;
    --b16-base06: #000000;
    --b16-base07: #000000;
    --b16-base08: #de5d6e;
    --b16-base09: #ff9470;
    --b16-base0A: #b3684f;
    --b16-base0B: #76a85d;
    --b16-base0C: #64b5a7;
    --b16-base0D: #5890f8;
    --b16-base0E: #c173d1;
    --b16-base0F: #b3684f;
}
