/* 3024 Theme - by Jan T. Sott (http://github.com/idleberg) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #090300;
    --pico-color: #a5a2a2;
    --pico-text-selection-color: #4a4543;
    --pico-muted-color: #5c5855;
    --pico-muted-border-color: #4a4543;
    --pico-primary: #01a0e4;
    --pico-primary-background: #4a4543;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #a16a94;
    --pico-primary-hover-background: #a16a94;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #090300;
    --pico-secondary: #807d7c;
    --pico-secondary-background: #4a4543;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #a5a2a2;
    --pico-secondary-hover-background: #5c5855;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #090300;
    --pico-contrast: #d6d5d4;
    --pico-contrast-background: #d6d5d4;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #f7f7f7;
    --pico-contrast-hover-background: #f7f7f7;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #090300;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #d6d5d4;
    --pico-h2-color: #a5a2a2;
    --pico-h3-color: #a5a2a2;
    --pico-h4-color: #807d7c;
    --pico-h5-color: #807d7c;
    --pico-h6-color: #5c5855;
    --pico-mark-background-color: #fded02;
    --pico-mark-color: #090300;
    --pico-ins-color: #01a252;
    --pico-del-color: #db2d20;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #3a3432;
    --pico-code-background-color: #3a3432;
    --pico-code-color: #fded02;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #090300;
    --pico-form-element-selected-background-color: #4a4543;
    --pico-form-element-border-color: #5c5855;
    --pico-form-element-color: #a5a2a2;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #090300;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #db2d20;
    --pico-form-element-invalid-active-border-color: #e8bbd0;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #01a252;
    --pico-form-element-valid-active-border-color: #b5e4f4;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #5c5855;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #090300;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #4a4543;
    --pico-range-active-border-color: #5c5855;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #090300;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #3a3432;
    --pico-dropdown-background-color: #090300;
    --pico-dropdown-border-color: #4a4543;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #3a3432;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #4a4543;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #090300;
    --b16-base01: #3a3432;
    --b16-base02: #4a4543;
    --b16-base03: #5c5855;
    --b16-base04: #807d7c;
    --b16-base05: #a5a2a2;
    --b16-base06: #d6d5d4;
    --b16-base07: #f7f7f7;
    --b16-base08: #db2d20;
    --b16-base09: #e8bbd0;
    --b16-base0A: #fded02;
    --b16-base0B: #01a252;
    --b16-base0C: #b5e4f4;
    --b16-base0D: #01a0e4;
    --b16-base0E: #a16a94;
    --b16-base0F: #cdab53;
}
