/* Atelier Heath Theme - by Bram de Haan (http://atelierbramdehaan.nl) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #1b181b;
    --pico-color: #ab9bab;
    --pico-text-selection-color: #695d69;
    --pico-muted-color: #776977;
    --pico-muted-border-color: #695d69;
    --pico-primary: #516aec;
    --pico-primary-background: #695d69;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #7b59c0;
    --pico-primary-hover-background: #7b59c0;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #1b181b;
    --pico-secondary: #9e8f9e;
    --pico-secondary-background: #695d69;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #ab9bab;
    --pico-secondary-hover-background: #776977;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #1b181b;
    --pico-contrast: #d8cad8;
    --pico-contrast-background: #d8cad8;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #f7f3f7;
    --pico-contrast-hover-background: #f7f3f7;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #1b181b;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #d8cad8;
    --pico-h2-color: #ab9bab;
    --pico-h3-color: #ab9bab;
    --pico-h4-color: #9e8f9e;
    --pico-h5-color: #9e8f9e;
    --pico-h6-color: #776977;
    --pico-mark-background-color: #bb8a35;
    --pico-mark-color: #1b181b;
    --pico-ins-color: #918b3b;
    --pico-del-color: #ca402b;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #292329;
    --pico-code-background-color: #292329;
    --pico-code-color: #bb8a35;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #1b181b;
    --pico-form-element-selected-background-color: #695d69;
    --pico-form-element-border-color: #776977;
    --pico-form-element-color: #ab9bab;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #1b181b;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #ca402b;
    --pico-form-element-invalid-active-border-color: #a65926;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #918b3b;
    --pico-form-element-valid-active-border-color: #159393;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #776977;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #1b181b;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #695d69;
    --pico-range-active-border-color: #776977;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #1b181b;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #292329;
    --pico-dropdown-background-color: #1b181b;
    --pico-dropdown-border-color: #695d69;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #292329;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #695d69;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #1b181b;
    --b16-base01: #292329;
    --b16-base02: #695d69;
    --b16-base03: #776977;
    --b16-base04: #9e8f9e;
    --b16-base05: #ab9bab;
    --b16-base06: #d8cad8;
    --b16-base07: #f7f3f7;
    --b16-base08: #ca402b;
    --b16-base09: #a65926;
    --b16-base0A: #bb8a35;
    --b16-base0B: #918b3b;
    --b16-base0C: #159393;
    --b16-base0D: #516aec;
    --b16-base0E: #7b59c0;
    --b16-base0F: #cc33cc;
}
