/* Materia Theme - by Defman21 */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #263238;
    --pico-color: #cdd3de;
    --pico-text-selection-color: #37474f;
    --pico-muted-color: #707880;
    --pico-muted-border-color: #37474f;
    --pico-primary: #89ddff;
    --pico-primary-background: #37474f;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #82aaff;
    --pico-primary-hover-background: #82aaff;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #263238;
    --pico-secondary: #c9ccd3;
    --pico-secondary-background: #37474f;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #cdd3de;
    --pico-secondary-hover-background: #707880;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #263238;
    --pico-contrast: #d5dbe5;
    --pico-contrast-background: #d5dbe5;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #ffffff;
    --pico-contrast-hover-background: #ffffff;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #263238;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #d5dbe5;
    --pico-h2-color: #cdd3de;
    --pico-h3-color: #cdd3de;
    --pico-h4-color: #c9ccd3;
    --pico-h5-color: #c9ccd3;
    --pico-h6-color: #707880;
    --pico-mark-background-color: #ffcc00;
    --pico-mark-color: #263238;
    --pico-ins-color: #8bd649;
    --pico-del-color: #ec5f67;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #2c393f;
    --pico-code-background-color: #2c393f;
    --pico-code-color: #ffcc00;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #263238;
    --pico-form-element-selected-background-color: #37474f;
    --pico-form-element-border-color: #707880;
    --pico-form-element-color: #cdd3de;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #263238;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #ec5f67;
    --pico-form-element-invalid-active-border-color: #ea9560;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #8bd649;
    --pico-form-element-valid-active-border-color: #80cbc4;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #707880;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #263238;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #37474f;
    --pico-range-active-border-color: #707880;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #263238;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #2c393f;
    --pico-dropdown-background-color: #263238;
    --pico-dropdown-border-color: #37474f;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #2c393f;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #37474f;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #263238;
    --b16-base01: #2c393f;
    --b16-base02: #37474f;
    --b16-base03: #707880;
    --b16-base04: #c9ccd3;
    --b16-base05: #cdd3de;
    --b16-base06: #d5dbe5;
    --b16-base07: #ffffff;
    --b16-base08: #ec5f67;
    --b16-base09: #ea9560;
    --b16-base0A: #ffcc00;
    --b16-base0B: #8bd649;
    --b16-base0C: #80cbc4;
    --b16-base0D: #89ddff;
    --b16-base0E: #82aaff;
    --b16-base0F: #ec5f67;
}
