/* Aztec Theme - by TheNeverMan (github.com/TheNeverMan) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #101600;
    --pico-color: #ffda51;
    --pico-text-selection-color: #242604;
    --pico-muted-color: #2e2e05;
    --pico-muted-border-color: #242604;
    --pico-primary: #5b4a9f;
    --pico-primary-background: #242604;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #883e9f;
    --pico-primary-hover-background: #883e9f;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #101600;
    --pico-secondary: #ffd129;
    --pico-secondary-background: #242604;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #ffda51;
    --pico-secondary-hover-background: #2e2e05;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #101600;
    --pico-contrast: #ffe178;
    --pico-contrast-background: #ffe178;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #ffeba0;
    --pico-contrast-hover-background: #ffeba0;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #101600;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #ffe178;
    --pico-h2-color: #ffda51;
    --pico-h3-color: #ffda51;
    --pico-h4-color: #ffd129;
    --pico-h5-color: #ffd129;
    --pico-h6-color: #2e2e05;
    --pico-mark-background-color: #eebb00;
    --pico-mark-color: #101600;
    --pico-ins-color: #63d932;
    --pico-del-color: #ee2e00;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #1a1e01;
    --pico-code-background-color: #1a1e01;
    --pico-code-color: #eebb00;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #101600;
    --pico-form-element-selected-background-color: #242604;
    --pico-form-element-border-color: #2e2e05;
    --pico-form-element-color: #ffda51;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #101600;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #ee2e00;
    --pico-form-element-invalid-active-border-color: #ee8800;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #63d932;
    --pico-form-element-valid-active-border-color: #3d94a5;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #2e2e05;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #101600;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #242604;
    --pico-range-active-border-color: #2e2e05;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #101600;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #1a1e01;
    --pico-dropdown-background-color: #101600;
    --pico-dropdown-border-color: #242604;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #1a1e01;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #242604;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #101600;
    --b16-base01: #1a1e01;
    --b16-base02: #242604;
    --b16-base03: #2e2e05;
    --b16-base04: #ffd129;
    --b16-base05: #ffda51;
    --b16-base06: #ffe178;
    --b16-base07: #ffeba0;
    --b16-base08: #ee2e00;
    --b16-base09: #ee8800;
    --b16-base0A: #eebb00;
    --b16-base0B: #63d932;
    --b16-base0C: #3d94a5;
    --b16-base0D: #5b4a9f;
    --b16-base0E: #883e9f;
    --b16-base0F: #a928b9;
}
