/* Nebula Theme - by Gabriel Fontes (https://github.com/Misterio77) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #22273b;
    --pico-color: #a4a6a9;
    --pico-text-selection-color: #5a8380;
    --pico-muted-color: #6e6f72;
    --pico-muted-border-color: #5a8380;
    --pico-primary: #4d6bb6;
    --pico-primary-background: #5a8380;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #716cae;
    --pico-primary-hover-background: #716cae;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #22273b;
    --pico-secondary: #87888b;
    --pico-secondary-background: #5a8380;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #a4a6a9;
    --pico-secondary-hover-background: #6e6f72;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #22273b;
    --pico-contrast: #c7c9cd;
    --pico-contrast-background: #c7c9cd;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #8dbdaa;
    --pico-contrast-hover-background: #8dbdaa;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #22273b;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #c7c9cd;
    --pico-h2-color: #a4a6a9;
    --pico-h3-color: #a4a6a9;
    --pico-h4-color: #87888b;
    --pico-h5-color: #87888b;
    --pico-h6-color: #6e6f72;
    --pico-mark-background-color: #4f9062;
    --pico-mark-color: #22273b;
    --pico-ins-color: #6562a8;
    --pico-del-color: #777abc;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #414f60;
    --pico-code-background-color: #414f60;
    --pico-code-color: #4f9062;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #22273b;
    --pico-form-element-selected-background-color: #5a8380;
    --pico-form-element-border-color: #6e6f72;
    --pico-form-element-color: #a4a6a9;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #22273b;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #777abc;
    --pico-form-element-invalid-active-border-color: #94929e;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #6562a8;
    --pico-form-element-valid-active-border-color: #226f68;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #6e6f72;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #22273b;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #5a8380;
    --pico-range-active-border-color: #6e6f72;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #22273b;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #414f60;
    --pico-dropdown-background-color: #22273b;
    --pico-dropdown-border-color: #5a8380;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #414f60;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #5a8380;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #22273b;
    --b16-base01: #414f60;
    --b16-base02: #5a8380;
    --b16-base03: #6e6f72;
    --b16-base04: #87888b;
    --b16-base05: #a4a6a9;
    --b16-base06: #c7c9cd;
    --b16-base07: #8dbdaa;
    --b16-base08: #777abc;
    --b16-base09: #94929e;
    --b16-base0A: #4f9062;
    --b16-base0B: #6562a8;
    --b16-base0C: #226f68;
    --b16-base0D: #4d6bb6;
    --b16-base0E: #716cae;
    --b16-base0F: #8c70a7;
}
