/* Gotham Theme - by Andrea Leopardi (arranged by Brett Jones) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #0c1014;
    --pico-color: #599cab;
    --pico-text-selection-color: #091f2e;
    --pico-muted-color: #0a3749;
    --pico-muted-border-color: #091f2e;
    --pico-primary: #195466;
    --pico-primary-background: #091f2e;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #888ca6;
    --pico-primary-hover-background: #888ca6;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #0c1014;
    --pico-secondary: #245361;
    --pico-secondary-background: #091f2e;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #599cab;
    --pico-secondary-hover-background: #0a3749;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #0c1014;
    --pico-contrast: #99d1ce;
    --pico-contrast-background: #99d1ce;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #d3ebe9;
    --pico-contrast-hover-background: #d3ebe9;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #0c1014;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #99d1ce;
    --pico-h2-color: #599cab;
    --pico-h3-color: #599cab;
    --pico-h4-color: #245361;
    --pico-h5-color: #245361;
    --pico-h6-color: #0a3749;
    --pico-mark-background-color: #edb443;
    --pico-mark-color: #0c1014;
    --pico-ins-color: #33859e;
    --pico-del-color: #c23127;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #11151c;
    --pico-code-background-color: #11151c;
    --pico-code-color: #edb443;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #0c1014;
    --pico-form-element-selected-background-color: #091f2e;
    --pico-form-element-border-color: #0a3749;
    --pico-form-element-color: #599cab;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #0c1014;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #c23127;
    --pico-form-element-invalid-active-border-color: #d26937;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #33859e;
    --pico-form-element-valid-active-border-color: #2aa889;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #0a3749;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #0c1014;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #091f2e;
    --pico-range-active-border-color: #0a3749;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #0c1014;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #11151c;
    --pico-dropdown-background-color: #0c1014;
    --pico-dropdown-border-color: #091f2e;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #11151c;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #091f2e;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #0c1014;
    --b16-base01: #11151c;
    --b16-base02: #091f2e;
    --b16-base03: #0a3749;
    --b16-base04: #245361;
    --b16-base05: #599cab;
    --b16-base06: #99d1ce;
    --b16-base07: #d3ebe9;
    --b16-base08: #c23127;
    --b16-base09: #d26937;
    --b16-base0A: #edb443;
    --b16-base0B: #33859e;
    --b16-base0C: #2aa889;
    --b16-base0D: #195466;
    --b16-base0E: #888ca6;
    --b16-base0F: #4e5166;
}
