/* Spacemacs Theme - by Nasser Alshammari (https://github.com/nashamri/spacemacs-theme) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #1f2022;
    --pico-color: #a3a3a3;
    --pico-text-selection-color: #444155;
    --pico-muted-color: #585858;
    --pico-muted-border-color: #444155;
    --pico-primary: #4f97d7;
    --pico-primary-background: #444155;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #a31db1;
    --pico-primary-hover-background: #a31db1;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #1f2022;
    --pico-secondary: #b8b8b8;
    --pico-secondary-background: #444155;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #a3a3a3;
    --pico-secondary-hover-background: #585858;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #1f2022;
    --pico-contrast: #e8e8e8;
    --pico-contrast-background: #e8e8e8;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #f8f8f8;
    --pico-contrast-hover-background: #f8f8f8;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #1f2022;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #e8e8e8;
    --pico-h2-color: #a3a3a3;
    --pico-h3-color: #a3a3a3;
    --pico-h4-color: #b8b8b8;
    --pico-h5-color: #b8b8b8;
    --pico-h6-color: #585858;
    --pico-mark-background-color: #b1951d;
    --pico-mark-color: #1f2022;
    --pico-ins-color: #67b11d;
    --pico-del-color: #f2241f;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #282828;
    --pico-code-background-color: #282828;
    --pico-code-color: #b1951d;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #1f2022;
    --pico-form-element-selected-background-color: #444155;
    --pico-form-element-border-color: #585858;
    --pico-form-element-color: #a3a3a3;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #1f2022;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #f2241f;
    --pico-form-element-invalid-active-border-color: #ffa500;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #67b11d;
    --pico-form-element-valid-active-border-color: #2d9574;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #585858;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #1f2022;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #444155;
    --pico-range-active-border-color: #585858;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #1f2022;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #282828;
    --pico-dropdown-background-color: #1f2022;
    --pico-dropdown-border-color: #444155;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #282828;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #444155;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #1f2022;
    --b16-base01: #282828;
    --b16-base02: #444155;
    --b16-base03: #585858;
    --b16-base04: #b8b8b8;
    --b16-base05: #a3a3a3;
    --b16-base06: #e8e8e8;
    --b16-base07: #f8f8f8;
    --b16-base08: #f2241f;
    --b16-base09: #ffa500;
    --b16-base0A: #b1951d;
    --b16-base0B: #67b11d;
    --b16-base0C: #2d9574;
    --b16-base0D: #4f97d7;
    --b16-base0E: #a31db1;
    --b16-base0F: #b03060;
}
