/* OceanicNext Theme - by https://github.com/voronianski/oceanic-next-color-scheme */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #1b2b34;
    --pico-color: #c0c5ce;
    --pico-text-selection-color: #4f5b66;
    --pico-muted-color: #65737e;
    --pico-muted-border-color: #4f5b66;
    --pico-primary: #6699cc;
    --pico-primary-background: #4f5b66;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #c594c5;
    --pico-primary-hover-background: #c594c5;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #1b2b34;
    --pico-secondary: #a7adba;
    --pico-secondary-background: #4f5b66;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #c0c5ce;
    --pico-secondary-hover-background: #65737e;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #1b2b34;
    --pico-contrast: #cdd3de;
    --pico-contrast-background: #cdd3de;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #d8dee9;
    --pico-contrast-hover-background: #d8dee9;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #1b2b34;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #cdd3de;
    --pico-h2-color: #c0c5ce;
    --pico-h3-color: #c0c5ce;
    --pico-h4-color: #a7adba;
    --pico-h5-color: #a7adba;
    --pico-h6-color: #65737e;
    --pico-mark-background-color: #fac863;
    --pico-mark-color: #1b2b34;
    --pico-ins-color: #99c794;
    --pico-del-color: #ec5f67;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #343d46;
    --pico-code-background-color: #343d46;
    --pico-code-color: #fac863;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #1b2b34;
    --pico-form-element-selected-background-color: #4f5b66;
    --pico-form-element-border-color: #65737e;
    --pico-form-element-color: #c0c5ce;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #1b2b34;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #ec5f67;
    --pico-form-element-invalid-active-border-color: #f99157;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #99c794;
    --pico-form-element-valid-active-border-color: #5fb3b3;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #65737e;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #1b2b34;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #4f5b66;
    --pico-range-active-border-color: #65737e;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #1b2b34;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #343d46;
    --pico-dropdown-background-color: #1b2b34;
    --pico-dropdown-border-color: #4f5b66;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #343d46;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #4f5b66;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #1b2b34;
    --b16-base01: #343d46;
    --b16-base02: #4f5b66;
    --b16-base03: #65737e;
    --b16-base04: #a7adba;
    --b16-base05: #c0c5ce;
    --b16-base06: #cdd3de;
    --b16-base07: #d8dee9;
    --b16-base08: #ec5f67;
    --b16-base09: #f99157;
    --b16-base0A: #fac863;
    --b16-base0B: #99c794;
    --b16-base0C: #5fb3b3;
    --b16-base0D: #6699cc;
    --b16-base0E: #c594c5;
    --b16-base0F: #ab7967;
}
