/* standardized-light Theme - by ali (https://github.com/ali-githb/base16-standardized-scheme) */

[data-theme=light] {
    /* Pico CSS color variables */
    --pico-background-color: #ffffff;
    --pico-color: #444444;
    --pico-text-selection-color: #cccccc;
    --pico-muted-color: #767676;
    --pico-muted-border-color: #cccccc;
    --pico-primary: #3173c5;
    --pico-primary-background: #cccccc;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #9e57c2;
    --pico-primary-hover-background: #9e57c2;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #ffffff;
    --pico-secondary: #767676;
    --pico-secondary-background: #cccccc;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #444444;
    --pico-secondary-hover-background: #767676;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #ffffff;
    --pico-contrast: #333333;
    --pico-contrast-background: #333333;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #222222;
    --pico-contrast-hover-background: #222222;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #ffffff;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #333333;
    --pico-h2-color: #444444;
    --pico-h3-color: #444444;
    --pico-h4-color: #767676;
    --pico-h5-color: #767676;
    --pico-h6-color: #767676;
    --pico-mark-background-color: #ad8200;
    --pico-mark-color: #ffffff;
    --pico-ins-color: #31861f;
    --pico-del-color: #d03e3e;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #eeeeee;
    --pico-code-background-color: #eeeeee;
    --pico-code-color: #ad8200;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #ffffff;
    --pico-form-element-selected-background-color: #cccccc;
    --pico-form-element-border-color: #767676;
    --pico-form-element-color: #444444;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #ffffff;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #d03e3e;
    --pico-form-element-invalid-active-border-color: #d7691d;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #31861f;
    --pico-form-element-valid-active-border-color: #00998f;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #767676;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #ffffff;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #cccccc;
    --pico-range-active-border-color: #767676;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #ffffff;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #eeeeee;
    --pico-dropdown-background-color: #ffffff;
    --pico-dropdown-border-color: #cccccc;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #eeeeee;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #cccccc;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #ffffff;
    --b16-base01: #eeeeee;
    --b16-base02: #cccccc;
    --b16-base03: #767676;
    --b16-base04: #767676;
    --b16-base05: #444444;
    --b16-base06: #333333;
    --b16-base07: #222222;
    --b16-base08: #d03e3e;
    --b16-base09: #d7691d;
    --b16-base0A: #ad8200;
    --b16-base0B: #31861f;
    --b16-base0C: #00998f;
    --b16-base0D: #3173c5;
    --b16-base0E: #9e57c2;
    --b16-base0F: #895025;
}
