/* Everforest Dark Hard Theme - by Sainnhe Park (https://github.com/sainnhe) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #272e33;
    --pico-color: #d3c6aa;
    --pico-text-selection-color: #414b50;
    --pico-muted-color: #859289;
    --pico-muted-border-color: #414b50;
    --pico-primary: #7fbbb3;
    --pico-primary-background: #414b50;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #d699b6;
    --pico-primary-hover-background: #d699b6;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #272e33;
    --pico-secondary: #9da9a0;
    --pico-secondary-background: #414b50;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #d3c6aa;
    --pico-secondary-hover-background: #859289;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #272e33;
    --pico-contrast: #edeada;
    --pico-contrast-background: #edeada;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #fffbef;
    --pico-contrast-hover-background: #fffbef;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #272e33;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #edeada;
    --pico-h2-color: #d3c6aa;
    --pico-h3-color: #d3c6aa;
    --pico-h4-color: #9da9a0;
    --pico-h5-color: #9da9a0;
    --pico-h6-color: #859289;
    --pico-mark-background-color: #dbbc7f;
    --pico-mark-color: #272e33;
    --pico-ins-color: #a7c080;
    --pico-del-color: #e67e80;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #2e383c;
    --pico-code-background-color: #2e383c;
    --pico-code-color: #dbbc7f;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #272e33;
    --pico-form-element-selected-background-color: #414b50;
    --pico-form-element-border-color: #859289;
    --pico-form-element-color: #d3c6aa;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #272e33;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #e67e80;
    --pico-form-element-invalid-active-border-color: #e69875;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #a7c080;
    --pico-form-element-valid-active-border-color: #83c092;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #859289;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #272e33;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #414b50;
    --pico-range-active-border-color: #859289;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #272e33;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #2e383c;
    --pico-dropdown-background-color: #272e33;
    --pico-dropdown-border-color: #414b50;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #2e383c;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #414b50;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #272e33;
    --b16-base01: #2e383c;
    --b16-base02: #414b50;
    --b16-base03: #859289;
    --b16-base04: #9da9a0;
    --b16-base05: #d3c6aa;
    --b16-base06: #edeada;
    --b16-base07: #fffbef;
    --b16-base08: #e67e80;
    --b16-base09: #e69875;
    --b16-base0A: #dbbc7f;
    --b16-base0B: #a7c080;
    --b16-base0C: #83c092;
    --b16-base0D: #7fbbb3;
    --b16-base0E: #d699b6;
    --b16-base0F: #9da9a0;
}
