/* tarot Theme - by ed (https://codeberg.org/ed) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #0e091d;
    --pico-color: #aa556f;
    --pico-text-selection-color: #4b2054;
    --pico-muted-color: #74316b;
    --pico-muted-border-color: #4b2054;
    --pico-primary: #6e6080;
    --pico-primary-background: #4b2054;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #a45782;
    --pico-primary-hover-background: #a45782;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #0e091d;
    --pico-secondary: #8c406f;
    --pico-secondary-background: #4b2054;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #aa556f;
    --pico-secondary-hover-background: #74316b;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #0e091d;
    --pico-contrast: #c4686d;
    --pico-contrast-background: #c4686d;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #dc8f7c;
    --pico-contrast-hover-background: #dc8f7c;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #0e091d;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #c4686d;
    --pico-h2-color: #aa556f;
    --pico-h3-color: #aa556f;
    --pico-h4-color: #8c406f;
    --pico-h5-color: #8c406f;
    --pico-h6-color: #74316b;
    --pico-mark-background-color: #ff6565;
    --pico-mark-color: #0e091d;
    --pico-ins-color: #a68e5a;
    --pico-del-color: #c53253;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #2a153c;
    --pico-code-background-color: #2a153c;
    --pico-code-color: #ff6565;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #0e091d;
    --pico-form-element-selected-background-color: #4b2054;
    --pico-form-element-border-color: #74316b;
    --pico-form-element-color: #aa556f;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #0e091d;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #c53253;
    --pico-form-element-invalid-active-border-color: #ea4d60;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #a68e5a;
    --pico-form-element-valid-active-border-color: #8c9785;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #74316b;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #0e091d;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #4b2054;
    --pico-range-active-border-color: #74316b;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #0e091d;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #2a153c;
    --pico-dropdown-background-color: #0e091d;
    --pico-dropdown-border-color: #4b2054;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #2a153c;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #4b2054;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #0e091d;
    --b16-base01: #2a153c;
    --b16-base02: #4b2054;
    --b16-base03: #74316b;
    --b16-base04: #8c406f;
    --b16-base05: #aa556f;
    --b16-base06: #c4686d;
    --b16-base07: #dc8f7c;
    --b16-base08: #c53253;
    --b16-base09: #ea4d60;
    --b16-base0A: #ff6565;
    --b16-base0B: #a68e5a;
    --b16-base0C: #8c9785;
    --b16-base0D: #6e6080;
    --b16-base0E: #a45782;
    --b16-base0F: #984d51;
}
