/* Catppuccin Frappe Theme - by https://github.com/catppuccin/catppuccin */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #303446;
    --pico-color: #c6d0f5;
    --pico-text-selection-color: #414559;
    --pico-muted-color: #51576d;
    --pico-muted-border-color: #414559;
    --pico-primary: #8caaee;
    --pico-primary-background: #414559;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #ca9ee6;
    --pico-primary-hover-background: #ca9ee6;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #303446;
    --pico-secondary: #626880;
    --pico-secondary-background: #414559;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #c6d0f5;
    --pico-secondary-hover-background: #51576d;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #303446;
    --pico-contrast: #f2d5cf;
    --pico-contrast-background: #f2d5cf;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #babbf1;
    --pico-contrast-hover-background: #babbf1;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #303446;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #f2d5cf;
    --pico-h2-color: #c6d0f5;
    --pico-h3-color: #c6d0f5;
    --pico-h4-color: #626880;
    --pico-h5-color: #626880;
    --pico-h6-color: #51576d;
    --pico-mark-background-color: #e5c890;
    --pico-mark-color: #303446;
    --pico-ins-color: #a6d189;
    --pico-del-color: #e78284;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #292c3c;
    --pico-code-background-color: #292c3c;
    --pico-code-color: #e5c890;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #303446;
    --pico-form-element-selected-background-color: #414559;
    --pico-form-element-border-color: #51576d;
    --pico-form-element-color: #c6d0f5;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #303446;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #e78284;
    --pico-form-element-invalid-active-border-color: #ef9f76;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #a6d189;
    --pico-form-element-valid-active-border-color: #81c8be;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #51576d;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #303446;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #414559;
    --pico-range-active-border-color: #51576d;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #303446;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #292c3c;
    --pico-dropdown-background-color: #303446;
    --pico-dropdown-border-color: #414559;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #292c3c;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #414559;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #303446;
    --b16-base01: #292c3c;
    --b16-base02: #414559;
    --b16-base03: #51576d;
    --b16-base04: #626880;
    --b16-base05: #c6d0f5;
    --b16-base06: #f2d5cf;
    --b16-base07: #babbf1;
    --b16-base08: #e78284;
    --b16-base09: #ef9f76;
    --b16-base0A: #e5c890;
    --b16-base0B: #a6d189;
    --b16-base0C: #81c8be;
    --b16-base0D: #8caaee;
    --b16-base0E: #ca9ee6;
    --b16-base0F: #eebebe;
}
