/* Jabuti Theme - by https://github.com/notusknot */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #292a37;
    --pico-color: #c0cbe3;
    --pico-text-selection-color: #3c3e51;
    --pico-muted-color: #45475d;
    --pico-muted-border-color: #3c3e51;
    --pico-primary: #3fc6de;
    --pico-primary-background: #3c3e51;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #be95ff;
    --pico-primary-hover-background: #be95ff;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #292a37;
    --pico-secondary: #50526b;
    --pico-secondary-background: #3c3e51;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #c0cbe3;
    --pico-secondary-hover-background: #45475d;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #292a37;
    --pico-contrast: #d9e0ee;
    --pico-contrast-background: #d9e0ee;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #ffffff;
    --pico-contrast-hover-background: #ffffff;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #292a37;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #d9e0ee;
    --pico-h2-color: #c0cbe3;
    --pico-h3-color: #c0cbe3;
    --pico-h4-color: #50526b;
    --pico-h5-color: #50526b;
    --pico-h6-color: #45475d;
    --pico-mark-background-color: #e1c697;
    --pico-mark-color: #292a37;
    --pico-ins-color: #3fdaa4;
    --pico-del-color: #ec6a88;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #343545;
    --pico-code-background-color: #343545;
    --pico-code-color: #e1c697;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #292a37;
    --pico-form-element-selected-background-color: #3c3e51;
    --pico-form-element-border-color: #45475d;
    --pico-form-element-color: #c0cbe3;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #292a37;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #ec6a88;
    --pico-form-element-invalid-active-border-color: #efb993;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #3fdaa4;
    --pico-form-element-valid-active-border-color: #ff7eb6;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #45475d;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #292a37;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #3c3e51;
    --pico-range-active-border-color: #45475d;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #292a37;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #343545;
    --pico-dropdown-background-color: #292a37;
    --pico-dropdown-border-color: #3c3e51;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #343545;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #3c3e51;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #292a37;
    --b16-base01: #343545;
    --b16-base02: #3c3e51;
    --b16-base03: #45475d;
    --b16-base04: #50526b;
    --b16-base05: #c0cbe3;
    --b16-base06: #d9e0ee;
    --b16-base07: #ffffff;
    --b16-base08: #ec6a88;
    --b16-base09: #efb993;
    --b16-base0A: #e1c697;
    --b16-base0B: #3fdaa4;
    --b16-base0C: #ff7eb6;
    --b16-base0D: #3fc6de;
    --b16-base0E: #be95ff;
    --b16-base0F: #8b8da9;
}
