/* Classic Light Theme - by Jason Heeris (http://heeris.id.au) */

[data-theme=light] {
    /* Pico CSS color variables */
    --pico-background-color: #f5f5f5;
    --pico-color: #303030;
    --pico-text-selection-color: #d0d0d0;
    --pico-muted-color: #b0b0b0;
    --pico-muted-border-color: #d0d0d0;
    --pico-primary: #6a9fb5;
    --pico-primary-background: #d0d0d0;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #aa759f;
    --pico-primary-hover-background: #aa759f;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #f5f5f5;
    --pico-secondary: #505050;
    --pico-secondary-background: #d0d0d0;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #303030;
    --pico-secondary-hover-background: #b0b0b0;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #f5f5f5;
    --pico-contrast: #202020;
    --pico-contrast-background: #202020;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #151515;
    --pico-contrast-hover-background: #151515;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #f5f5f5;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #202020;
    --pico-h2-color: #303030;
    --pico-h3-color: #303030;
    --pico-h4-color: #505050;
    --pico-h5-color: #505050;
    --pico-h6-color: #b0b0b0;
    --pico-mark-background-color: #f4bf75;
    --pico-mark-color: #f5f5f5;
    --pico-ins-color: #90a959;
    --pico-del-color: #ac4142;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #e0e0e0;
    --pico-code-background-color: #e0e0e0;
    --pico-code-color: #f4bf75;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #f5f5f5;
    --pico-form-element-selected-background-color: #d0d0d0;
    --pico-form-element-border-color: #b0b0b0;
    --pico-form-element-color: #303030;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #f5f5f5;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #ac4142;
    --pico-form-element-invalid-active-border-color: #d28445;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #90a959;
    --pico-form-element-valid-active-border-color: #75b5aa;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #b0b0b0;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #f5f5f5;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #d0d0d0;
    --pico-range-active-border-color: #b0b0b0;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #f5f5f5;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #e0e0e0;
    --pico-dropdown-background-color: #f5f5f5;
    --pico-dropdown-border-color: #d0d0d0;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #e0e0e0;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #d0d0d0;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #f5f5f5;
    --b16-base01: #e0e0e0;
    --b16-base02: #d0d0d0;
    --b16-base03: #b0b0b0;
    --b16-base04: #505050;
    --b16-base05: #303030;
    --b16-base06: #202020;
    --b16-base07: #151515;
    --b16-base08: #ac4142;
    --b16-base09: #d28445;
    --b16-base0A: #f4bf75;
    --b16-base0B: #90a959;
    --b16-base0C: #75b5aa;
    --b16-base0D: #6a9fb5;
    --b16-base0E: #aa759f;
    --b16-base0F: #8f5536;
}
