/* Mellow Purple Theme - by gidsi */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #1e0528;
    --pico-color: #ffeeff;
    --pico-text-selection-color: #331354;
    --pico-muted-color: #320f55;
    --pico-muted-border-color: #331354;
    --pico-primary: #550068;
    --pico-primary-background: #331354;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #8991bb;
    --pico-primary-hover-background: #8991bb;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #1e0528;
    --pico-secondary: #873582;
    --pico-secondary-background: #331354;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #ffeeff;
    --pico-secondary-hover-background: #320f55;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #1e0528;
    --pico-contrast: #ffeeff;
    --pico-contrast-background: #ffeeff;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #f8c0ff;
    --pico-contrast-hover-background: #f8c0ff;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #1e0528;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #ffeeff;
    --pico-h2-color: #ffeeff;
    --pico-h3-color: #ffeeff;
    --pico-h4-color: #873582;
    --pico-h5-color: #873582;
    --pico-h6-color: #320f55;
    --pico-mark-background-color: #955ae7;
    --pico-mark-color: #1e0528;
    --pico-ins-color: #05cb0d;
    --pico-del-color: #00d9e9;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #1a092d;
    --pico-code-background-color: #1a092d;
    --pico-code-color: #955ae7;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #1e0528;
    --pico-form-element-selected-background-color: #331354;
    --pico-form-element-border-color: #320f55;
    --pico-form-element-color: #ffeeff;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #1e0528;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #00d9e9;
    --pico-form-element-invalid-active-border-color: #aa00a3;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #05cb0d;
    --pico-form-element-valid-active-border-color: #b900b1;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #320f55;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #1e0528;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #331354;
    --pico-range-active-border-color: #320f55;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #1e0528;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #1a092d;
    --pico-dropdown-background-color: #1e0528;
    --pico-dropdown-border-color: #331354;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #1a092d;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #331354;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #1e0528;
    --b16-base01: #1a092d;
    --b16-base02: #331354;
    --b16-base03: #320f55;
    --b16-base04: #873582;
    --b16-base05: #ffeeff;
    --b16-base06: #ffeeff;
    --b16-base07: #f8c0ff;
    --b16-base08: #00d9e9;
    --b16-base09: #aa00a3;
    --b16-base0A: #955ae7;
    --b16-base0B: #05cb0d;
    --b16-base0C: #b900b1;
    --b16-base0D: #550068;
    --b16-base0E: #8991bb;
    --b16-base0F: #4d6fff;
}
