/* Deep Oceanic Next Theme - by spearkkk (https://github.com/spearkkk) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #001c1f;
    --pico-color: #d4e1e8;
    --pico-text-selection-color: #003640;
    --pico-muted-color: #004852;
    --pico-muted-border-color: #003640;
    --pico-primary: #568ccf;
    --pico-primary-background: #003640;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #8b66d6;
    --pico-primary-hover-background: #8b66d6;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #001c1f;
    --pico-secondary: #0093a3;
    --pico-secondary-background: #003640;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #d4e1e8;
    --pico-secondary-hover-background: #004852;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #001c1f;
    --pico-contrast: #e0e9ef;
    --pico-contrast-background: #e0e9ef;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #f2f7f9;
    --pico-contrast-hover-background: #f2f7f9;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #001c1f;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #e0e9ef;
    --pico-h2-color: #d4e1e8;
    --pico-h3-color: #d4e1e8;
    --pico-h4-color: #0093a3;
    --pico-h5-color: #0093a3;
    --pico-h6-color: #004852;
    --pico-mark-background-color: #f3b863;
    --pico-mark-color: #001c1f;
    --pico-ins-color: #63b784;
    --pico-del-color: #d3464d;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #002931;
    --pico-code-background-color: #002931;
    --pico-code-color: #f3b863;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #001c1f;
    --pico-form-element-selected-background-color: #003640;
    --pico-form-element-border-color: #004852;
    --pico-form-element-color: #d4e1e8;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #001c1f;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #d3464d;
    --pico-form-element-invalid-active-border-color: #e37552;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #63b784;
    --pico-form-element-valid-active-border-color: #4fb7ae;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #004852;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #001c1f;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #003640;
    --pico-range-active-border-color: #004852;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #001c1f;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #002931;
    --pico-dropdown-background-color: #001c1f;
    --pico-dropdown-border-color: #003640;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #002931;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #003640;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #001c1f;
    --b16-base01: #002931;
    --b16-base02: #003640;
    --b16-base03: #004852;
    --b16-base04: #0093a3;
    --b16-base05: #d4e1e8;
    --b16-base06: #e0e9ef;
    --b16-base07: #f2f7f9;
    --b16-base08: #d3464d;
    --b16-base09: #e37552;
    --b16-base0A: #f3b863;
    --b16-base0B: #63b784;
    --b16-base0C: #4fb7ae;
    --b16-base0D: #568ccf;
    --b16-base0E: #8b66d6;
    --b16-base0F: #d0658e;
}
