/* Harmonic16 Light Theme - by Jannik Siebert (https://github.com/janniks) */

[data-theme=light] {
    /* Pico CSS color variables */
    --pico-background-color: #f7f9fb;
    --pico-color: #405c79;
    --pico-text-selection-color: #cbd6e2;
    --pico-muted-color: #aabcce;
    --pico-muted-border-color: #cbd6e2;
    --pico-primary: #8b56bf;
    --pico-primary-background: #cbd6e2;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #bf568b;
    --pico-primary-hover-background: #bf568b;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #f7f9fb;
    --pico-secondary: #627e99;
    --pico-secondary-background: #cbd6e2;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #405c79;
    --pico-secondary-hover-background: #aabcce;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #f7f9fb;
    --pico-contrast: #223b54;
    --pico-contrast-background: #223b54;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #0b1c2c;
    --pico-contrast-hover-background: #0b1c2c;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #f7f9fb;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #223b54;
    --pico-h2-color: #405c79;
    --pico-h3-color: #405c79;
    --pico-h4-color: #627e99;
    --pico-h5-color: #627e99;
    --pico-h6-color: #aabcce;
    --pico-mark-background-color: #8bbf56;
    --pico-mark-color: #f7f9fb;
    --pico-ins-color: #56bf8b;
    --pico-del-color: #bf8b56;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #e5ebf1;
    --pico-code-background-color: #e5ebf1;
    --pico-code-color: #8bbf56;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #f7f9fb;
    --pico-form-element-selected-background-color: #cbd6e2;
    --pico-form-element-border-color: #aabcce;
    --pico-form-element-color: #405c79;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #f7f9fb;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #bf8b56;
    --pico-form-element-invalid-active-border-color: #bfbf56;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #56bf8b;
    --pico-form-element-valid-active-border-color: #568bbf;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #aabcce;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #f7f9fb;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #cbd6e2;
    --pico-range-active-border-color: #aabcce;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #f7f9fb;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #e5ebf1;
    --pico-dropdown-background-color: #f7f9fb;
    --pico-dropdown-border-color: #cbd6e2;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #e5ebf1;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #cbd6e2;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #f7f9fb;
    --b16-base01: #e5ebf1;
    --b16-base02: #cbd6e2;
    --b16-base03: #aabcce;
    --b16-base04: #627e99;
    --b16-base05: #405c79;
    --b16-base06: #223b54;
    --b16-base07: #0b1c2c;
    --b16-base08: #bf8b56;
    --b16-base09: #bfbf56;
    --b16-base0A: #8bbf56;
    --b16-base0B: #56bf8b;
    --b16-base0C: #568bbf;
    --b16-base0D: #8b56bf;
    --b16-base0E: #bf568b;
    --b16-base0F: #bf5656;
}
