/* Silk Dark Theme - by Gabriel Fontes (https://github.com/Misterio77) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #0e3c46;
    --pico-color: #c7dbdd;
    --pico-text-selection-color: #2a5054;
    --pico-muted-color: #587073;
    --pico-muted-border-color: #2a5054;
    --pico-primary: #46bddd;
    --pico-primary-background: #2a5054;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #756b8a;
    --pico-primary-hover-background: #756b8a;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #0e3c46;
    --pico-secondary: #9dc8cd;
    --pico-secondary-background: #2a5054;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #c7dbdd;
    --pico-secondary-hover-background: #587073;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #0e3c46;
    --pico-contrast: #cbf2f7;
    --pico-contrast-background: #cbf2f7;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #d2faff;
    --pico-contrast-hover-background: #d2faff;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #0e3c46;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #cbf2f7;
    --pico-h2-color: #c7dbdd;
    --pico-h3-color: #c7dbdd;
    --pico-h4-color: #9dc8cd;
    --pico-h5-color: #9dc8cd;
    --pico-h6-color: #587073;
    --pico-mark-background-color: #fce380;
    --pico-mark-color: #0e3c46;
    --pico-ins-color: #73d8ad;
    --pico-del-color: #fb6953;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #1d494e;
    --pico-code-background-color: #1d494e;
    --pico-code-color: #fce380;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #0e3c46;
    --pico-form-element-selected-background-color: #2a5054;
    --pico-form-element-border-color: #587073;
    --pico-form-element-color: #c7dbdd;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #0e3c46;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #fb6953;
    --pico-form-element-invalid-active-border-color: #fcab74;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #73d8ad;
    --pico-form-element-valid-active-border-color: #3fb2b9;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #587073;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #0e3c46;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #2a5054;
    --pico-range-active-border-color: #587073;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #0e3c46;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #1d494e;
    --pico-dropdown-background-color: #0e3c46;
    --pico-dropdown-border-color: #2a5054;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #1d494e;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #2a5054;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #0e3c46;
    --b16-base01: #1d494e;
    --b16-base02: #2a5054;
    --b16-base03: #587073;
    --b16-base04: #9dc8cd;
    --b16-base05: #c7dbdd;
    --b16-base06: #cbf2f7;
    --b16-base07: #d2faff;
    --b16-base08: #fb6953;
    --b16-base09: #fcab74;
    --b16-base0A: #fce380;
    --b16-base0B: #73d8ad;
    --b16-base0C: #3fb2b9;
    --b16-base0D: #46bddd;
    --b16-base0E: #756b8a;
    --b16-base0F: #9b647b;
}
