/* Twilight Theme - by David Hart (https://github.com/hartbit) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #1e1e1e;
    --pico-color: #a7a7a7;
    --pico-text-selection-color: #464b50;
    --pico-muted-color: #5f5a60;
    --pico-muted-border-color: #464b50;
    --pico-primary: #7587a6;
    --pico-primary-background: #464b50;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #9b859d;
    --pico-primary-hover-background: #9b859d;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #1e1e1e;
    --pico-secondary: #838184;
    --pico-secondary-background: #464b50;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #a7a7a7;
    --pico-secondary-hover-background: #5f5a60;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #1e1e1e;
    --pico-contrast: #c3c3c3;
    --pico-contrast-background: #c3c3c3;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #ffffff;
    --pico-contrast-hover-background: #ffffff;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #1e1e1e;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #c3c3c3;
    --pico-h2-color: #a7a7a7;
    --pico-h3-color: #a7a7a7;
    --pico-h4-color: #838184;
    --pico-h5-color: #838184;
    --pico-h6-color: #5f5a60;
    --pico-mark-background-color: #f9ee98;
    --pico-mark-color: #1e1e1e;
    --pico-ins-color: #8f9d6a;
    --pico-del-color: #cf6a4c;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #323537;
    --pico-code-background-color: #323537;
    --pico-code-color: #f9ee98;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #1e1e1e;
    --pico-form-element-selected-background-color: #464b50;
    --pico-form-element-border-color: #5f5a60;
    --pico-form-element-color: #a7a7a7;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #1e1e1e;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #cf6a4c;
    --pico-form-element-invalid-active-border-color: #cda869;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #8f9d6a;
    --pico-form-element-valid-active-border-color: #afc4db;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #5f5a60;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #1e1e1e;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #464b50;
    --pico-range-active-border-color: #5f5a60;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #1e1e1e;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #323537;
    --pico-dropdown-background-color: #1e1e1e;
    --pico-dropdown-border-color: #464b50;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #323537;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #464b50;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #1e1e1e;
    --b16-base01: #323537;
    --b16-base02: #464b50;
    --b16-base03: #5f5a60;
    --b16-base04: #838184;
    --b16-base05: #a7a7a7;
    --b16-base06: #c3c3c3;
    --b16-base07: #ffffff;
    --b16-base08: #cf6a4c;
    --b16-base09: #cda869;
    --b16-base0A: #f9ee98;
    --b16-base0B: #8f9d6a;
    --b16-base0C: #afc4db;
    --b16-base0D: #7587a6;
    --b16-base0E: #9b859d;
    --b16-base0F: #9b703f;
}
