/* Atelier Seaside Theme - by Bram de Haan (http://atelierbramdehaan.nl) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #131513;
    --pico-color: #8ca68c;
    --pico-text-selection-color: #5e6e5e;
    --pico-muted-color: #687d68;
    --pico-muted-border-color: #5e6e5e;
    --pico-primary: #3d62f5;
    --pico-primary-background: #5e6e5e;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #ad2bee;
    --pico-primary-hover-background: #ad2bee;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #131513;
    --pico-secondary: #809980;
    --pico-secondary-background: #5e6e5e;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #8ca68c;
    --pico-secondary-hover-background: #687d68;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #131513;
    --pico-contrast: #cfe8cf;
    --pico-contrast-background: #cfe8cf;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #f4fbf4;
    --pico-contrast-hover-background: #f4fbf4;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #131513;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #cfe8cf;
    --pico-h2-color: #8ca68c;
    --pico-h3-color: #8ca68c;
    --pico-h4-color: #809980;
    --pico-h5-color: #809980;
    --pico-h6-color: #687d68;
    --pico-mark-background-color: #98981b;
    --pico-mark-color: #131513;
    --pico-ins-color: #29a329;
    --pico-del-color: #e6193c;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #242924;
    --pico-code-background-color: #242924;
    --pico-code-color: #98981b;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #131513;
    --pico-form-element-selected-background-color: #5e6e5e;
    --pico-form-element-border-color: #687d68;
    --pico-form-element-color: #8ca68c;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #131513;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #e6193c;
    --pico-form-element-invalid-active-border-color: #87711d;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #29a329;
    --pico-form-element-valid-active-border-color: #1999b3;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #687d68;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #131513;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #5e6e5e;
    --pico-range-active-border-color: #687d68;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #131513;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #242924;
    --pico-dropdown-background-color: #131513;
    --pico-dropdown-border-color: #5e6e5e;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #242924;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #5e6e5e;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #131513;
    --b16-base01: #242924;
    --b16-base02: #5e6e5e;
    --b16-base03: #687d68;
    --b16-base04: #809980;
    --b16-base05: #8ca68c;
    --b16-base06: #cfe8cf;
    --b16-base07: #f4fbf4;
    --b16-base08: #e6193c;
    --b16-base09: #87711d;
    --b16-base0A: #98981b;
    --b16-base0B: #29a329;
    --b16-base0C: #1999b3;
    --b16-base0D: #3d62f5;
    --b16-base0E: #ad2bee;
    --b16-base0F: #e619c3;
}
