/* Grayscale Light Theme - by Alexandre Gavioli (https://github.com/Alexx2/) */

[data-theme=light] {
    /* Pico CSS color variables */
    --pico-background-color: #f7f7f7;
    --pico-color: #464646;
    --pico-text-selection-color: #b9b9b9;
    --pico-muted-color: #ababab;
    --pico-muted-border-color: #b9b9b9;
    --pico-primary: #686868;
    --pico-primary-background: #b9b9b9;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #747474;
    --pico-primary-hover-background: #747474;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #f7f7f7;
    --pico-secondary: #525252;
    --pico-secondary-background: #b9b9b9;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #464646;
    --pico-secondary-hover-background: #ababab;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #f7f7f7;
    --pico-contrast: #252525;
    --pico-contrast-background: #252525;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #101010;
    --pico-contrast-hover-background: #101010;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #f7f7f7;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #252525;
    --pico-h2-color: #464646;
    --pico-h3-color: #464646;
    --pico-h4-color: #525252;
    --pico-h5-color: #525252;
    --pico-h6-color: #ababab;
    --pico-mark-background-color: #a0a0a0;
    --pico-mark-color: #f7f7f7;
    --pico-ins-color: #8e8e8e;
    --pico-del-color: #7c7c7c;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #e3e3e3;
    --pico-code-background-color: #e3e3e3;
    --pico-code-color: #a0a0a0;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #f7f7f7;
    --pico-form-element-selected-background-color: #b9b9b9;
    --pico-form-element-border-color: #ababab;
    --pico-form-element-color: #464646;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #f7f7f7;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #7c7c7c;
    --pico-form-element-invalid-active-border-color: #999999;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #8e8e8e;
    --pico-form-element-valid-active-border-color: #868686;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #ababab;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #f7f7f7;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #b9b9b9;
    --pico-range-active-border-color: #ababab;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #f7f7f7;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #e3e3e3;
    --pico-dropdown-background-color: #f7f7f7;
    --pico-dropdown-border-color: #b9b9b9;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #e3e3e3;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #b9b9b9;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #f7f7f7;
    --b16-base01: #e3e3e3;
    --b16-base02: #b9b9b9;
    --b16-base03: #ababab;
    --b16-base04: #525252;
    --b16-base05: #464646;
    --b16-base06: #252525;
    --b16-base07: #101010;
    --b16-base08: #7c7c7c;
    --b16-base09: #999999;
    --b16-base0A: #a0a0a0;
    --b16-base0B: #8e8e8e;
    --b16-base0C: #868686;
    --b16-base0D: #686868;
    --b16-base0E: #747474;
    --b16-base0F: #5e5e5e;
}
