/* One Light Theme - by Daniel Pfeifer (http://github.com/purpleKarrot) */

[data-theme=light] {
    /* Pico CSS color variables */
    --pico-background-color: #fafafa;
    --pico-color: #383a42;
    --pico-text-selection-color: #e5e5e6;
    --pico-muted-color: #a0a1a7;
    --pico-muted-border-color: #e5e5e6;
    --pico-primary: #4078f2;
    --pico-primary-background: #e5e5e6;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #a626a4;
    --pico-primary-hover-background: #a626a4;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #fafafa;
    --pico-secondary: #696c77;
    --pico-secondary-background: #e5e5e6;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #383a42;
    --pico-secondary-hover-background: #a0a1a7;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #fafafa;
    --pico-contrast: #202227;
    --pico-contrast-background: #202227;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #090a0b;
    --pico-contrast-hover-background: #090a0b;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #fafafa;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #202227;
    --pico-h2-color: #383a42;
    --pico-h3-color: #383a42;
    --pico-h4-color: #696c77;
    --pico-h5-color: #696c77;
    --pico-h6-color: #a0a1a7;
    --pico-mark-background-color: #c18401;
    --pico-mark-color: #fafafa;
    --pico-ins-color: #50a14f;
    --pico-del-color: #ca1243;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #f0f0f1;
    --pico-code-background-color: #f0f0f1;
    --pico-code-color: #c18401;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #fafafa;
    --pico-form-element-selected-background-color: #e5e5e6;
    --pico-form-element-border-color: #a0a1a7;
    --pico-form-element-color: #383a42;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #fafafa;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #ca1243;
    --pico-form-element-invalid-active-border-color: #d75f00;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #50a14f;
    --pico-form-element-valid-active-border-color: #0184bc;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #a0a1a7;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #fafafa;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #e5e5e6;
    --pico-range-active-border-color: #a0a1a7;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #fafafa;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #f0f0f1;
    --pico-dropdown-background-color: #fafafa;
    --pico-dropdown-border-color: #e5e5e6;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #f0f0f1;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #e5e5e6;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #fafafa;
    --b16-base01: #f0f0f1;
    --b16-base02: #e5e5e6;
    --b16-base03: #a0a1a7;
    --b16-base04: #696c77;
    --b16-base05: #383a42;
    --b16-base06: #202227;
    --b16-base07: #090a0b;
    --b16-base08: #ca1243;
    --b16-base09: #d75f00;
    --b16-base0A: #c18401;
    --b16-base0B: #50a14f;
    --b16-base0C: #0184bc;
    --b16-base0D: #4078f2;
    --b16-base0E: #a626a4;
    --b16-base0F: #986801;
}
