/* Catppuccin Latte Theme - by https://github.com/catppuccin/catppuccin */

[data-theme=light] {
    /* Pico CSS color variables */
    --pico-background-color: #eff1f5;
    --pico-color: #4c4f69;
    --pico-text-selection-color: #ccd0da;
    --pico-muted-color: #bcc0cc;
    --pico-muted-border-color: #ccd0da;
    --pico-primary: #1e66f5;
    --pico-primary-background: #ccd0da;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #8839ef;
    --pico-primary-hover-background: #8839ef;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #eff1f5;
    --pico-secondary: #acb0be;
    --pico-secondary-background: #ccd0da;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #4c4f69;
    --pico-secondary-hover-background: #bcc0cc;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #eff1f5;
    --pico-contrast: #dc8a78;
    --pico-contrast-background: #dc8a78;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #7287fd;
    --pico-contrast-hover-background: #7287fd;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #eff1f5;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #dc8a78;
    --pico-h2-color: #4c4f69;
    --pico-h3-color: #4c4f69;
    --pico-h4-color: #acb0be;
    --pico-h5-color: #acb0be;
    --pico-h6-color: #bcc0cc;
    --pico-mark-background-color: #df8e1d;
    --pico-mark-color: #eff1f5;
    --pico-ins-color: #40a02b;
    --pico-del-color: #d20f39;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #e6e9ef;
    --pico-code-background-color: #e6e9ef;
    --pico-code-color: #df8e1d;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #eff1f5;
    --pico-form-element-selected-background-color: #ccd0da;
    --pico-form-element-border-color: #bcc0cc;
    --pico-form-element-color: #4c4f69;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #eff1f5;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #d20f39;
    --pico-form-element-invalid-active-border-color: #fe640b;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #40a02b;
    --pico-form-element-valid-active-border-color: #179299;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #bcc0cc;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #eff1f5;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #ccd0da;
    --pico-range-active-border-color: #bcc0cc;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #eff1f5;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #e6e9ef;
    --pico-dropdown-background-color: #eff1f5;
    --pico-dropdown-border-color: #ccd0da;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #e6e9ef;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #ccd0da;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #eff1f5;
    --b16-base01: #e6e9ef;
    --b16-base02: #ccd0da;
    --b16-base03: #bcc0cc;
    --b16-base04: #acb0be;
    --b16-base05: #4c4f69;
    --b16-base06: #dc8a78;
    --b16-base07: #7287fd;
    --b16-base08: #d20f39;
    --b16-base09: #fe640b;
    --b16-base0A: #df8e1d;
    --b16-base0B: #40a02b;
    --b16-base0C: #179299;
    --b16-base0D: #1e66f5;
    --b16-base0E: #8839ef;
    --b16-base0F: #dd7878;
}
