/* Atelier Cave Theme - by Bram de Haan (http://atelierbramdehaan.nl) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #19171c;
    --pico-color: #8b8792;
    --pico-text-selection-color: #585260;
    --pico-muted-color: #655f6d;
    --pico-muted-border-color: #585260;
    --pico-primary: #576ddb;
    --pico-primary-background: #585260;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #955ae7;
    --pico-primary-hover-background: #955ae7;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #19171c;
    --pico-secondary: #7e7887;
    --pico-secondary-background: #585260;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #8b8792;
    --pico-secondary-hover-background: #655f6d;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #19171c;
    --pico-contrast: #e2dfe7;
    --pico-contrast-background: #e2dfe7;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #efecf4;
    --pico-contrast-hover-background: #efecf4;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #19171c;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #e2dfe7;
    --pico-h2-color: #8b8792;
    --pico-h3-color: #8b8792;
    --pico-h4-color: #7e7887;
    --pico-h5-color: #7e7887;
    --pico-h6-color: #655f6d;
    --pico-mark-background-color: #a06e3b;
    --pico-mark-color: #19171c;
    --pico-ins-color: #2a9292;
    --pico-del-color: #be4678;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #26232a;
    --pico-code-background-color: #26232a;
    --pico-code-color: #a06e3b;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #19171c;
    --pico-form-element-selected-background-color: #585260;
    --pico-form-element-border-color: #655f6d;
    --pico-form-element-color: #8b8792;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #19171c;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #be4678;
    --pico-form-element-invalid-active-border-color: #aa573c;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #2a9292;
    --pico-form-element-valid-active-border-color: #398bc6;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #655f6d;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #19171c;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #585260;
    --pico-range-active-border-color: #655f6d;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #19171c;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #26232a;
    --pico-dropdown-background-color: #19171c;
    --pico-dropdown-border-color: #585260;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #26232a;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #585260;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #19171c;
    --b16-base01: #26232a;
    --b16-base02: #585260;
    --b16-base03: #655f6d;
    --b16-base04: #7e7887;
    --b16-base05: #8b8792;
    --b16-base06: #e2dfe7;
    --b16-base07: #efecf4;
    --b16-base08: #be4678;
    --b16-base09: #aa573c;
    --b16-base0A: #a06e3b;
    --b16-base0B: #2a9292;
    --b16-base0C: #398bc6;
    --b16-base0D: #576ddb;
    --b16-base0E: #955ae7;
    --b16-base0F: #bf40bf;
}
