/* London Tube Theme - by Jan T. Sott */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #231f20;
    --pico-color: #d9d8d8;
    --pico-text-selection-color: #5a5758;
    --pico-muted-color: #737171;
    --pico-muted-border-color: #5a5758;
    --pico-primary: #009ddc;
    --pico-primary-background: #5a5758;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #98005d;
    --pico-primary-hover-background: #98005d;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #231f20;
    --pico-secondary: #959ca1;
    --pico-secondary-background: #5a5758;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #d9d8d8;
    --pico-secondary-hover-background: #737171;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #231f20;
    --pico-contrast: #e7e7e8;
    --pico-contrast-background: #e7e7e8;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #ffffff;
    --pico-contrast-hover-background: #ffffff;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #231f20;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #e7e7e8;
    --pico-h2-color: #d9d8d8;
    --pico-h3-color: #d9d8d8;
    --pico-h4-color: #959ca1;
    --pico-h5-color: #959ca1;
    --pico-h6-color: #737171;
    --pico-mark-background-color: #ffd204;
    --pico-mark-color: #231f20;
    --pico-ins-color: #00853e;
    --pico-del-color: #ee2e24;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #1c3f95;
    --pico-code-background-color: #1c3f95;
    --pico-code-color: #ffd204;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #231f20;
    --pico-form-element-selected-background-color: #5a5758;
    --pico-form-element-border-color: #737171;
    --pico-form-element-color: #d9d8d8;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #231f20;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #ee2e24;
    --pico-form-element-invalid-active-border-color: #f386a1;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #00853e;
    --pico-form-element-valid-active-border-color: #85cebc;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #737171;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #231f20;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #5a5758;
    --pico-range-active-border-color: #737171;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #231f20;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #1c3f95;
    --pico-dropdown-background-color: #231f20;
    --pico-dropdown-border-color: #5a5758;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #1c3f95;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #5a5758;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #231f20;
    --b16-base01: #1c3f95;
    --b16-base02: #5a5758;
    --b16-base03: #737171;
    --b16-base04: #959ca1;
    --b16-base05: #d9d8d8;
    --b16-base06: #e7e7e8;
    --b16-base07: #ffffff;
    --b16-base08: #ee2e24;
    --b16-base09: #f386a1;
    --b16-base0A: #ffd204;
    --b16-base0B: #00853e;
    --b16-base0C: #85cebc;
    --b16-base0D: #009ddc;
    --b16-base0E: #98005d;
    --b16-base0F: #b06110;
}
