/* Gruvbox Material Light, Soft Theme - by Mayush Kumar (https://github.com/MayushKumar), sainnhe (https://github.com/sainnhe/gruvbox-material-vscode) */

[data-theme=light] {
    /* Pico CSS color variables */
    --pico-background-color: #f2e5bc;
    --pico-color: #654735;
    --pico-text-selection-color: #c9b99a;
    --pico-muted-color: #a89984;
    --pico-muted-border-color: #c9b99a;
    --pico-primary: #45707a;
    --pico-primary-background: #c9b99a;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #945e80;
    --pico-primary-hover-background: #945e80;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #f2e5bc;
    --pico-secondary: #665c54;
    --pico-secondary-background: #c9b99a;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #654735;
    --pico-secondary-hover-background: #a89984;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #f2e5bc;
    --pico-contrast: #3c3836;
    --pico-contrast-background: #3c3836;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #282828;
    --pico-contrast-hover-background: #282828;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #f2e5bc;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #3c3836;
    --pico-h2-color: #654735;
    --pico-h3-color: #654735;
    --pico-h4-color: #665c54;
    --pico-h5-color: #665c54;
    --pico-h6-color: #a89984;
    --pico-mark-background-color: #b47109;
    --pico-mark-color: #f2e5bc;
    --pico-ins-color: #6c782e;
    --pico-del-color: #c14a4a;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #ebdbb2;
    --pico-code-background-color: #ebdbb2;
    --pico-code-color: #b47109;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #f2e5bc;
    --pico-form-element-selected-background-color: #c9b99a;
    --pico-form-element-border-color: #a89984;
    --pico-form-element-color: #654735;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #f2e5bc;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #c14a4a;
    --pico-form-element-invalid-active-border-color: #c35e0a;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #6c782e;
    --pico-form-element-valid-active-border-color: #4c7a5d;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #a89984;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #f2e5bc;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #c9b99a;
    --pico-range-active-border-color: #a89984;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #f2e5bc;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #ebdbb2;
    --pico-dropdown-background-color: #f2e5bc;
    --pico-dropdown-border-color: #c9b99a;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #ebdbb2;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #c9b99a;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #f2e5bc;
    --b16-base01: #ebdbb2;
    --b16-base02: #c9b99a;
    --b16-base03: #a89984;
    --b16-base04: #665c54;
    --b16-base05: #654735;
    --b16-base06: #3c3836;
    --b16-base07: #282828;
    --b16-base08: #c14a4a;
    --b16-base09: #c35e0a;
    --b16-base0A: #b47109;
    --b16-base0B: #6c782e;
    --b16-base0C: #4c7a5d;
    --b16-base0D: #45707a;
    --b16-base0E: #945e80;
    --b16-base0F: #e78a4e;
}
