/* OneDark Dark Theme - by olimorris (https://github.com/olimorris) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #000000;
    --pico-color: #abb2bf;
    --pico-text-selection-color: #2c313a;
    --pico-muted-color: #434852;
    --pico-muted-border-color: #2c313a;
    --pico-primary: #61afef;
    --pico-primary-background: #2c313a;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #d55fde;
    --pico-primary-hover-background: #d55fde;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #000000;
    --pico-secondary: #565c64;
    --pico-secondary-background: #2c313a;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #abb2bf;
    --pico-secondary-hover-background: #434852;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #000000;
    --pico-contrast: #b6bdca;
    --pico-contrast-background: #b6bdca;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #c8ccd4;
    --pico-contrast-hover-background: #c8ccd4;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #000000;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #b6bdca;
    --pico-h2-color: #abb2bf;
    --pico-h3-color: #abb2bf;
    --pico-h4-color: #565c64;
    --pico-h5-color: #565c64;
    --pico-h6-color: #434852;
    --pico-mark-background-color: #e5c07b;
    --pico-mark-color: #000000;
    --pico-ins-color: #89ca78;
    --pico-del-color: #ef596f;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #1c1f24;
    --pico-code-background-color: #1c1f24;
    --pico-code-color: #e5c07b;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #000000;
    --pico-form-element-selected-background-color: #2c313a;
    --pico-form-element-border-color: #434852;
    --pico-form-element-color: #abb2bf;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #000000;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #ef596f;
    --pico-form-element-invalid-active-border-color: #d19a66;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #89ca78;
    --pico-form-element-valid-active-border-color: #2bbac5;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #434852;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #000000;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #2c313a;
    --pico-range-active-border-color: #434852;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #000000;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #1c1f24;
    --pico-dropdown-background-color: #000000;
    --pico-dropdown-border-color: #2c313a;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #1c1f24;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #2c313a;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #000000;
    --b16-base01: #1c1f24;
    --b16-base02: #2c313a;
    --b16-base03: #434852;
    --b16-base04: #565c64;
    --b16-base05: #abb2bf;
    --b16-base06: #b6bdca;
    --b16-base07: #c8ccd4;
    --b16-base08: #ef596f;
    --b16-base09: #d19a66;
    --b16-base0A: #e5c07b;
    --b16-base0B: #89ca78;
    --b16-base0C: #2bbac5;
    --b16-base0D: #61afef;
    --b16-base0E: #d55fde;
    --b16-base0F: #be5046;
}
