/* Ayu Dark Theme - by Khue Nguyen &lt;Z5483Y@gmail.com&gt; */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #0f1419;
    --pico-color: #e6e1cf;
    --pico-text-selection-color: #272d38;
    --pico-muted-color: #3e4b59;
    --pico-muted-border-color: #272d38;
    --pico-primary: #59c2ff;
    --pico-primary-background: #272d38;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #d2a6ff;
    --pico-primary-hover-background: #d2a6ff;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #0f1419;
    --pico-secondary: #bfbdb6;
    --pico-secondary-background: #272d38;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #e6e1cf;
    --pico-secondary-hover-background: #3e4b59;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #0f1419;
    --pico-contrast: #e6e1cf;
    --pico-contrast-background: #e6e1cf;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #f3f4f5;
    --pico-contrast-hover-background: #f3f4f5;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #0f1419;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #e6e1cf;
    --pico-h2-color: #e6e1cf;
    --pico-h3-color: #e6e1cf;
    --pico-h4-color: #bfbdb6;
    --pico-h5-color: #bfbdb6;
    --pico-h6-color: #3e4b59;
    --pico-mark-background-color: #ffb454;
    --pico-mark-color: #0f1419;
    --pico-ins-color: #b8cc52;
    --pico-del-color: #f07178;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #131721;
    --pico-code-background-color: #131721;
    --pico-code-color: #ffb454;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #0f1419;
    --pico-form-element-selected-background-color: #272d38;
    --pico-form-element-border-color: #3e4b59;
    --pico-form-element-color: #e6e1cf;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #0f1419;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #f07178;
    --pico-form-element-invalid-active-border-color: #ff8f40;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #b8cc52;
    --pico-form-element-valid-active-border-color: #95e6cb;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #3e4b59;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #0f1419;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #272d38;
    --pico-range-active-border-color: #3e4b59;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #0f1419;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #131721;
    --pico-dropdown-background-color: #0f1419;
    --pico-dropdown-border-color: #272d38;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #131721;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #272d38;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #0f1419;
    --b16-base01: #131721;
    --b16-base02: #272d38;
    --b16-base03: #3e4b59;
    --b16-base04: #bfbdb6;
    --b16-base05: #e6e1cf;
    --b16-base06: #e6e1cf;
    --b16-base07: #f3f4f5;
    --b16-base08: #f07178;
    --b16-base09: #ff8f40;
    --b16-base0A: #ffb454;
    --b16-base0B: #b8cc52;
    --b16-base0C: #95e6cb;
    --b16-base0D: #59c2ff;
    --b16-base0E: #d2a6ff;
    --b16-base0F: #e6b673;
}
