/* Still Alive Theme - by Derrick McKee (derrick.mckee@gmail.com) */

[data-theme=light] {
    /* Pico CSS color variables */
    --pico-background-color: #f0f0f0;
    --pico-color: #d80000;
    --pico-text-selection-color: #fff018;
    --pico-muted-color: #f01818;
    --pico-muted-border-color: #fff018;
    --pico-primary: #001878;
    --pico-primary-background: #fff018;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #900000;
    --pico-primary-hover-background: #900000;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #f0f0f0;
    --pico-secondary: #f00000;
    --pico-secondary-background: #fff018;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #d80000;
    --pico-secondary-hover-background: #f01818;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #f0f0f0;
    --pico-contrast: #489000;
    --pico-contrast-background: #489000;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #30a860;
    --pico-contrast-hover-background: #30a860;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #f0f0f0;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #489000;
    --pico-h2-color: #d80000;
    --pico-h3-color: #d80000;
    --pico-h4-color: #f00000;
    --pico-h5-color: #f00000;
    --pico-h6-color: #f01818;
    --pico-mark-background-color: #426395;
    --pico-mark-color: #f0f0f0;
    --pico-ins-color: #5c5c6a;
    --pico-del-color: #487830;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #f0d848;
    --pico-code-background-color: #f0d848;
    --pico-code-color: #426395;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #f0f0f0;
    --pico-form-element-selected-background-color: #fff018;
    --pico-form-element-border-color: #f01818;
    --pico-form-element-color: #d80000;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #f0f0f0;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #487830;
    --pico-form-element-invalid-active-border-color: #183048;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #5c5c6a;
    --pico-form-element-valid-active-border-color: #2c3c57;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #f01818;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #f0f0f0;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #fff018;
    --pico-range-active-border-color: #f01818;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #f0f0f0;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #f0d848;
    --pico-dropdown-background-color: #f0f0f0;
    --pico-dropdown-border-color: #fff018;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #f0d848;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #fff018;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #f0f0f0;
    --b16-base01: #f0d848;
    --b16-base02: #fff018;
    --b16-base03: #f01818;
    --b16-base04: #f00000;
    --b16-base05: #d80000;
    --b16-base06: #489000;
    --b16-base07: #30a860;
    --b16-base08: #487830;
    --b16-base09: #183048;
    --b16-base0A: #426395;
    --b16-base0B: #5c5c6a;
    --b16-base0C: #2c3c57;
    --b16-base0D: #001878;
    --b16-base0E: #900000;
    --b16-base0F: #140c0d;
}
