/* Shades of Purple Theme - by Iolar Demartini Junior (http://github.com/demartini), based on Shades of Purple Theme (https://github.com/ahmadawais/shades-of-purple-vscode) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #1e1e3f;
    --pico-color: #c7c7c7;
    --pico-text-selection-color: #f1d000;
    --pico-muted-color: #808080;
    --pico-muted-border-color: #f1d000;
    --pico-primary: #6943ff;
    --pico-primary-background: #f1d000;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #ff2c70;
    --pico-primary-hover-background: #ff2c70;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #1e1e3f;
    --pico-secondary: #6871ff;
    --pico-secondary-background: #f1d000;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #c7c7c7;
    --pico-secondary-hover-background: #808080;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #1e1e3f;
    --pico-contrast: #ff77ff;
    --pico-contrast-background: #ff77ff;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #ffffff;
    --pico-contrast-hover-background: #ffffff;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #1e1e3f;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #ff77ff;
    --pico-h2-color: #c7c7c7;
    --pico-h3-color: #c7c7c7;
    --pico-h4-color: #6871ff;
    --pico-h5-color: #6871ff;
    --pico-h6-color: #808080;
    --pico-mark-background-color: #ffe700;
    --pico-mark-color: #1e1e3f;
    --pico-ins-color: #3ad900;
    --pico-del-color: #d90429;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #43d426;
    --pico-code-background-color: #43d426;
    --pico-code-color: #ffe700;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #1e1e3f;
    --pico-form-element-selected-background-color: #f1d000;
    --pico-form-element-border-color: #808080;
    --pico-form-element-color: #c7c7c7;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #1e1e3f;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #d90429;
    --pico-form-element-invalid-active-border-color: #f92a1c;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #3ad900;
    --pico-form-element-valid-active-border-color: #00c5c7;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #808080;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #1e1e3f;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #f1d000;
    --pico-range-active-border-color: #808080;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #1e1e3f;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #43d426;
    --pico-dropdown-background-color: #1e1e3f;
    --pico-dropdown-border-color: #f1d000;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #43d426;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #f1d000;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #1e1e3f;
    --b16-base01: #43d426;
    --b16-base02: #f1d000;
    --b16-base03: #808080;
    --b16-base04: #6871ff;
    --b16-base05: #c7c7c7;
    --b16-base06: #ff77ff;
    --b16-base07: #ffffff;
    --b16-base08: #d90429;
    --b16-base09: #f92a1c;
    --b16-base0A: #ffe700;
    --b16-base0B: #3ad900;
    --b16-base0C: #00c5c7;
    --b16-base0D: #6943ff;
    --b16-base0E: #ff2c70;
    --b16-base0F: #79e8fb;
}
