/* Gigavolt Theme - by Aidan Swope (http://github.com/Whillikers) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #202126;
    --pico-color: #e9e7e1;
    --pico-text-selection-color: #5a576e;
    --pico-muted-color: #a1d2e6;
    --pico-muted-border-color: #5a576e;
    --pico-primary: #40bfff;
    --pico-primary-background: #5a576e;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #ae94f9;
    --pico-primary-hover-background: #ae94f9;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #202126;
    --pico-secondary: #cad3ff;
    --pico-secondary-background: #5a576e;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #e9e7e1;
    --pico-secondary-hover-background: #a1d2e6;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #202126;
    --pico-contrast: #eff0f9;
    --pico-contrast-background: #eff0f9;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #f2fbff;
    --pico-contrast-hover-background: #f2fbff;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #202126;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #eff0f9;
    --pico-h2-color: #e9e7e1;
    --pico-h3-color: #e9e7e1;
    --pico-h4-color: #cad3ff;
    --pico-h5-color: #cad3ff;
    --pico-h6-color: #a1d2e6;
    --pico-mark-background-color: #ffdc2d;
    --pico-mark-color: #202126;
    --pico-ins-color: #f2e6a9;
    --pico-del-color: #ff661a;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #2d303d;
    --pico-code-background-color: #2d303d;
    --pico-code-color: #ffdc2d;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #202126;
    --pico-form-element-selected-background-color: #5a576e;
    --pico-form-element-border-color: #a1d2e6;
    --pico-form-element-color: #e9e7e1;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #202126;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #ff661a;
    --pico-form-element-invalid-active-border-color: #19f988;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #f2e6a9;
    --pico-form-element-valid-active-border-color: #fb6acb;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #a1d2e6;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #202126;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #5a576e;
    --pico-range-active-border-color: #a1d2e6;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #202126;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #2d303d;
    --pico-dropdown-background-color: #202126;
    --pico-dropdown-border-color: #5a576e;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #2d303d;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #5a576e;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #202126;
    --b16-base01: #2d303d;
    --b16-base02: #5a576e;
    --b16-base03: #a1d2e6;
    --b16-base04: #cad3ff;
    --b16-base05: #e9e7e1;
    --b16-base06: #eff0f9;
    --b16-base07: #f2fbff;
    --b16-base08: #ff661a;
    --b16-base09: #19f988;
    --b16-base0A: #ffdc2d;
    --b16-base0B: #f2e6a9;
    --b16-base0C: #fb6acb;
    --b16-base0D: #40bfff;
    --b16-base0E: #ae94f9;
    --b16-base0F: #6187ff;
}
