/* Kanagawa Theme - by Tommaso Laurenzi (https://github.com/rebelot) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #1f1f28;
    --pico-color: #dcd7ba;
    --pico-text-selection-color: #223249;
    --pico-muted-color: #54546d;
    --pico-muted-border-color: #223249;
    --pico-primary: #7e9cd8;
    --pico-primary-background: #223249;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #957fb8;
    --pico-primary-hover-background: #957fb8;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #1f1f28;
    --pico-secondary: #727169;
    --pico-secondary-background: #223249;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #dcd7ba;
    --pico-secondary-hover-background: #54546d;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #1f1f28;
    --pico-contrast: #c8c093;
    --pico-contrast-background: #c8c093;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #717c7c;
    --pico-contrast-hover-background: #717c7c;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #1f1f28;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #c8c093;
    --pico-h2-color: #dcd7ba;
    --pico-h3-color: #dcd7ba;
    --pico-h4-color: #727169;
    --pico-h5-color: #727169;
    --pico-h6-color: #54546d;
    --pico-mark-background-color: #c0a36e;
    --pico-mark-color: #1f1f28;
    --pico-ins-color: #76946a;
    --pico-del-color: #c34043;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #16161d;
    --pico-code-background-color: #16161d;
    --pico-code-color: #c0a36e;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #1f1f28;
    --pico-form-element-selected-background-color: #223249;
    --pico-form-element-border-color: #54546d;
    --pico-form-element-color: #dcd7ba;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #1f1f28;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #c34043;
    --pico-form-element-invalid-active-border-color: #ffa066;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #76946a;
    --pico-form-element-valid-active-border-color: #6a9589;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #54546d;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #1f1f28;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #223249;
    --pico-range-active-border-color: #54546d;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #1f1f28;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #16161d;
    --pico-dropdown-background-color: #1f1f28;
    --pico-dropdown-border-color: #223249;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #16161d;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #223249;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #1f1f28;
    --b16-base01: #16161d;
    --b16-base02: #223249;
    --b16-base03: #54546d;
    --b16-base04: #727169;
    --b16-base05: #dcd7ba;
    --b16-base06: #c8c093;
    --b16-base07: #717c7c;
    --b16-base08: #c34043;
    --b16-base09: #ffa066;
    --b16-base0A: #c0a36e;
    --b16-base0B: #76946a;
    --b16-base0C: #6a9589;
    --b16-base0D: #7e9cd8;
    --b16-base0E: #957fb8;
    --b16-base0F: #d27e99;
}
