/* Measured Dark Theme - by Measured (https://measured.co) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #00211f;
    --pico-color: #dcdcdc;
    --pico-text-selection-color: #005453;
    --pico-muted-color: #ababab;
    --pico-muted-border-color: #005453;
    --pico-primary: #88b0da;
    --pico-primary-background: #005453;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #b39be0;
    --pico-primary-hover-background: #b39be0;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #00211f;
    --pico-secondary: #c3c3c3;
    --pico-secondary-background: #005453;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #dcdcdc;
    --pico-secondary-hover-background: #ababab;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #00211f;
    --pico-contrast: #efefef;
    --pico-contrast-background: #efefef;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #f5f5f5;
    --pico-contrast-hover-background: #f5f5f5;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #00211f;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #efefef;
    --pico-h2-color: #dcdcdc;
    --pico-h3-color: #dcdcdc;
    --pico-h4-color: #c3c3c3;
    --pico-h5-color: #c3c3c3;
    --pico-h6-color: #ababab;
    --pico-mark-background-color: #bfac4e;
    --pico-mark-color: #00211f;
    --pico-ins-color: #56c16f;
    --pico-del-color: #ce7e8e;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #003a38;
    --pico-code-background-color: #003a38;
    --pico-code-color: #bfac4e;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #00211f;
    --pico-form-element-selected-background-color: #005453;
    --pico-form-element-border-color: #ababab;
    --pico-form-element-color: #dcdcdc;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #00211f;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #ce7e8e;
    --pico-form-element-invalid-active-border-color: #dca37c;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #56c16f;
    --pico-form-element-valid-active-border-color: #62c0be;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #ababab;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #00211f;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #005453;
    --pico-range-active-border-color: #ababab;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #00211f;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #003a38;
    --pico-dropdown-background-color: #00211f;
    --pico-dropdown-border-color: #005453;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #003a38;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #005453;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #00211f;
    --b16-base01: #003a38;
    --b16-base02: #005453;
    --b16-base03: #ababab;
    --b16-base04: #c3c3c3;
    --b16-base05: #dcdcdc;
    --b16-base06: #efefef;
    --b16-base07: #f5f5f5;
    --b16-base08: #ce7e8e;
    --b16-base09: #dca37c;
    --b16-base0A: #bfac4e;
    --b16-base0B: #56c16f;
    --b16-base0C: #62c0be;
    --b16-base0D: #88b0da;
    --b16-base0E: #b39be0;
    --b16-base0F: #d89aba;
}
