/* Measured Light Theme - by Measured (https://measured.co) */

[data-theme=light] {
    /* Pico CSS color variables */
    --pico-background-color: #fdf9f5;
    --pico-color: #292929;
    --pico-text-selection-color: #ffeada;
    --pico-muted-color: #5a5a5a;
    --pico-muted-border-color: #ffeada;
    --pico-primary: #0158ad;
    --pico-primary-background: #ffeada;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #6645c2;
    --pico-primary-hover-background: #6645c2;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #fdf9f5;
    --pico-secondary: #404040;
    --pico-secondary-background: #ffeada;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #292929;
    --pico-secondary-hover-background: #5a5a5a;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #fdf9f5;
    --pico-contrast: #181818;
    --pico-contrast-background: #181818;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #000000;
    --pico-contrast-hover-background: #000000;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #fdf9f5;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #181818;
    --pico-h2-color: #292929;
    --pico-h3-color: #292929;
    --pico-h4-color: #404040;
    --pico-h5-color: #404040;
    --pico-h6-color: #5a5a5a;
    --pico-mark-background-color: #645a00;
    --pico-mark-color: #fdf9f5;
    --pico-ins-color: #0c680c;
    --pico-del-color: #ac1f35;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #f9f5f1;
    --pico-code-background-color: #f9f5f1;
    --pico-code-color: #645a00;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #fdf9f5;
    --pico-form-element-selected-background-color: #ffeada;
    --pico-form-element-border-color: #5a5a5a;
    --pico-form-element-color: #292929;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #fdf9f5;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #ac1f35;
    --pico-form-element-invalid-active-border-color: #ad5601;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #0c680c;
    --pico-form-element-valid-active-border-color: #01716f;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #5a5a5a;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #fdf9f5;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #ffeada;
    --pico-range-active-border-color: #5a5a5a;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #fdf9f5;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #f9f5f1;
    --pico-dropdown-background-color: #fdf9f5;
    --pico-dropdown-border-color: #ffeada;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #f9f5f1;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #ffeada;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #fdf9f5;
    --b16-base01: #f9f5f1;
    --b16-base02: #ffeada;
    --b16-base03: #5a5a5a;
    --b16-base04: #404040;
    --b16-base05: #292929;
    --b16-base06: #181818;
    --b16-base07: #000000;
    --b16-base08: #ac1f35;
    --b16-base09: #ad5601;
    --b16-base0A: #645a00;
    --b16-base0B: #0c680c;
    --b16-base0C: #01716f;
    --b16-base0D: #0158ad;
    --b16-base0E: #6645c2;
    --b16-base0F: #a81a66;
}
