/* Ocean Theme - by Chris Kempson (http://chriskempson.com) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #2b303b;
    --pico-color: #c0c5ce;
    --pico-text-selection-color: #4f5b66;
    --pico-muted-color: #65737e;
    --pico-muted-border-color: #4f5b66;
    --pico-primary: #8fa1b3;
    --pico-primary-background: #4f5b66;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #b48ead;
    --pico-primary-hover-background: #b48ead;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #2b303b;
    --pico-secondary: #a7adba;
    --pico-secondary-background: #4f5b66;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #c0c5ce;
    --pico-secondary-hover-background: #65737e;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #2b303b;
    --pico-contrast: #dfe1e8;
    --pico-contrast-background: #dfe1e8;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #eff1f5;
    --pico-contrast-hover-background: #eff1f5;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #2b303b;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #dfe1e8;
    --pico-h2-color: #c0c5ce;
    --pico-h3-color: #c0c5ce;
    --pico-h4-color: #a7adba;
    --pico-h5-color: #a7adba;
    --pico-h6-color: #65737e;
    --pico-mark-background-color: #ebcb8b;
    --pico-mark-color: #2b303b;
    --pico-ins-color: #a3be8c;
    --pico-del-color: #bf616a;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #343d46;
    --pico-code-background-color: #343d46;
    --pico-code-color: #ebcb8b;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #2b303b;
    --pico-form-element-selected-background-color: #4f5b66;
    --pico-form-element-border-color: #65737e;
    --pico-form-element-color: #c0c5ce;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #2b303b;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #bf616a;
    --pico-form-element-invalid-active-border-color: #d08770;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #a3be8c;
    --pico-form-element-valid-active-border-color: #96b5b4;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #65737e;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #2b303b;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #4f5b66;
    --pico-range-active-border-color: #65737e;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #2b303b;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #343d46;
    --pico-dropdown-background-color: #2b303b;
    --pico-dropdown-border-color: #4f5b66;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #343d46;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #4f5b66;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #2b303b;
    --b16-base01: #343d46;
    --b16-base02: #4f5b66;
    --b16-base03: #65737e;
    --b16-base04: #a7adba;
    --b16-base05: #c0c5ce;
    --b16-base06: #dfe1e8;
    --b16-base07: #eff1f5;
    --b16-base08: #bf616a;
    --b16-base09: #d08770;
    --b16-base0A: #ebcb8b;
    --b16-base0B: #a3be8c;
    --b16-base0C: #96b5b4;
    --b16-base0D: #8fa1b3;
    --b16-base0E: #b48ead;
    --b16-base0F: #ab7967;
}
