/* Chinoiserie Morandi Theme - by Di Wang (https://cs.cmu.edu/~diw3) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #1d1d1d;
    --pico-color: #c4cbcf;
    --pico-text-selection-color: #373737;
    --pico-muted-color: #918072;
    --pico-muted-border-color: #373737;
    --pico-primary: #839ec9;
    --pico-primary-background: #373737;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #98a1d8;
    --pico-primary-hover-background: #98a1d8;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #1d1d1d;
    --pico-secondary: #bdaead;
    --pico-secondary-background: #373737;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #c4cbcf;
    --pico-secondary-hover-background: #918072;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #1d1d1d;
    --pico-contrast: #eee7f2;
    --pico-contrast-background: #eee7f2;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #fffef9;
    --pico-contrast-hover-background: #fffef9;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #1d1d1d;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #eee7f2;
    --pico-h2-color: #c4cbcf;
    --pico-h3-color: #c4cbcf;
    --pico-h4-color: #bdaead;
    --pico-h5-color: #bdaead;
    --pico-h6-color: #918072;
    --pico-mark-background-color: #e5bc84;
    --pico-mark-color: #1d1d1d;
    --pico-ins-color: #8ca07b;
    --pico-del-color: #c06061;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #282828;
    --pico-code-background-color: #282828;
    --pico-code-color: #e5bc84;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #1d1d1d;
    --pico-form-element-selected-background-color: #373737;
    --pico-form-element-border-color: #918072;
    --pico-form-element-color: #c4cbcf;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #1d1d1d;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #c06061;
    --pico-form-element-invalid-active-border-color: #ff937f;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #8ca07b;
    --pico-form-element-valid-active-border-color: #5e8c9b;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #918072;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #1d1d1d;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #373737;
    --pico-range-active-border-color: #918072;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #1d1d1d;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #282828;
    --pico-dropdown-background-color: #1d1d1d;
    --pico-dropdown-border-color: #373737;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #282828;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #373737;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #1d1d1d;
    --b16-base01: #282828;
    --b16-base02: #373737;
    --b16-base03: #918072;
    --b16-base04: #bdaead;
    --b16-base05: #c4cbcf;
    --b16-base06: #eee7f2;
    --b16-base07: #fffef9;
    --b16-base08: #c06061;
    --b16-base09: #ff937f;
    --b16-base0A: #e5bc84;
    --b16-base0B: #8ca07b;
    --b16-base0C: #5e8c9b;
    --b16-base0D: #839ec9;
    --b16-base0E: #98a1d8;
    --b16-base0F: #d9cdb4;
}
