/* Icy Dark Theme - by icyphox (https://icyphox.ga) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #021012;
    --pico-color: #095b67;
    --pico-text-selection-color: #041f23;
    --pico-muted-color: #052e34;
    --pico-muted-border-color: #041f23;
    --pico-primary: #00bcd4;
    --pico-primary-background: #041f23;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #00acc1;
    --pico-primary-hover-background: #00acc1;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #021012;
    --pico-secondary: #064048;
    --pico-secondary-background: #041f23;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #095b67;
    --pico-secondary-hover-background: #052e34;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #021012;
    --pico-contrast: #0c7c8c;
    --pico-contrast-background: #0c7c8c;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #109cb0;
    --pico-contrast-hover-background: #109cb0;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #021012;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #0c7c8c;
    --pico-h2-color: #095b67;
    --pico-h3-color: #095b67;
    --pico-h4-color: #064048;
    --pico-h5-color: #064048;
    --pico-h6-color: #052e34;
    --pico-mark-background-color: #80deea;
    --pico-mark-color: #021012;
    --pico-ins-color: #4dd0e1;
    --pico-del-color: #16c1d9;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #031619;
    --pico-code-background-color: #031619;
    --pico-code-color: #80deea;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #021012;
    --pico-form-element-selected-background-color: #041f23;
    --pico-form-element-border-color: #052e34;
    --pico-form-element-color: #095b67;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #021012;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #16c1d9;
    --pico-form-element-invalid-active-border-color: #b3ebf2;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #4dd0e1;
    --pico-form-element-valid-active-border-color: #26c6da;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #052e34;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #021012;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #041f23;
    --pico-range-active-border-color: #052e34;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #021012;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #031619;
    --pico-dropdown-background-color: #021012;
    --pico-dropdown-border-color: #041f23;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #031619;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #041f23;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #021012;
    --b16-base01: #031619;
    --b16-base02: #041f23;
    --b16-base03: #052e34;
    --b16-base04: #064048;
    --b16-base05: #095b67;
    --b16-base06: #0c7c8c;
    --b16-base07: #109cb0;
    --b16-base08: #16c1d9;
    --b16-base09: #b3ebf2;
    --b16-base0A: #80deea;
    --b16-base0B: #4dd0e1;
    --b16-base0C: #26c6da;
    --b16-base0D: #00bcd4;
    --b16-base0E: #00acc1;
    --b16-base0F: #0097a7;
}
