/* Sandcastle Theme - by George Essig (https://github.com/gessig) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #282c34;
    --pico-color: #a89984;
    --pico-text-selection-color: #3e4451;
    --pico-muted-color: #665c54;
    --pico-muted-border-color: #3e4451;
    --pico-primary: #83a598;
    --pico-primary-background: #3e4451;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #d75f5f;
    --pico-primary-hover-background: #d75f5f;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #282c34;
    --pico-secondary: #928374;
    --pico-secondary-background: #3e4451;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #a89984;
    --pico-secondary-hover-background: #665c54;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #282c34;
    --pico-contrast: #d5c4a1;
    --pico-contrast-background: #d5c4a1;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #fdf4c1;
    --pico-contrast-hover-background: #fdf4c1;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #282c34;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #d5c4a1;
    --pico-h2-color: #a89984;
    --pico-h3-color: #a89984;
    --pico-h4-color: #928374;
    --pico-h5-color: #928374;
    --pico-h6-color: #665c54;
    --pico-mark-background-color: #a07e3b;
    --pico-mark-color: #282c34;
    --pico-ins-color: #528b8b;
    --pico-del-color: #83a598;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #2c323b;
    --pico-code-background-color: #2c323b;
    --pico-code-color: #a07e3b;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #282c34;
    --pico-form-element-selected-background-color: #3e4451;
    --pico-form-element-border-color: #665c54;
    --pico-form-element-color: #a89984;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #282c34;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #83a598;
    --pico-form-element-invalid-active-border-color: #a07e3b;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #528b8b;
    --pico-form-element-valid-active-border-color: #83a598;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #665c54;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #282c34;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #3e4451;
    --pico-range-active-border-color: #665c54;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #282c34;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #2c323b;
    --pico-dropdown-background-color: #282c34;
    --pico-dropdown-border-color: #3e4451;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #2c323b;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #3e4451;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #282c34;
    --b16-base01: #2c323b;
    --b16-base02: #3e4451;
    --b16-base03: #665c54;
    --b16-base04: #928374;
    --b16-base05: #a89984;
    --b16-base06: #d5c4a1;
    --b16-base07: #fdf4c1;
    --b16-base08: #83a598;
    --b16-base09: #a07e3b;
    --b16-base0A: #a07e3b;
    --b16-base0B: #528b8b;
    --b16-base0C: #83a598;
    --b16-base0D: #83a598;
    --b16-base0E: #d75f5f;
    --b16-base0F: #a87322;
}
