/* Katy Theme - by George Essig (https://github.com/gessig) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #292d3e;
    --pico-color: #959dcb;
    --pico-text-selection-color: #5c598b;
    --pico-muted-color: #676e95;
    --pico-muted-border-color: #5c598b;
    --pico-primary: #82aaff;
    --pico-primary-background: #5c598b;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #c792ea;
    --pico-primary-hover-background: #c792ea;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #292d3e;
    --pico-secondary: #8796b0;
    --pico-secondary-background: #5c598b;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #959dcb;
    --pico-secondary-hover-background: #676e95;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #292d3e;
    --pico-contrast: #959dcb;
    --pico-contrast-background: #959dcb;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #ffffff;
    --pico-contrast-hover-background: #ffffff;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #292d3e;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #959dcb;
    --pico-h2-color: #959dcb;
    --pico-h3-color: #959dcb;
    --pico-h4-color: #8796b0;
    --pico-h5-color: #8796b0;
    --pico-h6-color: #676e95;
    --pico-mark-background-color: #e0a557;
    --pico-mark-color: #292d3e;
    --pico-ins-color: #78c06e;
    --pico-del-color: #6e98e1;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #444267;
    --pico-code-background-color: #444267;
    --pico-code-color: #e0a557;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #292d3e;
    --pico-form-element-selected-background-color: #5c598b;
    --pico-form-element-border-color: #676e95;
    --pico-form-element-color: #959dcb;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #292d3e;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #6e98e1;
    --pico-form-element-invalid-active-border-color: #f78c6c;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #78c06e;
    --pico-form-element-valid-active-border-color: #83b7e5;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #676e95;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #292d3e;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #5c598b;
    --pico-range-active-border-color: #676e95;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #292d3e;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #444267;
    --pico-dropdown-background-color: #292d3e;
    --pico-dropdown-border-color: #5c598b;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #444267;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #5c598b;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #292d3e;
    --b16-base01: #444267;
    --b16-base02: #5c598b;
    --b16-base03: #676e95;
    --b16-base04: #8796b0;
    --b16-base05: #959dcb;
    --b16-base06: #959dcb;
    --b16-base07: #ffffff;
    --b16-base08: #6e98e1;
    --b16-base09: #f78c6c;
    --b16-base0A: #e0a557;
    --b16-base0B: #78c06e;
    --b16-base0C: #83b7e5;
    --b16-base0D: #82aaff;
    --b16-base0E: #c792ea;
    --b16-base0F: #ff5370;
}
