/* darkmoss Theme - by Gabriel Avanzi (https://github.com/avanzzzi) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #171e1f;
    --pico-color: #c7c7a5;
    --pico-text-selection-color: #373c3d;
    --pico-muted-color: #555e5f;
    --pico-muted-border-color: #373c3d;
    --pico-primary: #498091;
    --pico-primary-background: #373c3d;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #9bc0c8;
    --pico-primary-hover-background: #9bc0c8;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #171e1f;
    --pico-secondary: #818f80;
    --pico-secondary-background: #373c3d;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #c7c7a5;
    --pico-secondary-hover-background: #555e5f;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #171e1f;
    --pico-contrast: #e3e3c8;
    --pico-contrast-background: #e3e3c8;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #e1eaef;
    --pico-contrast-hover-background: #e1eaef;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #171e1f;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #e3e3c8;
    --pico-h2-color: #c7c7a5;
    --pico-h3-color: #c7c7a5;
    --pico-h4-color: #818f80;
    --pico-h5-color: #818f80;
    --pico-h6-color: #555e5f;
    --pico-mark-background-color: #fdb11f;
    --pico-mark-color: #171e1f;
    --pico-ins-color: #499180;
    --pico-del-color: #ff4658;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #252c2d;
    --pico-code-background-color: #252c2d;
    --pico-code-color: #fdb11f;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #171e1f;
    --pico-form-element-selected-background-color: #373c3d;
    --pico-form-element-border-color: #555e5f;
    --pico-form-element-color: #c7c7a5;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #171e1f;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #ff4658;
    --pico-form-element-invalid-active-border-color: #e6db74;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #499180;
    --pico-form-element-valid-active-border-color: #66d9ef;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #555e5f;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #171e1f;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #373c3d;
    --pico-range-active-border-color: #555e5f;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #171e1f;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #252c2d;
    --pico-dropdown-background-color: #171e1f;
    --pico-dropdown-border-color: #373c3d;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #252c2d;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #373c3d;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #171e1f;
    --b16-base01: #252c2d;
    --b16-base02: #373c3d;
    --b16-base03: #555e5f;
    --b16-base04: #818f80;
    --b16-base05: #c7c7a5;
    --b16-base06: #e3e3c8;
    --b16-base07: #e1eaef;
    --b16-base08: #ff4658;
    --b16-base09: #e6db74;
    --b16-base0A: #fdb11f;
    --b16-base0B: #499180;
    --b16-base0C: #66d9ef;
    --b16-base0D: #498091;
    --b16-base0E: #9bc0c8;
    --b16-base0F: #d27b53;
}
