/* Hardcore Theme - by Chris Caller */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #212121;
    --pico-color: #cdcdcd;
    --pico-text-selection-color: #353535;
    --pico-muted-color: #4a4a4a;
    --pico-muted-border-color: #353535;
    --pico-primary: #66d9ef;
    --pico-primary-background: #353535;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #9e6ffe;
    --pico-primary-hover-background: #9e6ffe;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #212121;
    --pico-secondary: #707070;
    --pico-secondary-background: #353535;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #cdcdcd;
    --pico-secondary-hover-background: #4a4a4a;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #212121;
    --pico-contrast: #e5e5e5;
    --pico-contrast-background: #e5e5e5;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #ffffff;
    --pico-contrast-hover-background: #ffffff;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #212121;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #e5e5e5;
    --pico-h2-color: #cdcdcd;
    --pico-h3-color: #cdcdcd;
    --pico-h4-color: #707070;
    --pico-h5-color: #707070;
    --pico-h6-color: #4a4a4a;
    --pico-mark-background-color: #e6db74;
    --pico-mark-color: #212121;
    --pico-ins-color: #a6e22e;
    --pico-del-color: #f92672;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #303030;
    --pico-code-background-color: #303030;
    --pico-code-color: #e6db74;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #212121;
    --pico-form-element-selected-background-color: #353535;
    --pico-form-element-border-color: #4a4a4a;
    --pico-form-element-color: #cdcdcd;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #212121;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #f92672;
    --pico-form-element-invalid-active-border-color: #fd971f;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #a6e22e;
    --pico-form-element-valid-active-border-color: #708387;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #4a4a4a;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #212121;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #353535;
    --pico-range-active-border-color: #4a4a4a;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #212121;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #303030;
    --pico-dropdown-background-color: #212121;
    --pico-dropdown-border-color: #353535;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #303030;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #353535;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #212121;
    --b16-base01: #303030;
    --b16-base02: #353535;
    --b16-base03: #4a4a4a;
    --b16-base04: #707070;
    --b16-base05: #cdcdcd;
    --b16-base06: #e5e5e5;
    --b16-base07: #ffffff;
    --b16-base08: #f92672;
    --b16-base09: #fd971f;
    --b16-base0A: #e6db74;
    --b16-base0B: #a6e22e;
    --b16-base0C: #708387;
    --b16-base0D: #66d9ef;
    --b16-base0E: #9e6ffe;
    --b16-base0F: #e8b882;
}
