/* Rebecca Theme - by Victor Borja (http://github.com/vic) based on Rebecca Theme (http://github.com/vic/rebecca-theme) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #292a44;
    --pico-color: #f1eff8;
    --pico-text-selection-color: #383a62;
    --pico-muted-color: #666699;
    --pico-muted-border-color: #383a62;
    --pico-primary: #2de0a7;
    --pico-primary-background: #383a62;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #7aa5ff;
    --pico-primary-hover-background: #7aa5ff;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #292a44;
    --pico-secondary: #a0a0c5;
    --pico-secondary-background: #383a62;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #f1eff8;
    --pico-secondary-hover-background: #666699;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #292a44;
    --pico-contrast: #ccccff;
    --pico-contrast-background: #ccccff;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #53495d;
    --pico-contrast-hover-background: #53495d;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #292a44;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #ccccff;
    --pico-h2-color: #f1eff8;
    --pico-h3-color: #f1eff8;
    --pico-h4-color: #a0a0c5;
    --pico-h5-color: #a0a0c5;
    --pico-h6-color: #666699;
    --pico-mark-background-color: #ae81ff;
    --pico-mark-color: #292a44;
    --pico-ins-color: #6dfedf;
    --pico-del-color: #a0a0c5;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #663399;
    --pico-code-background-color: #663399;
    --pico-code-color: #ae81ff;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #292a44;
    --pico-form-element-selected-background-color: #383a62;
    --pico-form-element-border-color: #666699;
    --pico-form-element-color: #f1eff8;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #292a44;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #a0a0c5;
    --pico-form-element-invalid-active-border-color: #efe4a1;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #6dfedf;
    --pico-form-element-valid-active-border-color: #8eaee0;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #666699;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #292a44;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #383a62;
    --pico-range-active-border-color: #666699;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #292a44;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #663399;
    --pico-dropdown-background-color: #292a44;
    --pico-dropdown-border-color: #383a62;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #663399;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #383a62;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #292a44;
    --b16-base01: #663399;
    --b16-base02: #383a62;
    --b16-base03: #666699;
    --b16-base04: #a0a0c5;
    --b16-base05: #f1eff8;
    --b16-base06: #ccccff;
    --b16-base07: #53495d;
    --b16-base08: #a0a0c5;
    --b16-base09: #efe4a1;
    --b16-base0A: #ae81ff;
    --b16-base0B: #6dfedf;
    --b16-base0C: #8eaee0;
    --b16-base0D: #2de0a7;
    --b16-base0E: #7aa5ff;
    --b16-base0F: #ff79c6;
}
