/* Valua Theme - by Nonetrix (https://github.com/nonetrix) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #131f1f;
    --pico-color: #98c1a3;
    --pico-text-selection-color: #273d3c;
    --pico-muted-color: #3e5c53;
    --pico-muted-border-color: #273d3c;
    --pico-primary: #4ed2d2;
    --pico-primary-background: #273d3c;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #a874e0;
    --pico-primary-hover-background: #a874e0;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #131f1f;
    --pico-secondary: #6d9877;
    --pico-secondary-background: #273d3c;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #98c1a3;
    --pico-secondary-hover-background: #3e5c53;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #131f1f;
    --pico-contrast: #a5cbb9;
    --pico-contrast-background: #a5cbb9;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #aacbcb;
    --pico-contrast-hover-background: #aacbcb;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #131f1f;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #a5cbb9;
    --pico-h2-color: #98c1a3;
    --pico-h3-color: #98c1a3;
    --pico-h4-color: #6d9877;
    --pico-h5-color: #6d9877;
    --pico-h6-color: #3e5c53;
    --pico-mark-background-color: #dfe754;
    --pico-mark-color: #131f1f;
    --pico-ins-color: #59d678;
    --pico-del-color: #d7586e;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #213132;
    --pico-code-background-color: #213132;
    --pico-code-color: #dfe754;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #131f1f;
    --pico-form-element-selected-background-color: #273d3c;
    --pico-form-element-border-color: #3e5c53;
    --pico-form-element-color: #98c1a3;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #131f1f;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #d7586e;
    --pico-form-element-invalid-active-border-color: #e6b466;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #59d678;
    --pico-form-element-valid-active-border-color: #76dbd2;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #3e5c53;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #131f1f;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #273d3c;
    --pico-range-active-border-color: #3e5c53;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #131f1f;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #213132;
    --pico-dropdown-background-color: #131f1f;
    --pico-dropdown-border-color: #273d3c;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #213132;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #273d3c;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #131f1f;
    --b16-base01: #213132;
    --b16-base02: #273d3c;
    --b16-base03: #3e5c53;
    --b16-base04: #6d9877;
    --b16-base05: #98c1a3;
    --b16-base06: #a5cbb9;
    --b16-base07: #aacbcb;
    --b16-base08: #d7586e;
    --b16-base09: #e6b466;
    --b16-base0A: #dfe754;
    --b16-base0B: #59d678;
    --b16-base0C: #76dbd2;
    --b16-base0D: #4ed2d2;
    --b16-base0E: #a874e0;
    --b16-base0F: #c05a8f;
}
