/* Google Light Theme - by Seth Wright (http://sethawright.com) */

[data-theme=light] {
    /* Pico CSS color variables */
    --pico-background-color: #ffffff;
    --pico-color: #373b41;
    --pico-text-selection-color: #c5c8c6;
    --pico-muted-color: #b4b7b4;
    --pico-muted-border-color: #c5c8c6;
    --pico-primary: #3971ed;
    --pico-primary-background: #c5c8c6;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #a36ac7;
    --pico-primary-hover-background: #a36ac7;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #ffffff;
    --pico-secondary: #969896;
    --pico-secondary-background: #c5c8c6;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #373b41;
    --pico-secondary-hover-background: #b4b7b4;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #ffffff;
    --pico-contrast: #282a2e;
    --pico-contrast-background: #282a2e;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #1d1f21;
    --pico-contrast-hover-background: #1d1f21;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #ffffff;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #282a2e;
    --pico-h2-color: #373b41;
    --pico-h3-color: #373b41;
    --pico-h4-color: #969896;
    --pico-h5-color: #969896;
    --pico-h6-color: #b4b7b4;
    --pico-mark-background-color: #fba922;
    --pico-mark-color: #ffffff;
    --pico-ins-color: #198844;
    --pico-del-color: #cc342b;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #e0e0e0;
    --pico-code-background-color: #e0e0e0;
    --pico-code-color: #fba922;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #ffffff;
    --pico-form-element-selected-background-color: #c5c8c6;
    --pico-form-element-border-color: #b4b7b4;
    --pico-form-element-color: #373b41;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #ffffff;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #cc342b;
    --pico-form-element-invalid-active-border-color: #f96a38;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #198844;
    --pico-form-element-valid-active-border-color: #3971ed;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #b4b7b4;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #ffffff;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #c5c8c6;
    --pico-range-active-border-color: #b4b7b4;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #ffffff;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #e0e0e0;
    --pico-dropdown-background-color: #ffffff;
    --pico-dropdown-border-color: #c5c8c6;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #e0e0e0;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #c5c8c6;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #ffffff;
    --b16-base01: #e0e0e0;
    --b16-base02: #c5c8c6;
    --b16-base03: #b4b7b4;
    --b16-base04: #969896;
    --b16-base05: #373b41;
    --b16-base06: #282a2e;
    --b16-base07: #1d1f21;
    --b16-base08: #cc342b;
    --b16-base09: #f96a38;
    --b16-base0A: #fba922;
    --b16-base0B: #198844;
    --b16-base0C: #3971ed;
    --b16-base0D: #3971ed;
    --b16-base0E: #a36ac7;
    --b16-base0F: #3971ed;
}
