/* Circus Theme - by Stephan Boyer (https://github.com/stepchowfun) and Esther Wang (https://github.com/ewang12) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #191919;
    --pico-color: #a7a7a7;
    --pico-text-selection-color: #303030;
    --pico-muted-color: #5f5a60;
    --pico-muted-border-color: #303030;
    --pico-primary: #639ee4;
    --pico-primary-background: #303030;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #b888e2;
    --pico-primary-hover-background: #b888e2;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #191919;
    --pico-secondary: #505050;
    --pico-secondary-background: #303030;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #a7a7a7;
    --pico-secondary-hover-background: #5f5a60;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #191919;
    --pico-contrast: #808080;
    --pico-contrast-background: #808080;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #ffffff;
    --pico-contrast-hover-background: #ffffff;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #191919;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #808080;
    --pico-h2-color: #a7a7a7;
    --pico-h3-color: #a7a7a7;
    --pico-h4-color: #505050;
    --pico-h5-color: #505050;
    --pico-h6-color: #5f5a60;
    --pico-mark-background-color: #c3ba63;
    --pico-mark-color: #191919;
    --pico-ins-color: #84b97c;
    --pico-del-color: #dc657d;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #202020;
    --pico-code-background-color: #202020;
    --pico-code-color: #c3ba63;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #191919;
    --pico-form-element-selected-background-color: #303030;
    --pico-form-element-border-color: #5f5a60;
    --pico-form-element-color: #a7a7a7;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #191919;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #dc657d;
    --pico-form-element-invalid-active-border-color: #4bb1a7;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #84b97c;
    --pico-form-element-valid-active-border-color: #4bb1a7;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #5f5a60;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #191919;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #303030;
    --pico-range-active-border-color: #5f5a60;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #191919;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #202020;
    --pico-dropdown-background-color: #191919;
    --pico-dropdown-border-color: #303030;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #202020;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #303030;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #191919;
    --b16-base01: #202020;
    --b16-base02: #303030;
    --b16-base03: #5f5a60;
    --b16-base04: #505050;
    --b16-base05: #a7a7a7;
    --b16-base06: #808080;
    --b16-base07: #ffffff;
    --b16-base08: #dc657d;
    --b16-base09: #4bb1a7;
    --b16-base0A: #c3ba63;
    --b16-base0B: #84b97c;
    --b16-base0C: #4bb1a7;
    --b16-base0D: #639ee4;
    --b16-base0E: #b888e2;
    --b16-base0F: #b888e2;
}
