/* Zenbones Theme - by mcchrish */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #191919;
    --pico-color: #b279a7;
    --pico-text-selection-color: #819b69;
    --pico-muted-color: #b77e64;
    --pico-muted-border-color: #819b69;
    --pico-primary: #cf86c1;
    --pico-primary-background: #819b69;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #65b8c1;
    --pico-primary-hover-background: #65b8c1;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #191919;
    --pico-secondary: #6099c0;
    --pico-secondary-background: #819b69;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #b279a7;
    --pico-secondary-hover-background: #b77e64;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #191919;
    --pico-contrast: #66a5ad;
    --pico-contrast-background: #66a5ad;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #bbbbbb;
    --pico-contrast-hover-background: #bbbbbb;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #191919;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #66a5ad;
    --pico-h2-color: #b279a7;
    --pico-h3-color: #b279a7;
    --pico-h4-color: #6099c0;
    --pico-h5-color: #6099c0;
    --pico-h6-color: #b77e64;
    --pico-mark-background-color: #8bae68;
    --pico-mark-color: #191919;
    --pico-ins-color: #d68c67;
    --pico-del-color: #3d3839;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #de6e7c;
    --pico-code-background-color: #de6e7c;
    --pico-code-color: #8bae68;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #191919;
    --pico-form-element-selected-background-color: #819b69;
    --pico-form-element-border-color: #b77e64;
    --pico-form-element-color: #b279a7;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #191919;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #3d3839;
    --pico-form-element-invalid-active-border-color: #e8838f;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #d68c67;
    --pico-form-element-valid-active-border-color: #61abda;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #b77e64;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #191919;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #819b69;
    --pico-range-active-border-color: #b77e64;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #191919;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #de6e7c;
    --pico-dropdown-background-color: #191919;
    --pico-dropdown-border-color: #819b69;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #de6e7c;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #819b69;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #191919;
    --b16-base01: #de6e7c;
    --b16-base02: #819b69;
    --b16-base03: #b77e64;
    --b16-base04: #6099c0;
    --b16-base05: #b279a7;
    --b16-base06: #66a5ad;
    --b16-base07: #bbbbbb;
    --b16-base08: #3d3839;
    --b16-base09: #e8838f;
    --b16-base0A: #8bae68;
    --b16-base0B: #d68c67;
    --b16-base0C: #61abda;
    --b16-base0D: #cf86c1;
    --b16-base0E: #65b8c1;
    --b16-base0F: #8e8e8e;
}
