/* Atelier Forest Light Theme - by Bram de Haan (http://atelierbramdehaan.nl) */

[data-theme=light] {
    /* Pico CSS color variables */
    --pico-background-color: #f1efee;
    --pico-color: #68615e;
    --pico-text-selection-color: #a8a19f;
    --pico-muted-color: #9c9491;
    --pico-muted-border-color: #a8a19f;
    --pico-primary: #407ee7;
    --pico-primary-background: #a8a19f;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #6666ea;
    --pico-primary-hover-background: #6666ea;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #f1efee;
    --pico-secondary: #766e6b;
    --pico-secondary-background: #a8a19f;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #68615e;
    --pico-secondary-hover-background: #9c9491;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #f1efee;
    --pico-contrast: #2c2421;
    --pico-contrast-background: #2c2421;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #1b1918;
    --pico-contrast-hover-background: #1b1918;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #f1efee;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #2c2421;
    --pico-h2-color: #68615e;
    --pico-h3-color: #68615e;
    --pico-h4-color: #766e6b;
    --pico-h5-color: #766e6b;
    --pico-h6-color: #9c9491;
    --pico-mark-background-color: #c38418;
    --pico-mark-color: #f1efee;
    --pico-ins-color: #7b9726;
    --pico-del-color: #f22c40;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #e6e2e0;
    --pico-code-background-color: #e6e2e0;
    --pico-code-color: #c38418;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #f1efee;
    --pico-form-element-selected-background-color: #a8a19f;
    --pico-form-element-border-color: #9c9491;
    --pico-form-element-color: #68615e;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #f1efee;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #f22c40;
    --pico-form-element-invalid-active-border-color: #df5320;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #7b9726;
    --pico-form-element-valid-active-border-color: #3d97b8;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #9c9491;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #f1efee;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #a8a19f;
    --pico-range-active-border-color: #9c9491;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #f1efee;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #e6e2e0;
    --pico-dropdown-background-color: #f1efee;
    --pico-dropdown-border-color: #a8a19f;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #e6e2e0;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #a8a19f;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #f1efee;
    --b16-base01: #e6e2e0;
    --b16-base02: #a8a19f;
    --b16-base03: #9c9491;
    --b16-base04: #766e6b;
    --b16-base05: #68615e;
    --b16-base06: #2c2421;
    --b16-base07: #1b1918;
    --b16-base08: #f22c40;
    --b16-base09: #df5320;
    --b16-base0A: #c38418;
    --b16-base0B: #7b9726;
    --b16-base0C: #3d97b8;
    --b16-base0D: #407ee7;
    --b16-base0E: #6666ea;
    --b16-base0F: #c33ff3;
}
