/* Spaceduck Theme - by Guillermo Rodriguez (https://github.com/pineapplegiant), packaged by Gabriel Fontes (https://github.com/Misterio77) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #16172d;
    --pico-color: #ecf0c1;
    --pico-text-selection-color: #30365f;
    --pico-muted-color: #686f9a;
    --pico-muted-border-color: #30365f;
    --pico-primary: #7a5ccc;
    --pico-primary-background: #30365f;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #b3a1e6;
    --pico-primary-hover-background: #b3a1e6;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #16172d;
    --pico-secondary: #818596;
    --pico-secondary-background: #30365f;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #ecf0c1;
    --pico-secondary-hover-background: #686f9a;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #16172d;
    --pico-contrast: #c1c3cc;
    --pico-contrast-background: #c1c3cc;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #ffffff;
    --pico-contrast-hover-background: #ffffff;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #16172d;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #c1c3cc;
    --pico-h2-color: #ecf0c1;
    --pico-h3-color: #ecf0c1;
    --pico-h4-color: #818596;
    --pico-h5-color: #818596;
    --pico-h6-color: #686f9a;
    --pico-mark-background-color: #f2ce00;
    --pico-mark-color: #16172d;
    --pico-ins-color: #5ccc96;
    --pico-del-color: #e33400;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #1b1c36;
    --pico-code-background-color: #1b1c36;
    --pico-code-color: #f2ce00;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #16172d;
    --pico-form-element-selected-background-color: #30365f;
    --pico-form-element-border-color: #686f9a;
    --pico-form-element-color: #ecf0c1;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #16172d;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #e33400;
    --pico-form-element-invalid-active-border-color: #e39400;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #5ccc96;
    --pico-form-element-valid-active-border-color: #00a3cc;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #686f9a;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #16172d;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #30365f;
    --pico-range-active-border-color: #686f9a;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #16172d;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #1b1c36;
    --pico-dropdown-background-color: #16172d;
    --pico-dropdown-border-color: #30365f;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #1b1c36;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #30365f;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #16172d;
    --b16-base01: #1b1c36;
    --b16-base02: #30365f;
    --b16-base03: #686f9a;
    --b16-base04: #818596;
    --b16-base05: #ecf0c1;
    --b16-base06: #c1c3cc;
    --b16-base07: #ffffff;
    --b16-base08: #e33400;
    --b16-base09: #e39400;
    --b16-base0A: #f2ce00;
    --b16-base0B: #5ccc96;
    --b16-base0C: #00a3cc;
    --b16-base0D: #7a5ccc;
    --b16-base0E: #b3a1e6;
    --b16-base0F: #ce6f8f;
}
