/* Blue Forest Theme - by alonsodomin (https://github.com/alonsodomin) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #141f2e;
    --pico-color: #ffcc33;
    --pico-text-selection-color: #273e5c;
    --pico-muted-color: #a0ffa0;
    --pico-muted-border-color: #273e5c;
    --pico-primary: #a2cff5;
    --pico-primary-background: #273e5c;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #0099ff;
    --pico-primary-hover-background: #0099ff;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #141f2e;
    --pico-secondary: #1e5c1e;
    --pico-secondary-background: #273e5c;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #ffcc33;
    --pico-secondary-hover-background: #a0ffa0;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #141f2e;
    --pico-contrast: #91ccff;
    --pico-contrast-background: #91ccff;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #375780;
    --pico-contrast-hover-background: #375780;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #141f2e;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #91ccff;
    --pico-h2-color: #ffcc33;
    --pico-h3-color: #ffcc33;
    --pico-h4-color: #1e5c1e;
    --pico-h5-color: #1e5c1e;
    --pico-h6-color: #a0ffa0;
    --pico-mark-background-color: #91ccff;
    --pico-mark-color: #141f2e;
    --pico-ins-color: #80ff80;
    --pico-del-color: #fffab1;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #1e5c1e;
    --pico-code-background-color: #1e5c1e;
    --pico-code-color: #91ccff;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #141f2e;
    --pico-form-element-selected-background-color: #273e5c;
    --pico-form-element-border-color: #a0ffa0;
    --pico-form-element-color: #ffcc33;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #141f2e;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #fffab1;
    --pico-form-element-invalid-active-border-color: #ff8080;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #80ff80;
    --pico-form-element-valid-active-border-color: #80ff80;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #a0ffa0;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #141f2e;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #273e5c;
    --pico-range-active-border-color: #a0ffa0;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #141f2e;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #1e5c1e;
    --pico-dropdown-background-color: #141f2e;
    --pico-dropdown-border-color: #273e5c;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #1e5c1e;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #273e5c;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #141f2e;
    --b16-base01: #1e5c1e;
    --b16-base02: #273e5c;
    --b16-base03: #a0ffa0;
    --b16-base04: #1e5c1e;
    --b16-base05: #ffcc33;
    --b16-base06: #91ccff;
    --b16-base07: #375780;
    --b16-base08: #fffab1;
    --b16-base09: #ff8080;
    --b16-base0A: #91ccff;
    --b16-base0B: #80ff80;
    --b16-base0C: #80ff80;
    --b16-base0D: #a2cff5;
    --b16-base0E: #0099ff;
    --b16-base0F: #e7e7e7;
}
