/* Penumbra Light Contrast Plus Plus Theme - by Zachary Weiss (https://github.com/zacharyweiss) */

[data-theme=light] {
    /* Pico CSS color variables */
    --pico-background-color: #fffdfb;
    --pico-color: #636363;
    --pico-text-selection-color: #f2e6d4;
    --pico-muted-color: #dedede;
    --pico-muted-border-color: #f2e6d4;
    --pico-primary: #6eb2fd;
    --pico-primary-background: #f2e6d4;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #b69cf6;
    --pico-primary-hover-background: #b69cf6;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #fffdfb;
    --pico-secondary: #aeaeae;
    --pico-secondary-background: #f2e6d4;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #636363;
    --pico-secondary-hover-background: #dedede;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #fffdfb;
    --pico-contrast: #181b1f;
    --pico-contrast-background: #181b1f;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #0d0f13;
    --pico-contrast-hover-background: #0d0f13;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #fffdfb;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #181b1f;
    --pico-h2-color: #636363;
    --pico-h3-color: #636363;
    --pico-h4-color: #aeaeae;
    --pico-h5-color: #aeaeae;
    --pico-h6-color: #dedede;
    --pico-mark-background-color: #a9b852;
    --pico-mark-color: #fffdfb;
    --pico-ins-color: #54c794;
    --pico-del-color: #f58c81;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #fff7ed;
    --pico-code-background-color: #fff7ed;
    --pico-code-color: #a9b852;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #fffdfb;
    --pico-form-element-selected-background-color: #f2e6d4;
    --pico-form-element-border-color: #dedede;
    --pico-form-element-color: #636363;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #fffdfb;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #f58c81;
    --pico-form-element-invalid-active-border-color: #e09f47;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #54c794;
    --pico-form-element-valid-active-border-color: #00c4d7;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #dedede;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #fffdfb;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #f2e6d4;
    --pico-range-active-border-color: #dedede;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #fffdfb;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #fff7ed;
    --pico-dropdown-background-color: #fffdfb;
    --pico-dropdown-border-color: #f2e6d4;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #fff7ed;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #f2e6d4;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #fffdfb;
    --b16-base01: #fff7ed;
    --b16-base02: #f2e6d4;
    --b16-base03: #dedede;
    --b16-base04: #aeaeae;
    --b16-base05: #636363;
    --b16-base06: #181b1f;
    --b16-base07: #0d0f13;
    --b16-base08: #f58c81;
    --b16-base09: #e09f47;
    --b16-base0A: #a9b852;
    --b16-base0B: #54c794;
    --b16-base0C: #00c4d7;
    --b16-base0D: #6eb2fd;
    --b16-base0E: #b69cf6;
    --b16-base0F: #e58cc5;
}
