/* SAGA Theme - by https://github.com/SAGAtheme/SAGA */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #05080a;
    --pico-color: #dce2f7;
    --pico-text-selection-color: #0f181e;
    --pico-muted-color: #141f27;
    --pico-muted-border-color: #0f181e;
    --pico-primary: #c9fff7;
    --pico-primary-background: #0f181e;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #dcc3f9;
    --pico-primary-hover-background: #dcc3f9;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #05080a;
    --pico-secondary: #192630;
    --pico-secondary-background: #0f181e;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #dce2f7;
    --pico-secondary-hover-background: #141f27;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #05080a;
    --pico-contrast: #f8eae7;
    --pico-contrast-background: #f8eae7;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #ccd3fe;
    --pico-contrast-hover-background: #ccd3fe;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #05080a;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #f8eae7;
    --pico-h2-color: #dce2f7;
    --pico-h3-color: #dce2f7;
    --pico-h4-color: #192630;
    --pico-h5-color: #192630;
    --pico-h6-color: #141f27;
    --pico-mark-background-color: #fbebc8;
    --pico-mark-color: #05080a;
    --pico-ins-color: #f7ddff;
    --pico-del-color: #ffd4e9;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #0a1014;
    --pico-code-background-color: #0a1014;
    --pico-code-color: #fbebc8;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #05080a;
    --pico-form-element-selected-background-color: #0f181e;
    --pico-form-element-border-color: #141f27;
    --pico-form-element-color: #dce2f7;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #05080a;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #ffd4e9;
    --pico-form-element-invalid-active-border-color: #fbcbae;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #f7ddff;
    --pico-form-element-valid-active-border-color: #c5edc1;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #141f27;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #05080a;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #0f181e;
    --pico-range-active-border-color: #141f27;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #05080a;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #0a1014;
    --pico-dropdown-background-color: #05080a;
    --pico-dropdown-border-color: #0f181e;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #0a1014;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #0f181e;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #05080a;
    --b16-base01: #0a1014;
    --b16-base02: #0f181e;
    --b16-base03: #141f27;
    --b16-base04: #192630;
    --b16-base05: #dce2f7;
    --b16-base06: #f8eae7;
    --b16-base07: #ccd3fe;
    --b16-base08: #ffd4e9;
    --b16-base09: #fbcbae;
    --b16-base0A: #fbebc8;
    --b16-base0B: #f7ddff;
    --b16-base0C: #c5edc1;
    --b16-base0D: #c9fff7;
    --b16-base0E: #dcc3f9;
    --b16-base0F: #f6dddd;
}
