/* Snazzy Theme - by Chawye Hsu (https://github.com/chawyehsu), based on Hyper Snazzy Theme (https://github.com/sindresorhus/hyper-snazzy) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #282a36;
    --pico-color: #e2e4e5;
    --pico-text-selection-color: #43454f;
    --pico-muted-color: #78787e;
    --pico-muted-border-color: #43454f;
    --pico-primary: #57c7ff;
    --pico-primary-background: #43454f;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #ff6ac1;
    --pico-primary-hover-background: #ff6ac1;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #282a36;
    --pico-secondary: #a5a5a9;
    --pico-secondary-background: #43454f;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #e2e4e5;
    --pico-secondary-hover-background: #78787e;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #282a36;
    --pico-contrast: #eff0eb;
    --pico-contrast-background: #eff0eb;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #f1f1f0;
    --pico-contrast-hover-background: #f1f1f0;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #282a36;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #eff0eb;
    --pico-h2-color: #e2e4e5;
    --pico-h3-color: #e2e4e5;
    --pico-h4-color: #a5a5a9;
    --pico-h5-color: #a5a5a9;
    --pico-h6-color: #78787e;
    --pico-mark-background-color: #f3f99d;
    --pico-mark-color: #282a36;
    --pico-ins-color: #5af78e;
    --pico-del-color: #ff5c57;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #34353e;
    --pico-code-background-color: #34353e;
    --pico-code-color: #f3f99d;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #282a36;
    --pico-form-element-selected-background-color: #43454f;
    --pico-form-element-border-color: #78787e;
    --pico-form-element-color: #e2e4e5;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #282a36;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #ff5c57;
    --pico-form-element-invalid-active-border-color: #ff9f43;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #5af78e;
    --pico-form-element-valid-active-border-color: #9aedfe;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #78787e;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #282a36;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #43454f;
    --pico-range-active-border-color: #78787e;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #282a36;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #34353e;
    --pico-dropdown-background-color: #282a36;
    --pico-dropdown-border-color: #43454f;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #34353e;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #43454f;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #282a36;
    --b16-base01: #34353e;
    --b16-base02: #43454f;
    --b16-base03: #78787e;
    --b16-base04: #a5a5a9;
    --b16-base05: #e2e4e5;
    --b16-base06: #eff0eb;
    --b16-base07: #f1f1f0;
    --b16-base08: #ff5c57;
    --b16-base09: #ff9f43;
    --b16-base0A: #f3f99d;
    --b16-base0B: #5af78e;
    --b16-base0C: #9aedfe;
    --b16-base0D: #57c7ff;
    --b16-base0E: #ff6ac1;
    --b16-base0F: #b2643c;
}
