/* Cupcake Theme - by Chris Kempson (http://chriskempson.com) */

[data-theme=light] {
    /* Pico CSS color variables */
    --pico-background-color: #fbf1f2;
    --pico-color: #8b8198;
    --pico-text-selection-color: #d8d5dd;
    --pico-muted-color: #bfb9c6;
    --pico-muted-border-color: #d8d5dd;
    --pico-primary: #7297b9;
    --pico-primary-background: #d8d5dd;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #bb99b4;
    --pico-primary-hover-background: #bb99b4;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #fbf1f2;
    --pico-secondary: #a59daf;
    --pico-secondary-background: #d8d5dd;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #8b8198;
    --pico-secondary-hover-background: #bfb9c6;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #fbf1f2;
    --pico-contrast: #72677e;
    --pico-contrast-background: #72677e;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #585062;
    --pico-contrast-hover-background: #585062;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #fbf1f2;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #72677e;
    --pico-h2-color: #8b8198;
    --pico-h3-color: #8b8198;
    --pico-h4-color: #a59daf;
    --pico-h5-color: #a59daf;
    --pico-h6-color: #bfb9c6;
    --pico-mark-background-color: #dcb16c;
    --pico-mark-color: #fbf1f2;
    --pico-ins-color: #a3b367;
    --pico-del-color: #d57e85;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #f2f1f4;
    --pico-code-background-color: #f2f1f4;
    --pico-code-color: #dcb16c;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #fbf1f2;
    --pico-form-element-selected-background-color: #d8d5dd;
    --pico-form-element-border-color: #bfb9c6;
    --pico-form-element-color: #8b8198;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #fbf1f2;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #d57e85;
    --pico-form-element-invalid-active-border-color: #ebb790;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #a3b367;
    --pico-form-element-valid-active-border-color: #69a9a7;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #bfb9c6;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #fbf1f2;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #d8d5dd;
    --pico-range-active-border-color: #bfb9c6;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #fbf1f2;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #f2f1f4;
    --pico-dropdown-background-color: #fbf1f2;
    --pico-dropdown-border-color: #d8d5dd;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #f2f1f4;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #d8d5dd;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #fbf1f2;
    --b16-base01: #f2f1f4;
    --b16-base02: #d8d5dd;
    --b16-base03: #bfb9c6;
    --b16-base04: #a59daf;
    --b16-base05: #8b8198;
    --b16-base06: #72677e;
    --b16-base07: #585062;
    --b16-base08: #d57e85;
    --b16-base09: #ebb790;
    --b16-base0A: #dcb16c;
    --b16-base0B: #a3b367;
    --b16-base0C: #69a9a7;
    --b16-base0D: #7297b9;
    --b16-base0E: #bb99b4;
    --b16-base0F: #baa58c;
}
