/* Embers Theme - by Jannik Siebert (https://github.com/janniks) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #16130f;
    --pico-color: #a39a90;
    --pico-text-selection-color: #433b32;
    --pico-muted-color: #5a5047;
    --pico-muted-border-color: #433b32;
    --pico-primary: #6d5782;
    --pico-primary-background: #433b32;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #82576d;
    --pico-primary-hover-background: #82576d;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #16130f;
    --pico-secondary: #8a8075;
    --pico-secondary-background: #433b32;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #a39a90;
    --pico-secondary-hover-background: #5a5047;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #16130f;
    --pico-contrast: #beb6ae;
    --pico-contrast-background: #beb6ae;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #dbd6d1;
    --pico-contrast-hover-background: #dbd6d1;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #16130f;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #beb6ae;
    --pico-h2-color: #a39a90;
    --pico-h3-color: #a39a90;
    --pico-h4-color: #8a8075;
    --pico-h5-color: #8a8075;
    --pico-h6-color: #5a5047;
    --pico-mark-background-color: #6d8257;
    --pico-mark-color: #16130f;
    --pico-ins-color: #57826d;
    --pico-del-color: #826d57;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #2c2620;
    --pico-code-background-color: #2c2620;
    --pico-code-color: #6d8257;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #16130f;
    --pico-form-element-selected-background-color: #433b32;
    --pico-form-element-border-color: #5a5047;
    --pico-form-element-color: #a39a90;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #16130f;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #826d57;
    --pico-form-element-invalid-active-border-color: #828257;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #57826d;
    --pico-form-element-valid-active-border-color: #576d82;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #5a5047;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #16130f;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #433b32;
    --pico-range-active-border-color: #5a5047;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #16130f;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #2c2620;
    --pico-dropdown-background-color: #16130f;
    --pico-dropdown-border-color: #433b32;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #2c2620;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #433b32;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #16130f;
    --b16-base01: #2c2620;
    --b16-base02: #433b32;
    --b16-base03: #5a5047;
    --b16-base04: #8a8075;
    --b16-base05: #a39a90;
    --b16-base06: #beb6ae;
    --b16-base07: #dbd6d1;
    --b16-base08: #826d57;
    --b16-base09: #828257;
    --b16-base0A: #6d8257;
    --b16-base0B: #57826d;
    --b16-base0C: #576d82;
    --b16-base0D: #6d5782;
    --b16-base0E: #82576d;
    --b16-base0F: #825757;
}
