/* Primer Light Theme - by Jimmy Lin */

[data-theme=light] {
    /* Pico CSS color variables */
    --pico-background-color: #fafbfc;
    --pico-color: #2f363d;
    --pico-text-selection-color: #d1d5da;
    --pico-muted-color: #959da5;
    --pico-muted-border-color: #d1d5da;
    --pico-primary: #0366d6;
    --pico-primary-background: #d1d5da;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #ea4aaa;
    --pico-primary-hover-background: #ea4aaa;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #fafbfc;
    --pico-secondary: #444d56;
    --pico-secondary-background: #d1d5da;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #2f363d;
    --pico-secondary-hover-background: #959da5;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #fafbfc;
    --pico-contrast: #24292e;
    --pico-contrast-background: #24292e;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #1b1f23;
    --pico-contrast-hover-background: #1b1f23;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #fafbfc;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #24292e;
    --pico-h2-color: #2f363d;
    --pico-h3-color: #2f363d;
    --pico-h4-color: #444d56;
    --pico-h5-color: #444d56;
    --pico-h6-color: #959da5;
    --pico-mark-background-color: #ffd33d;
    --pico-mark-color: #fafbfc;
    --pico-ins-color: #28a745;
    --pico-del-color: #d73a49;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #e1e4e8;
    --pico-code-background-color: #e1e4e8;
    --pico-code-color: #ffd33d;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #fafbfc;
    --pico-form-element-selected-background-color: #d1d5da;
    --pico-form-element-border-color: #959da5;
    --pico-form-element-color: #2f363d;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #fafbfc;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #d73a49;
    --pico-form-element-invalid-active-border-color: #f66a0a;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #28a745;
    --pico-form-element-valid-active-border-color: #79b8ff;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #959da5;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #fafbfc;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #d1d5da;
    --pico-range-active-border-color: #959da5;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #fafbfc;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #e1e4e8;
    --pico-dropdown-background-color: #fafbfc;
    --pico-dropdown-border-color: #d1d5da;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #e1e4e8;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #d1d5da;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #fafbfc;
    --b16-base01: #e1e4e8;
    --b16-base02: #d1d5da;
    --b16-base03: #959da5;
    --b16-base04: #444d56;
    --b16-base05: #2f363d;
    --b16-base06: #24292e;
    --b16-base07: #1b1f23;
    --b16-base08: #d73a49;
    --b16-base09: #f66a0a;
    --b16-base0A: #ffd33d;
    --b16-base0B: #28a745;
    --b16-base0C: #79b8ff;
    --b16-base0D: #0366d6;
    --b16-base0E: #ea4aaa;
    --b16-base0F: #a04100;
}
