/* Tokyo Night Terminal Dark Theme - by Michaël Ball */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #16161e;
    --pico-color: #787c99;
    --pico-text-selection-color: #2f3549;
    --pico-muted-color: #444b6a;
    --pico-muted-border-color: #2f3549;
    --pico-primary: #7aa2f7;
    --pico-primary-background: #2f3549;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #bb9af7;
    --pico-primary-hover-background: #bb9af7;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #16161e;
    --pico-secondary: #787c99;
    --pico-secondary-background: #2f3549;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #787c99;
    --pico-secondary-hover-background: #444b6a;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #16161e;
    --pico-contrast: #cbccd1;
    --pico-contrast-background: #cbccd1;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #d5d6db;
    --pico-contrast-hover-background: #d5d6db;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #16161e;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #cbccd1;
    --pico-h2-color: #787c99;
    --pico-h3-color: #787c99;
    --pico-h4-color: #787c99;
    --pico-h5-color: #787c99;
    --pico-h6-color: #444b6a;
    --pico-mark-background-color: #e0af68;
    --pico-mark-color: #16161e;
    --pico-ins-color: #41a6b5;
    --pico-del-color: #f7768e;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #1a1b26;
    --pico-code-background-color: #1a1b26;
    --pico-code-color: #e0af68;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #16161e;
    --pico-form-element-selected-background-color: #2f3549;
    --pico-form-element-border-color: #444b6a;
    --pico-form-element-color: #787c99;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #16161e;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #f7768e;
    --pico-form-element-invalid-active-border-color: #ff9e64;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #41a6b5;
    --pico-form-element-valid-active-border-color: #7dcfff;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #444b6a;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #16161e;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #2f3549;
    --pico-range-active-border-color: #444b6a;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #16161e;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #1a1b26;
    --pico-dropdown-background-color: #16161e;
    --pico-dropdown-border-color: #2f3549;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #1a1b26;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #2f3549;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #16161e;
    --b16-base01: #1a1b26;
    --b16-base02: #2f3549;
    --b16-base03: #444b6a;
    --b16-base04: #787c99;
    --b16-base05: #787c99;
    --b16-base06: #cbccd1;
    --b16-base07: #d5d6db;
    --b16-base08: #f7768e;
    --b16-base09: #ff9e64;
    --b16-base0A: #e0af68;
    --b16-base0B: #41a6b5;
    --b16-base0C: #7dcfff;
    --b16-base0D: #7aa2f7;
    --b16-base0E: #bb9af7;
    --b16-base0F: #d18616;
}
