/* Atelier Savanna Light Theme - by Bram de Haan (http://atelierbramdehaan.nl) */

[data-theme=light] {
    /* Pico CSS color variables */
    --pico-background-color: #ecf4ee;
    --pico-color: #526057;
    --pico-text-selection-color: #87928a;
    --pico-muted-color: #78877d;
    --pico-muted-border-color: #87928a;
    --pico-primary: #478c90;
    --pico-primary-background: #87928a;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #55859b;
    --pico-primary-hover-background: #55859b;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #ecf4ee;
    --pico-secondary: #5f6d64;
    --pico-secondary-background: #87928a;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #526057;
    --pico-secondary-hover-background: #78877d;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #ecf4ee;
    --pico-contrast: #232a25;
    --pico-contrast-background: #232a25;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #171c19;
    --pico-contrast-hover-background: #171c19;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #ecf4ee;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #232a25;
    --pico-h2-color: #526057;
    --pico-h3-color: #526057;
    --pico-h4-color: #5f6d64;
    --pico-h5-color: #5f6d64;
    --pico-h6-color: #78877d;
    --pico-mark-background-color: #a07e3b;
    --pico-mark-color: #ecf4ee;
    --pico-ins-color: #489963;
    --pico-del-color: #b16139;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #dfe7e2;
    --pico-code-background-color: #dfe7e2;
    --pico-code-color: #a07e3b;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #ecf4ee;
    --pico-form-element-selected-background-color: #87928a;
    --pico-form-element-border-color: #78877d;
    --pico-form-element-color: #526057;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #ecf4ee;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #b16139;
    --pico-form-element-invalid-active-border-color: #9f713c;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #489963;
    --pico-form-element-valid-active-border-color: #1c9aa0;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #78877d;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #ecf4ee;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #87928a;
    --pico-range-active-border-color: #78877d;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #ecf4ee;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #dfe7e2;
    --pico-dropdown-background-color: #ecf4ee;
    --pico-dropdown-border-color: #87928a;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #dfe7e2;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #87928a;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #ecf4ee;
    --b16-base01: #dfe7e2;
    --b16-base02: #87928a;
    --b16-base03: #78877d;
    --b16-base04: #5f6d64;
    --b16-base05: #526057;
    --b16-base06: #232a25;
    --b16-base07: #171c19;
    --b16-base08: #b16139;
    --b16-base09: #9f713c;
    --b16-base0A: #a07e3b;
    --b16-base0B: #489963;
    --b16-base0C: #1c9aa0;
    --b16-base0D: #478c90;
    --b16-base0E: #55859b;
    --b16-base0F: #867469;
}
