/* selenized-dark Theme - by Jan Warchol (https://github.com/jan-warchol/selenized) / adapted to base16 by ali */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #103c48;
    --pico-color: #adbcbc;
    --pico-text-selection-color: #2d5b69;
    --pico-muted-color: #72898f;
    --pico-muted-border-color: #2d5b69;
    --pico-primary: #4695f7;
    --pico-primary-background: #2d5b69;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #af88eb;
    --pico-primary-hover-background: #af88eb;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #103c48;
    --pico-secondary: #72898f;
    --pico-secondary-background: #2d5b69;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #adbcbc;
    --pico-secondary-hover-background: #72898f;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #103c48;
    --pico-contrast: #cad8d9;
    --pico-contrast-background: #cad8d9;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #cad8d9;
    --pico-contrast-hover-background: #cad8d9;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #103c48;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #cad8d9;
    --pico-h2-color: #adbcbc;
    --pico-h3-color: #adbcbc;
    --pico-h4-color: #72898f;
    --pico-h5-color: #72898f;
    --pico-h6-color: #72898f;
    --pico-mark-background-color: #dbb32d;
    --pico-mark-color: #103c48;
    --pico-ins-color: #75b938;
    --pico-del-color: #fa5750;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #184956;
    --pico-code-background-color: #184956;
    --pico-code-color: #dbb32d;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #103c48;
    --pico-form-element-selected-background-color: #2d5b69;
    --pico-form-element-border-color: #72898f;
    --pico-form-element-color: #adbcbc;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #103c48;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #fa5750;
    --pico-form-element-invalid-active-border-color: #ed8649;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #75b938;
    --pico-form-element-valid-active-border-color: #41c7b9;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #72898f;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #103c48;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #2d5b69;
    --pico-range-active-border-color: #72898f;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #103c48;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #184956;
    --pico-dropdown-background-color: #103c48;
    --pico-dropdown-border-color: #2d5b69;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #184956;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #2d5b69;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #103c48;
    --b16-base01: #184956;
    --b16-base02: #2d5b69;
    --b16-base03: #72898f;
    --b16-base04: #72898f;
    --b16-base05: #adbcbc;
    --b16-base06: #cad8d9;
    --b16-base07: #cad8d9;
    --b16-base08: #fa5750;
    --b16-base09: #ed8649;
    --b16-base0A: #dbb32d;
    --b16-base0B: #75b938;
    --b16-base0C: #41c7b9;
    --b16-base0D: #4695f7;
    --b16-base0E: #af88eb;
    --b16-base0F: #f275be;
}
