/* Humanoid light Theme - by Thomas (tasmo) Friese */

[data-theme=light] {
    /* Pico CSS color variables */
    --pico-background-color: #f8f8f2;
    --pico-color: #232629;
    --pico-text-selection-color: #deded8;
    --pico-muted-color: #c0c0bd;
    --pico-muted-border-color: #deded8;
    --pico-primary: #0082c9;
    --pico-primary-background: #deded8;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #700f98;
    --pico-primary-hover-background: #700f98;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #f8f8f2;
    --pico-secondary: #60615d;
    --pico-secondary-background: #deded8;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #232629;
    --pico-secondary-hover-background: #c0c0bd;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #f8f8f2;
    --pico-contrast: #2f3337;
    --pico-contrast-background: #2f3337;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #070708;
    --pico-contrast-hover-background: #070708;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #f8f8f2;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #2f3337;
    --pico-h2-color: #232629;
    --pico-h3-color: #232629;
    --pico-h4-color: #60615d;
    --pico-h5-color: #60615d;
    --pico-h6-color: #c0c0bd;
    --pico-mark-background-color: #ffb627;
    --pico-mark-color: #f8f8f2;
    --pico-ins-color: #388e3c;
    --pico-del-color: #b0151a;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #efefe9;
    --pico-code-background-color: #efefe9;
    --pico-code-color: #ffb627;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #f8f8f2;
    --pico-form-element-selected-background-color: #deded8;
    --pico-form-element-border-color: #c0c0bd;
    --pico-form-element-color: #232629;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #f8f8f2;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #b0151a;
    --pico-form-element-invalid-active-border-color: #ff3d00;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #388e3c;
    --pico-form-element-valid-active-border-color: #008e8e;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #c0c0bd;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #f8f8f2;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #deded8;
    --pico-range-active-border-color: #c0c0bd;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #f8f8f2;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #efefe9;
    --pico-dropdown-background-color: #f8f8f2;
    --pico-dropdown-border-color: #deded8;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #efefe9;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #deded8;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #f8f8f2;
    --b16-base01: #efefe9;
    --b16-base02: #deded8;
    --b16-base03: #c0c0bd;
    --b16-base04: #60615d;
    --b16-base05: #232629;
    --b16-base06: #2f3337;
    --b16-base07: #070708;
    --b16-base08: #b0151a;
    --b16-base09: #ff3d00;
    --b16-base0A: #ffb627;
    --b16-base0B: #388e3c;
    --b16-base0C: #008e8e;
    --b16-base0D: #0082c9;
    --b16-base0E: #700f98;
    --b16-base0F: #b27701;
}
