/* Gruvbox dark, soft Theme - by Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #32302f;
    --pico-color: #d5c4a1;
    --pico-text-selection-color: #504945;
    --pico-muted-color: #665c54;
    --pico-muted-border-color: #504945;
    --pico-primary: #83a598;
    --pico-primary-background: #504945;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #d3869b;
    --pico-primary-hover-background: #d3869b;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #32302f;
    --pico-secondary: #bdae93;
    --pico-secondary-background: #504945;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #d5c4a1;
    --pico-secondary-hover-background: #665c54;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #32302f;
    --pico-contrast: #ebdbb2;
    --pico-contrast-background: #ebdbb2;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #fbf1c7;
    --pico-contrast-hover-background: #fbf1c7;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #32302f;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #ebdbb2;
    --pico-h2-color: #d5c4a1;
    --pico-h3-color: #d5c4a1;
    --pico-h4-color: #bdae93;
    --pico-h5-color: #bdae93;
    --pico-h6-color: #665c54;
    --pico-mark-background-color: #fabd2f;
    --pico-mark-color: #32302f;
    --pico-ins-color: #b8bb26;
    --pico-del-color: #fb4934;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #3c3836;
    --pico-code-background-color: #3c3836;
    --pico-code-color: #fabd2f;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #32302f;
    --pico-form-element-selected-background-color: #504945;
    --pico-form-element-border-color: #665c54;
    --pico-form-element-color: #d5c4a1;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #32302f;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #fb4934;
    --pico-form-element-invalid-active-border-color: #fe8019;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #b8bb26;
    --pico-form-element-valid-active-border-color: #8ec07c;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #665c54;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #32302f;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #504945;
    --pico-range-active-border-color: #665c54;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #32302f;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #3c3836;
    --pico-dropdown-background-color: #32302f;
    --pico-dropdown-border-color: #504945;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #3c3836;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #504945;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #32302f;
    --b16-base01: #3c3836;
    --b16-base02: #504945;
    --b16-base03: #665c54;
    --b16-base04: #bdae93;
    --b16-base05: #d5c4a1;
    --b16-base06: #ebdbb2;
    --b16-base07: #fbf1c7;
    --b16-base08: #fb4934;
    --b16-base09: #fe8019;
    --b16-base0A: #fabd2f;
    --b16-base0B: #b8bb26;
    --b16-base0C: #8ec07c;
    --b16-base0D: #83a598;
    --b16-base0E: #d3869b;
    --b16-base0F: #d65d0e;
}
