/* Terracotta Theme - by Alexander Rossell Hayes (https://github.com/rossellhayes) */

[data-theme=light] {
    /* Pico CSS color variables */
    --pico-background-color: #efeae8;
    --pico-color: #473731;
    --pico-text-selection-color: #d0c1bb;
    --pico-muted-color: #c0aca4;
    --pico-muted-border-color: #d0c1bb;
    --pico-primary: #625574;
    --pico-primary-background: #d0c1bb;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #8d5968;
    --pico-primary-hover-background: #8d5968;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #efeae8;
    --pico-secondary: #59453d;
    --pico-secondary-background: #d0c1bb;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #473731;
    --pico-secondary-hover-background: #c0aca4;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #efeae8;
    --pico-contrast: #352a25;
    --pico-contrast-background: #352a25;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #241c19;
    --pico-contrast-hover-background: #241c19;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #efeae8;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #352a25;
    --pico-h2-color: #473731;
    --pico-h3-color: #473731;
    --pico-h4-color: #59453d;
    --pico-h5-color: #59453d;
    --pico-h6-color: #c0aca4;
    --pico-mark-background-color: #ce943e;
    --pico-mark-color: #efeae8;
    --pico-ins-color: #7a894a;
    --pico-del-color: #a75045;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #dfd6d1;
    --pico-code-background-color: #dfd6d1;
    --pico-code-color: #ce943e;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #efeae8;
    --pico-form-element-selected-background-color: #d0c1bb;
    --pico-form-element-border-color: #c0aca4;
    --pico-form-element-color: #473731;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #efeae8;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #a75045;
    --pico-form-element-invalid-active-border-color: #bd6942;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #7a894a;
    --pico-form-element-valid-active-border-color: #847f9e;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #c0aca4;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #efeae8;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #d0c1bb;
    --pico-range-active-border-color: #c0aca4;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #efeae8;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #dfd6d1;
    --pico-dropdown-background-color: #efeae8;
    --pico-dropdown-border-color: #d0c1bb;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #dfd6d1;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #d0c1bb;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #efeae8;
    --b16-base01: #dfd6d1;
    --b16-base02: #d0c1bb;
    --b16-base03: #c0aca4;
    --b16-base04: #59453d;
    --b16-base05: #473731;
    --b16-base06: #352a25;
    --b16-base07: #241c19;
    --b16-base08: #a75045;
    --b16-base09: #bd6942;
    --b16-base0A: #ce943e;
    --b16-base0B: #7a894a;
    --b16-base0C: #847f9e;
    --b16-base0D: #625574;
    --b16-base0E: #8d5968;
    --b16-base0F: #b07158;
}
