/* Tokyodark Theme - by Jamy Golden (https://github.com/JamyGolden), Based on Tokyodark.nvim (https://github.com/tiagovla/tokyodark.nvim) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #11121d;
    --pico-color: #a0a8cd;
    --pico-text-selection-color: #212234;
    --pico-muted-color: #353945;
    --pico-muted-border-color: #212234;
    --pico-primary: #7199ee;
    --pico-primary-background: #212234;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #a485dd;
    --pico-primary-hover-background: #a485dd;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #11121d;
    --pico-secondary: #4a5057;
    --pico-secondary-background: #212234;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #a0a8cd;
    --pico-secondary-hover-background: #353945;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #11121d;
    --pico-contrast: #abb2bf;
    --pico-contrast-background: #abb2bf;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #bcc2dc;
    --pico-contrast-hover-background: #bcc2dc;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #11121d;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #abb2bf;
    --pico-h2-color: #a0a8cd;
    --pico-h3-color: #a0a8cd;
    --pico-h4-color: #4a5057;
    --pico-h5-color: #4a5057;
    --pico-h6-color: #353945;
    --pico-mark-background-color: #d7a65f;
    --pico-mark-color: #11121d;
    --pico-ins-color: #95c561;
    --pico-del-color: #ee6d85;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #212234;
    --pico-code-background-color: #212234;
    --pico-code-color: #d7a65f;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #11121d;
    --pico-form-element-selected-background-color: #212234;
    --pico-form-element-border-color: #353945;
    --pico-form-element-color: #a0a8cd;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #11121d;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #ee6d85;
    --pico-form-element-invalid-active-border-color: #f6955b;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #95c561;
    --pico-form-element-valid-active-border-color: #9fbbf3;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #353945;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #11121d;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #212234;
    --pico-range-active-border-color: #353945;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #11121d;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #212234;
    --pico-dropdown-background-color: #11121d;
    --pico-dropdown-border-color: #212234;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #212234;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #212234;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #11121d;
    --b16-base01: #212234;
    --b16-base02: #212234;
    --b16-base03: #353945;
    --b16-base04: #4a5057;
    --b16-base05: #a0a8cd;
    --b16-base06: #abb2bf;
    --b16-base07: #bcc2dc;
    --b16-base08: #ee6d85;
    --b16-base09: #f6955b;
    --b16-base0A: #d7a65f;
    --b16-base0B: #95c561;
    --b16-base0C: #9fbbf3;
    --b16-base0D: #7199ee;
    --b16-base0E: #a485dd;
    --b16-base0F: #773440;
}
