/* Equilibrium Light Theme - by Carlo Abelli */

[data-theme=light] {
    /* Pico CSS color variables */
    --pico-background-color: #f5f0e7;
    --pico-color: #43474e;
    --pico-text-selection-color: #d8d4cb;
    --pico-muted-color: #73777f;
    --pico-muted-border-color: #d8d4cb;
    --pico-primary: #0073b5;
    --pico-primary-background: #d8d4cb;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #4e66b6;
    --pico-primary-hover-background: #4e66b6;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #f5f0e7;
    --pico-secondary: #5a5f66;
    --pico-secondary-background: #d8d4cb;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #43474e;
    --pico-secondary-hover-background: #73777f;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #f5f0e7;
    --pico-contrast: #2c3138;
    --pico-contrast-background: #2c3138;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #181c22;
    --pico-contrast-hover-background: #181c22;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #f5f0e7;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #2c3138;
    --pico-h2-color: #43474e;
    --pico-h3-color: #43474e;
    --pico-h4-color: #5a5f66;
    --pico-h5-color: #5a5f66;
    --pico-h6-color: #73777f;
    --pico-mark-background-color: #9d6f00;
    --pico-mark-color: #f5f0e7;
    --pico-ins-color: #637200;
    --pico-del-color: #d02023;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #e7e2d9;
    --pico-code-background-color: #e7e2d9;
    --pico-code-color: #9d6f00;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #f5f0e7;
    --pico-form-element-selected-background-color: #d8d4cb;
    --pico-form-element-border-color: #73777f;
    --pico-form-element-color: #43474e;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #f5f0e7;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #d02023;
    --pico-form-element-invalid-active-border-color: #bf3e05;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #637200;
    --pico-form-element-valid-active-border-color: #007a72;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #73777f;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #f5f0e7;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #d8d4cb;
    --pico-range-active-border-color: #73777f;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #f5f0e7;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #e7e2d9;
    --pico-dropdown-background-color: #f5f0e7;
    --pico-dropdown-border-color: #d8d4cb;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #e7e2d9;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #d8d4cb;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #f5f0e7;
    --b16-base01: #e7e2d9;
    --b16-base02: #d8d4cb;
    --b16-base03: #73777f;
    --b16-base04: #5a5f66;
    --b16-base05: #43474e;
    --b16-base06: #2c3138;
    --b16-base07: #181c22;
    --b16-base08: #d02023;
    --b16-base09: #bf3e05;
    --b16-base0A: #9d6f00;
    --b16-base0B: #637200;
    --b16-base0C: #007a72;
    --b16-base0D: #0073b5;
    --b16-base0E: #4e66b6;
    --b16-base0F: #c42775;
}
