/* Colors Theme - by mrmrs (http://clrs.cc) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #111111;
    --pico-color: #bbbbbb;
    --pico-text-selection-color: #555555;
    --pico-muted-color: #777777;
    --pico-muted-border-color: #555555;
    --pico-primary: #0074d9;
    --pico-primary-background: #555555;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #b10dc9;
    --pico-primary-hover-background: #b10dc9;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #111111;
    --pico-secondary: #999999;
    --pico-secondary-background: #555555;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #bbbbbb;
    --pico-secondary-hover-background: #777777;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #111111;
    --pico-contrast: #dddddd;
    --pico-contrast-background: #dddddd;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #ffffff;
    --pico-contrast-hover-background: #ffffff;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #111111;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #dddddd;
    --pico-h2-color: #bbbbbb;
    --pico-h3-color: #bbbbbb;
    --pico-h4-color: #999999;
    --pico-h5-color: #999999;
    --pico-h6-color: #777777;
    --pico-mark-background-color: #ffdc00;
    --pico-mark-color: #111111;
    --pico-ins-color: #2ecc40;
    --pico-del-color: #ff4136;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #333333;
    --pico-code-background-color: #333333;
    --pico-code-color: #ffdc00;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #111111;
    --pico-form-element-selected-background-color: #555555;
    --pico-form-element-border-color: #777777;
    --pico-form-element-color: #bbbbbb;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #111111;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #ff4136;
    --pico-form-element-invalid-active-border-color: #ff851b;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #2ecc40;
    --pico-form-element-valid-active-border-color: #7fdbff;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #777777;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #111111;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #555555;
    --pico-range-active-border-color: #777777;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #111111;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #333333;
    --pico-dropdown-background-color: #111111;
    --pico-dropdown-border-color: #555555;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #333333;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #555555;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #111111;
    --b16-base01: #333333;
    --b16-base02: #555555;
    --b16-base03: #777777;
    --b16-base04: #999999;
    --b16-base05: #bbbbbb;
    --b16-base06: #dddddd;
    --b16-base07: #ffffff;
    --b16-base08: #ff4136;
    --b16-base09: #ff851b;
    --b16-base0A: #ffdc00;
    --b16-base0B: #2ecc40;
    --b16-base0C: #7fdbff;
    --b16-base0D: #0074d9;
    --b16-base0E: #b10dc9;
    --b16-base0F: #85144b;
}
