/* DanQing Light Theme - by Wenhan Zhu (Cosmos) (zhuwenhan950913@gmail.com) */

[data-theme=light] {
    /* Pico CSS color variables */
    --pico-background-color: #fcfefd;
    --pico-color: #5a605d;
    --pico-text-selection-color: #e0f0ef;
    --pico-muted-color: #cad8d2;
    --pico-muted-border-color: #e0f0ef;
    --pico-primary: #b0a4e3;
    --pico-primary-background: #e0f0ef;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #cca4e3;
    --pico-primary-hover-background: #cca4e3;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #fcfefd;
    --pico-secondary: #9da8a3;
    --pico-secondary-background: #e0f0ef;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #5a605d;
    --pico-secondary-hover-background: #cad8d2;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #fcfefd;
    --pico-contrast: #434846;
    --pico-contrast-background: #434846;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #2d302f;
    --pico-contrast-hover-background: #2d302f;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #fcfefd;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #434846;
    --pico-h2-color: #5a605d;
    --pico-h3-color: #5a605d;
    --pico-h4-color: #9da8a3;
    --pico-h5-color: #9da8a3;
    --pico-h6-color: #cad8d2;
    --pico-mark-background-color: #f0c239;
    --pico-mark-color: #fcfefd;
    --pico-ins-color: #8ab361;
    --pico-del-color: #f9906f;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #ecf6f2;
    --pico-code-background-color: #ecf6f2;
    --pico-code-color: #f0c239;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #fcfefd;
    --pico-form-element-selected-background-color: #e0f0ef;
    --pico-form-element-border-color: #cad8d2;
    --pico-form-element-color: #5a605d;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #fcfefd;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #f9906f;
    --pico-form-element-invalid-active-border-color: #b38a61;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #8ab361;
    --pico-form-element-valid-active-border-color: #30dff3;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #cad8d2;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #fcfefd;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #e0f0ef;
    --pico-range-active-border-color: #cad8d2;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #fcfefd;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #ecf6f2;
    --pico-dropdown-background-color: #fcfefd;
    --pico-dropdown-border-color: #e0f0ef;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #ecf6f2;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #e0f0ef;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #fcfefd;
    --b16-base01: #ecf6f2;
    --b16-base02: #e0f0ef;
    --b16-base03: #cad8d2;
    --b16-base04: #9da8a3;
    --b16-base05: #5a605d;
    --b16-base06: #434846;
    --b16-base07: #2d302f;
    --b16-base08: #f9906f;
    --b16-base09: #b38a61;
    --b16-base0A: #f0c239;
    --b16-base0B: #8ab361;
    --b16-base0C: #30dff3;
    --b16-base0D: #b0a4e3;
    --b16-base0E: #cca4e3;
    --b16-base0F: #ca6924;
}
