/* Github Dark Theme - by Tinted Theming (https://github.com/tinted-theming) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #161b22;
    --pico-color: #c9d1d9;
    --pico-text-selection-color: #484f58;
    --pico-muted-color: #6e7681;
    --pico-muted-border-color: #484f58;
    --pico-primary: #388bfd;
    --pico-primary-background: #484f58;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #a371f7;
    --pico-primary-hover-background: #a371f7;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #161b22;
    --pico-secondary: #8b949e;
    --pico-secondary-background: #484f58;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #c9d1d9;
    --pico-secondary-hover-background: #6e7681;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #161b22;
    --pico-contrast: #f0f6fc;
    --pico-contrast-background: #f0f6fc;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #ffffff;
    --pico-contrast-hover-background: #ffffff;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #161b22;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #f0f6fc;
    --pico-h2-color: #c9d1d9;
    --pico-h3-color: #c9d1d9;
    --pico-h4-color: #8b949e;
    --pico-h5-color: #8b949e;
    --pico-h6-color: #6e7681;
    --pico-mark-background-color: #bb8009;
    --pico-mark-color: #161b22;
    --pico-ins-color: #2ea043;
    --pico-del-color: #f85149;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #30363d;
    --pico-code-background-color: #30363d;
    --pico-code-color: #bb8009;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #161b22;
    --pico-form-element-selected-background-color: #484f58;
    --pico-form-element-border-color: #6e7681;
    --pico-form-element-color: #c9d1d9;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #161b22;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #f85149;
    --pico-form-element-invalid-active-border-color: #db6d28;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #2ea043;
    --pico-form-element-valid-active-border-color: #2a9d9a;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #6e7681;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #161b22;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #484f58;
    --pico-range-active-border-color: #6e7681;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #161b22;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #30363d;
    --pico-dropdown-background-color: #161b22;
    --pico-dropdown-border-color: #484f58;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #30363d;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #484f58;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #161b22;
    --b16-base01: #30363d;
    --b16-base02: #484f58;
    --b16-base03: #6e7681;
    --b16-base04: #8b949e;
    --b16-base05: #c9d1d9;
    --b16-base06: #f0f6fc;
    --b16-base07: #ffffff;
    --b16-base08: #f85149;
    --b16-base09: #db6d28;
    --b16-base0A: #bb8009;
    --b16-base0B: #2ea043;
    --b16-base0C: #2a9d9a;
    --b16-base0D: #388bfd;
    --b16-base0E: #a371f7;
    --b16-base0F: #3d2f00;
}
