/* Soft Server Theme - by FredHappyface (https://github.com/fredHappyface) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #211e2a;
    --pico-color: #e4dee9;
    --pico-text-selection-color: #3f3951;
    --pico-muted-color: #6e6780;
    --pico-muted-border-color: #3f3951;
    --pico-primary: #95a6f4;
    --pico-primary-background: #3f3951;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #ff79c6;
    --pico-primary-hover-background: #ff79c6;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #211e2a;
    --pico-secondary: #8a829e;
    --pico-secondary-background: #3f3951;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #e4dee9;
    --pico-secondary-hover-background: #6e6780;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #211e2a;
    --pico-contrast: #f2e8f0;
    --pico-contrast-background: #f2e8f0;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #ffffff;
    --pico-contrast-hover-background: #ffffff;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #211e2a;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #f2e8f0;
    --pico-h2-color: #e4dee9;
    --pico-h3-color: #e4dee9;
    --pico-h4-color: #8a829e;
    --pico-h5-color: #8a829e;
    --pico-h6-color: #6e6780;
    --pico-mark-background-color: #ebde76;
    --pico-mark-color: #211e2a;
    --pico-ins-color: #b1f2a7;
    --pico-del-color: #e965a5;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #2c2737;
    --pico-code-background-color: #2c2737;
    --pico-code-color: #ebde76;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #211e2a;
    --pico-form-element-selected-background-color: #3f3951;
    --pico-form-element-border-color: #6e6780;
    --pico-form-element-color: #e4dee9;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #211e2a;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #e965a5;
    --pico-form-element-invalid-active-border-color: #f4b870;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #b1f2a7;
    --pico-form-element-valid-active-border-color: #b3f4f3;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #6e6780;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #211e2a;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #3f3951;
    --pico-range-active-border-color: #6e6780;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #211e2a;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #2c2737;
    --pico-dropdown-background-color: #211e2a;
    --pico-dropdown-border-color: #3f3951;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #2c2737;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #3f3951;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #211e2a;
    --b16-base01: #2c2737;
    --b16-base02: #3f3951;
    --b16-base03: #6e6780;
    --b16-base04: #8a829e;
    --b16-base05: #e4dee9;
    --b16-base06: #f2e8f0;
    --b16-base07: #ffffff;
    --b16-base08: #e965a5;
    --b16-base09: #f4b870;
    --b16-base0A: #ebde76;
    --b16-base0B: #b1f2a7;
    --b16-base0C: #b3f4f3;
    --b16-base0D: #95a6f4;
    --b16-base0E: #ff79c6;
    --b16-base0F: #bd93f9;
}
