/* Atelier Dune Light Theme - by Bram de Haan (http://atelierbramdehaan.nl) */

[data-theme=light] {
    /* Pico CSS color variables */
    --pico-background-color: #fefbec;
    --pico-color: #6e6b5e;
    --pico-text-selection-color: #a6a28c;
    --pico-muted-color: #999580;
    --pico-muted-border-color: #a6a28c;
    --pico-primary: #6684e1;
    --pico-primary-background: #a6a28c;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #b854d4;
    --pico-primary-hover-background: #b854d4;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #fefbec;
    --pico-secondary: #7d7a68;
    --pico-secondary-background: #a6a28c;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #6e6b5e;
    --pico-secondary-hover-background: #999580;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #fefbec;
    --pico-contrast: #292824;
    --pico-contrast-background: #292824;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #20201d;
    --pico-contrast-hover-background: #20201d;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #fefbec;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #292824;
    --pico-h2-color: #6e6b5e;
    --pico-h3-color: #6e6b5e;
    --pico-h4-color: #7d7a68;
    --pico-h5-color: #7d7a68;
    --pico-h6-color: #999580;
    --pico-mark-background-color: #ae9513;
    --pico-mark-color: #fefbec;
    --pico-ins-color: #60ac39;
    --pico-del-color: #d73737;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #e8e4cf;
    --pico-code-background-color: #e8e4cf;
    --pico-code-color: #ae9513;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #fefbec;
    --pico-form-element-selected-background-color: #a6a28c;
    --pico-form-element-border-color: #999580;
    --pico-form-element-color: #6e6b5e;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #fefbec;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #d73737;
    --pico-form-element-invalid-active-border-color: #b65611;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #60ac39;
    --pico-form-element-valid-active-border-color: #1fad83;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #999580;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #fefbec;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #a6a28c;
    --pico-range-active-border-color: #999580;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #fefbec;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #e8e4cf;
    --pico-dropdown-background-color: #fefbec;
    --pico-dropdown-border-color: #a6a28c;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #e8e4cf;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #a6a28c;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #fefbec;
    --b16-base01: #e8e4cf;
    --b16-base02: #a6a28c;
    --b16-base03: #999580;
    --b16-base04: #7d7a68;
    --b16-base05: #6e6b5e;
    --b16-base06: #292824;
    --b16-base07: #20201d;
    --b16-base08: #d73737;
    --b16-base09: #b65611;
    --b16-base0A: #ae9513;
    --b16-base0B: #60ac39;
    --b16-base0C: #1fad83;
    --b16-base0D: #6684e1;
    --b16-base0E: #b854d4;
    --b16-base0F: #d43552;
}
