/* Kanagawa Dragon Theme - by Tommaso Laurenzi (https://github.com/rebelot) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #0d0c0c;
    --pico-color: #c5c9c5;
    --pico-text-selection-color: #282727;
    --pico-muted-color: #737c73;
    --pico-muted-border-color: #282727;
    --pico-primary: #8ba4b0;
    --pico-primary-background: #282727;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #8992a7;
    --pico-primary-hover-background: #8992a7;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #0d0c0c;
    --pico-secondary: #a6a69c;
    --pico-secondary-background: #282727;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #c5c9c5;
    --pico-secondary-hover-background: #737c73;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #0d0c0c;
    --pico-contrast: #7a8382;
    --pico-contrast-background: #7a8382;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #c5c9c5;
    --pico-contrast-hover-background: #c5c9c5;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #0d0c0c;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #7a8382;
    --pico-h2-color: #c5c9c5;
    --pico-h3-color: #c5c9c5;
    --pico-h4-color: #a6a69c;
    --pico-h5-color: #a6a69c;
    --pico-h6-color: #737c73;
    --pico-mark-background-color: #c4b28a;
    --pico-mark-color: #0d0c0c;
    --pico-ins-color: #87a987;
    --pico-del-color: #c4746e;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #1d1c19;
    --pico-code-background-color: #1d1c19;
    --pico-code-color: #c4b28a;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #0d0c0c;
    --pico-form-element-selected-background-color: #282727;
    --pico-form-element-border-color: #737c73;
    --pico-form-element-color: #c5c9c5;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #0d0c0c;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #c4746e;
    --pico-form-element-invalid-active-border-color: #b98d7b;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #87a987;
    --pico-form-element-valid-active-border-color: #8ea4a2;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #737c73;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #0d0c0c;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #282727;
    --pico-range-active-border-color: #737c73;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #0d0c0c;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #1d1c19;
    --pico-dropdown-background-color: #0d0c0c;
    --pico-dropdown-border-color: #282727;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #1d1c19;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #282727;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #0d0c0c;
    --b16-base01: #1d1c19;
    --b16-base02: #282727;
    --b16-base03: #737c73;
    --b16-base04: #a6a69c;
    --b16-base05: #c5c9c5;
    --b16-base06: #7a8382;
    --b16-base07: #c5c9c5;
    --b16-base08: #c4746e;
    --b16-base09: #b98d7b;
    --b16-base0A: #c4b28a;
    --b16-base0B: #87a987;
    --b16-base0C: #8ea4a2;
    --b16-base0D: #8ba4b0;
    --b16-base0E: #8992a7;
    --b16-base0F: #a292a3;
}
