/* Windows 95 Light Theme - by Fergus Collins (https://github.com/C-Fergus) */

[data-theme=light] {
    /* Pico CSS color variables */
    --pico-background-color: #fcfcfc;
    --pico-color: #545454;
    --pico-text-selection-color: #c4c4c4;
    --pico-muted-color: #a8a8a8;
    --pico-muted-border-color: #c4c4c4;
    --pico-primary: #0000a8;
    --pico-primary-background: #c4c4c4;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #a800a8;
    --pico-primary-hover-background: #a800a8;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #fcfcfc;
    --pico-secondary: #7e7e7e;
    --pico-secondary-background: #c4c4c4;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #545454;
    --pico-secondary-hover-background: #a8a8a8;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #fcfcfc;
    --pico-contrast: #2a2a2a;
    --pico-contrast-background: #2a2a2a;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #000000;
    --pico-contrast-hover-background: #000000;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #fcfcfc;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #2a2a2a;
    --pico-h2-color: #545454;
    --pico-h3-color: #545454;
    --pico-h4-color: #7e7e7e;
    --pico-h5-color: #7e7e7e;
    --pico-h6-color: #a8a8a8;
    --pico-mark-background-color: #a85400;
    --pico-mark-color: #fcfcfc;
    --pico-ins-color: #00a800;
    --pico-del-color: #a80000;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #e0e0e0;
    --pico-code-background-color: #e0e0e0;
    --pico-code-color: #a85400;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #fcfcfc;
    --pico-form-element-selected-background-color: #c4c4c4;
    --pico-form-element-border-color: #a8a8a8;
    --pico-form-element-color: #545454;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #fcfcfc;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #a80000;
    --pico-form-element-invalid-active-border-color: #fcfc54;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #00a800;
    --pico-form-element-valid-active-border-color: #00a8a8;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #a8a8a8;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #fcfcfc;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #c4c4c4;
    --pico-range-active-border-color: #a8a8a8;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #fcfcfc;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #e0e0e0;
    --pico-dropdown-background-color: #fcfcfc;
    --pico-dropdown-border-color: #c4c4c4;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #e0e0e0;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #c4c4c4;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #fcfcfc;
    --b16-base01: #e0e0e0;
    --b16-base02: #c4c4c4;
    --b16-base03: #a8a8a8;
    --b16-base04: #7e7e7e;
    --b16-base05: #545454;
    --b16-base06: #2a2a2a;
    --b16-base07: #000000;
    --b16-base08: #a80000;
    --b16-base09: #fcfc54;
    --b16-base0A: #a85400;
    --b16-base0B: #00a800;
    --b16-base0C: #00a8a8;
    --b16-base0D: #0000a8;
    --b16-base0E: #a800a8;
    --b16-base0F: #54fc54;
}
