/* Helios Theme - by Alex Meyer (https://github.com/reyemxela) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #1d2021;
    --pico-color: #d5d5d5;
    --pico-text-selection-color: #53585b;
    --pico-muted-color: #6f7579;
    --pico-muted-border-color: #53585b;
    --pico-primary: #1e8bac;
    --pico-primary-background: #53585b;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #be4264;
    --pico-primary-hover-background: #be4264;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #1d2021;
    --pico-secondary: #cdcdcd;
    --pico-secondary-background: #53585b;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #d5d5d5;
    --pico-secondary-hover-background: #6f7579;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #1d2021;
    --pico-contrast: #dddddd;
    --pico-contrast-background: #dddddd;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #e5e5e5;
    --pico-contrast-hover-background: #e5e5e5;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #1d2021;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #dddddd;
    --pico-h2-color: #d5d5d5;
    --pico-h3-color: #d5d5d5;
    --pico-h4-color: #cdcdcd;
    --pico-h5-color: #cdcdcd;
    --pico-h6-color: #6f7579;
    --pico-mark-background-color: #f19d1a;
    --pico-mark-color: #1d2021;
    --pico-ins-color: #88b92d;
    --pico-del-color: #d72638;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #383c3e;
    --pico-code-background-color: #383c3e;
    --pico-code-color: #f19d1a;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #1d2021;
    --pico-form-element-selected-background-color: #53585b;
    --pico-form-element-border-color: #6f7579;
    --pico-form-element-color: #d5d5d5;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #1d2021;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #d72638;
    --pico-form-element-invalid-active-border-color: #eb8413;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #88b92d;
    --pico-form-element-valid-active-border-color: #1ba595;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #6f7579;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #1d2021;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #53585b;
    --pico-range-active-border-color: #6f7579;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #1d2021;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #383c3e;
    --pico-dropdown-background-color: #1d2021;
    --pico-dropdown-border-color: #53585b;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #383c3e;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #53585b;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #1d2021;
    --b16-base01: #383c3e;
    --b16-base02: #53585b;
    --b16-base03: #6f7579;
    --b16-base04: #cdcdcd;
    --b16-base05: #d5d5d5;
    --b16-base06: #dddddd;
    --b16-base07: #e5e5e5;
    --b16-base08: #d72638;
    --b16-base09: #eb8413;
    --b16-base0A: #f19d1a;
    --b16-base0B: #88b92d;
    --b16-base0C: #1ba595;
    --b16-base0D: #1e8bac;
    --b16-base0E: #be4264;
    --b16-base0F: #c85e0d;
}
