/* Material Lighter Theme - by Nate Peterson */

[data-theme=light] {
    /* Pico CSS color variables */
    --pico-background-color: #fafafa;
    --pico-color: #80cbc4;
    --pico-text-selection-color: #cceae7;
    --pico-muted-color: #ccd7da;
    --pico-muted-border-color: #cceae7;
    --pico-primary: #6182b8;
    --pico-primary-background: #cceae7;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #7c4dff;
    --pico-primary-hover-background: #7c4dff;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #fafafa;
    --pico-secondary: #8796b0;
    --pico-secondary-background: #cceae7;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #80cbc4;
    --pico-secondary-hover-background: #ccd7da;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #fafafa;
    --pico-contrast: #80cbc4;
    --pico-contrast-background: #80cbc4;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #ffffff;
    --pico-contrast-hover-background: #ffffff;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #fafafa;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #80cbc4;
    --pico-h2-color: #80cbc4;
    --pico-h3-color: #80cbc4;
    --pico-h4-color: #8796b0;
    --pico-h5-color: #8796b0;
    --pico-h6-color: #ccd7da;
    --pico-mark-background-color: #ffb62c;
    --pico-mark-color: #fafafa;
    --pico-ins-color: #91b859;
    --pico-del-color: #ff5370;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #e7eaec;
    --pico-code-background-color: #e7eaec;
    --pico-code-color: #ffb62c;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #fafafa;
    --pico-form-element-selected-background-color: #cceae7;
    --pico-form-element-border-color: #ccd7da;
    --pico-form-element-color: #80cbc4;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #fafafa;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #ff5370;
    --pico-form-element-invalid-active-border-color: #f76d47;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #91b859;
    --pico-form-element-valid-active-border-color: #39adb5;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #ccd7da;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #fafafa;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #cceae7;
    --pico-range-active-border-color: #ccd7da;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #fafafa;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #e7eaec;
    --pico-dropdown-background-color: #fafafa;
    --pico-dropdown-border-color: #cceae7;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #e7eaec;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #cceae7;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #fafafa;
    --b16-base01: #e7eaec;
    --b16-base02: #cceae7;
    --b16-base03: #ccd7da;
    --b16-base04: #8796b0;
    --b16-base05: #80cbc4;
    --b16-base06: #80cbc4;
    --b16-base07: #ffffff;
    --b16-base08: #ff5370;
    --b16-base09: #f76d47;
    --b16-base0A: #ffb62c;
    --b16-base0B: #91b859;
    --b16-base0C: #39adb5;
    --b16-base0D: #6182b8;
    --b16-base0E: #7c4dff;
    --b16-base0F: #e53935;
}
