/* Apathy Theme - by Jannik Siebert (https://github.com/janniks) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #031a16;
    --pico-color: #81b5ac;
    --pico-text-selection-color: #184e45;
    --pico-muted-color: #2b685e;
    --pico-muted-border-color: #184e45;
    --pico-primary: #96883e;
    --pico-primary-background: #184e45;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #4c963e;
    --pico-primary-hover-background: #4c963e;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #031a16;
    --pico-secondary: #5f9c92;
    --pico-secondary-background: #184e45;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #81b5ac;
    --pico-secondary-hover-background: #2b685e;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #031a16;
    --pico-contrast: #a7cec8;
    --pico-contrast-background: #a7cec8;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #d2e7e4;
    --pico-contrast-hover-background: #d2e7e4;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #031a16;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #a7cec8;
    --pico-h2-color: #81b5ac;
    --pico-h3-color: #81b5ac;
    --pico-h4-color: #5f9c92;
    --pico-h5-color: #5f9c92;
    --pico-h6-color: #2b685e;
    --pico-mark-background-color: #3e4c96;
    --pico-mark-color: #031a16;
    --pico-ins-color: #883e96;
    --pico-del-color: #3e9688;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #0b342d;
    --pico-code-background-color: #0b342d;
    --pico-code-color: #3e4c96;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #031a16;
    --pico-form-element-selected-background-color: #184e45;
    --pico-form-element-border-color: #2b685e;
    --pico-form-element-color: #81b5ac;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #031a16;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #3e9688;
    --pico-form-element-invalid-active-border-color: #3e7996;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #883e96;
    --pico-form-element-valid-active-border-color: #963e4c;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #2b685e;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #031a16;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #184e45;
    --pico-range-active-border-color: #2b685e;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #031a16;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #0b342d;
    --pico-dropdown-background-color: #031a16;
    --pico-dropdown-border-color: #184e45;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #0b342d;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #184e45;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #031a16;
    --b16-base01: #0b342d;
    --b16-base02: #184e45;
    --b16-base03: #2b685e;
    --b16-base04: #5f9c92;
    --b16-base05: #81b5ac;
    --b16-base06: #a7cec8;
    --b16-base07: #d2e7e4;
    --b16-base08: #3e9688;
    --b16-base09: #3e7996;
    --b16-base0A: #3e4c96;
    --b16-base0B: #883e96;
    --b16-base0C: #963e4c;
    --b16-base0D: #96883e;
    --b16-base0E: #4c963e;
    --b16-base0F: #3e965b;
}
