/* Gruber Theme - by Patel, Nimai &lt;nimai.m.patel@gmail.com&gt;, colors from www.github.com/rexim/gruber-darker-theme */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #181818;
    --pico-color: #f4f4ff;
    --pico-text-selection-color: #484848;
    --pico-muted-color: #52494e;
    --pico-muted-border-color: #484848;
    --pico-primary: #96a6c8;
    --pico-primary-background: #484848;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #9e95c7;
    --pico-primary-hover-background: #9e95c7;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #181818;
    --pico-secondary: #e4e4ef;
    --pico-secondary-background: #484848;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #f4f4ff;
    --pico-secondary-hover-background: #52494e;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #181818;
    --pico-contrast: #f5f5f5;
    --pico-contrast-background: #f5f5f5;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #e4e4ef;
    --pico-contrast-hover-background: #e4e4ef;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #181818;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #f5f5f5;
    --pico-h2-color: #f4f4ff;
    --pico-h3-color: #f4f4ff;
    --pico-h4-color: #e4e4ef;
    --pico-h5-color: #e4e4ef;
    --pico-h6-color: #52494e;
    --pico-mark-background-color: #ffdd33;
    --pico-mark-color: #181818;
    --pico-ins-color: #73c936;
    --pico-del-color: #f43841;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #453d41;
    --pico-code-background-color: #453d41;
    --pico-code-color: #ffdd33;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #181818;
    --pico-form-element-selected-background-color: #484848;
    --pico-form-element-border-color: #52494e;
    --pico-form-element-color: #f4f4ff;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #181818;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #f43841;
    --pico-form-element-invalid-active-border-color: #c73c3f;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #73c936;
    --pico-form-element-valid-active-border-color: #95a99f;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #52494e;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #181818;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #484848;
    --pico-range-active-border-color: #52494e;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #181818;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #453d41;
    --pico-dropdown-background-color: #181818;
    --pico-dropdown-border-color: #484848;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #453d41;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #484848;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #181818;
    --b16-base01: #453d41;
    --b16-base02: #484848;
    --b16-base03: #52494e;
    --b16-base04: #e4e4ef;
    --b16-base05: #f4f4ff;
    --b16-base06: #f5f5f5;
    --b16-base07: #e4e4ef;
    --b16-base08: #f43841;
    --b16-base09: #c73c3f;
    --b16-base0A: #ffdd33;
    --b16-base0B: #73c936;
    --b16-base0C: #95a99f;
    --b16-base0D: #96a6c8;
    --b16-base0E: #9e95c7;
    --b16-base0F: #cc8c3c;
}
