/* Purpledream Theme - by malet */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #100510;
    --pico-color: #ddd0dd;
    --pico-text-selection-color: #403040;
    --pico-muted-color: #605060;
    --pico-muted-border-color: #403040;
    --pico-primary: #00a0f0;
    --pico-primary-background: #403040;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #b000d0;
    --pico-primary-hover-background: #b000d0;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #100510;
    --pico-secondary: #bbb0bb;
    --pico-secondary-background: #403040;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #ddd0dd;
    --pico-secondary-hover-background: #605060;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #100510;
    --pico-contrast: #eee0ee;
    --pico-contrast-background: #eee0ee;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #fff0ff;
    --pico-contrast-hover-background: #fff0ff;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #100510;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #eee0ee;
    --pico-h2-color: #ddd0dd;
    --pico-h3-color: #ddd0dd;
    --pico-h4-color: #bbb0bb;
    --pico-h5-color: #bbb0bb;
    --pico-h6-color: #605060;
    --pico-mark-background-color: #f000a0;
    --pico-mark-color: #100510;
    --pico-ins-color: #14cc64;
    --pico-del-color: #ff1d0d;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #302030;
    --pico-code-background-color: #302030;
    --pico-code-color: #f000a0;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #100510;
    --pico-form-element-selected-background-color: #403040;
    --pico-form-element-border-color: #605060;
    --pico-form-element-color: #ddd0dd;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #100510;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #ff1d0d;
    --pico-form-element-invalid-active-border-color: #ccae14;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #14cc64;
    --pico-form-element-valid-active-border-color: #0075b0;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #605060;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #100510;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #403040;
    --pico-range-active-border-color: #605060;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #100510;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #302030;
    --pico-dropdown-background-color: #100510;
    --pico-dropdown-border-color: #403040;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #302030;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #403040;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #100510;
    --b16-base01: #302030;
    --b16-base02: #403040;
    --b16-base03: #605060;
    --b16-base04: #bbb0bb;
    --b16-base05: #ddd0dd;
    --b16-base06: #eee0ee;
    --b16-base07: #fff0ff;
    --b16-base08: #ff1d0d;
    --b16-base09: #ccae14;
    --b16-base0A: #f000a0;
    --b16-base0B: #14cc64;
    --b16-base0C: #0075b0;
    --b16-base0D: #00a0f0;
    --b16-base0E: #b000d0;
    --b16-base0F: #6a2a3c;
}
