/* Equilibrium Dark Theme - by Carlo Abelli */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #0c1118;
    --pico-color: #afaba2;
    --pico-text-selection-color: #22262d;
    --pico-muted-color: #7b776e;
    --pico-muted-border-color: #22262d;
    --pico-primary: #008dd1;
    --pico-primary-background: #22262d;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #6a7fd2;
    --pico-primary-hover-background: #6a7fd2;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #0c1118;
    --pico-secondary: #949088;
    --pico-secondary-background: #22262d;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #afaba2;
    --pico-secondary-hover-background: #7b776e;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #0c1118;
    --pico-contrast: #cac6bd;
    --pico-contrast-background: #cac6bd;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #e7e2d9;
    --pico-contrast-hover-background: #e7e2d9;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #0c1118;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #cac6bd;
    --pico-h2-color: #afaba2;
    --pico-h3-color: #afaba2;
    --pico-h4-color: #949088;
    --pico-h5-color: #949088;
    --pico-h6-color: #7b776e;
    --pico-mark-background-color: #bb8801;
    --pico-mark-color: #0c1118;
    --pico-ins-color: #7f8b00;
    --pico-del-color: #f04339;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #181c22;
    --pico-code-background-color: #181c22;
    --pico-code-color: #bb8801;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #0c1118;
    --pico-form-element-selected-background-color: #22262d;
    --pico-form-element-border-color: #7b776e;
    --pico-form-element-color: #afaba2;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #0c1118;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #f04339;
    --pico-form-element-invalid-active-border-color: #df5923;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #7f8b00;
    --pico-form-element-valid-active-border-color: #00948b;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #7b776e;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #0c1118;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #22262d;
    --pico-range-active-border-color: #7b776e;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #0c1118;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #181c22;
    --pico-dropdown-background-color: #0c1118;
    --pico-dropdown-border-color: #22262d;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #181c22;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #22262d;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #0c1118;
    --b16-base01: #181c22;
    --b16-base02: #22262d;
    --b16-base03: #7b776e;
    --b16-base04: #949088;
    --b16-base05: #afaba2;
    --b16-base06: #cac6bd;
    --b16-base07: #e7e2d9;
    --b16-base08: #f04339;
    --b16-base09: #df5923;
    --b16-base0A: #bb8801;
    --b16-base0B: #7f8b00;
    --b16-base0C: #00948b;
    --b16-base0D: #008dd1;
    --b16-base0E: #6a7fd2;
    --b16-base0F: #e3488e;
}
