/* Catppuccin Mocha Theme - by https://github.com/catppuccin/catppuccin */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #1e1e2e;
    --pico-color: #cdd6f4;
    --pico-text-selection-color: #313244;
    --pico-muted-color: #45475a;
    --pico-muted-border-color: #313244;
    --pico-primary: #89b4fa;
    --pico-primary-background: #313244;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #cba6f7;
    --pico-primary-hover-background: #cba6f7;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #1e1e2e;
    --pico-secondary: #585b70;
    --pico-secondary-background: #313244;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #cdd6f4;
    --pico-secondary-hover-background: #45475a;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #1e1e2e;
    --pico-contrast: #f5e0dc;
    --pico-contrast-background: #f5e0dc;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #b4befe;
    --pico-contrast-hover-background: #b4befe;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #1e1e2e;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #f5e0dc;
    --pico-h2-color: #cdd6f4;
    --pico-h3-color: #cdd6f4;
    --pico-h4-color: #585b70;
    --pico-h5-color: #585b70;
    --pico-h6-color: #45475a;
    --pico-mark-background-color: #f9e2af;
    --pico-mark-color: #1e1e2e;
    --pico-ins-color: #a6e3a1;
    --pico-del-color: #f38ba8;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #181825;
    --pico-code-background-color: #181825;
    --pico-code-color: #f9e2af;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #1e1e2e;
    --pico-form-element-selected-background-color: #313244;
    --pico-form-element-border-color: #45475a;
    --pico-form-element-color: #cdd6f4;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #1e1e2e;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #f38ba8;
    --pico-form-element-invalid-active-border-color: #fab387;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #a6e3a1;
    --pico-form-element-valid-active-border-color: #94e2d5;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #45475a;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #1e1e2e;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #313244;
    --pico-range-active-border-color: #45475a;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #1e1e2e;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #181825;
    --pico-dropdown-background-color: #1e1e2e;
    --pico-dropdown-border-color: #313244;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #181825;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #313244;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #1e1e2e;
    --b16-base01: #181825;
    --b16-base02: #313244;
    --b16-base03: #45475a;
    --b16-base04: #585b70;
    --b16-base05: #cdd6f4;
    --b16-base06: #f5e0dc;
    --b16-base07: #b4befe;
    --b16-base08: #f38ba8;
    --b16-base09: #fab387;
    --b16-base0A: #f9e2af;
    --b16-base0B: #a6e3a1;
    --b16-base0C: #94e2d5;
    --b16-base0D: #89b4fa;
    --b16-base0E: #cba6f7;
    --b16-base0F: #f2cdcd;
}
