/* Primer Dark Dimmed Theme - by Jimmy Lin */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #1c2128;
    --pico-color: #909dab;
    --pico-text-selection-color: #444c56;
    --pico-muted-color: #545d68;
    --pico-muted-border-color: #444c56;
    --pico-primary: #539bf5;
    --pico-primary-background: #444c56;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #e275ad;
    --pico-primary-hover-background: #e275ad;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #1c2128;
    --pico-secondary: #768390;
    --pico-secondary-background: #444c56;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #909dab;
    --pico-secondary-hover-background: #545d68;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #1c2128;
    --pico-contrast: #adbac7;
    --pico-contrast-background: #adbac7;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #cdd9e5;
    --pico-contrast-hover-background: #cdd9e5;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #1c2128;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #adbac7;
    --pico-h2-color: #909dab;
    --pico-h3-color: #909dab;
    --pico-h4-color: #768390;
    --pico-h5-color: #768390;
    --pico-h6-color: #545d68;
    --pico-mark-background-color: #c69026;
    --pico-mark-color: #1c2128;
    --pico-ins-color: #57ab5a;
    --pico-del-color: #f47067;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #373e47;
    --pico-code-background-color: #373e47;
    --pico-code-color: #c69026;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #1c2128;
    --pico-form-element-selected-background-color: #444c56;
    --pico-form-element-border-color: #545d68;
    --pico-form-element-color: #909dab;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #1c2128;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #f47067;
    --pico-form-element-invalid-active-border-color: #e0823d;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #57ab5a;
    --pico-form-element-valid-active-border-color: #96d0ff;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #545d68;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #1c2128;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #444c56;
    --pico-range-active-border-color: #545d68;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #1c2128;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #373e47;
    --pico-dropdown-background-color: #1c2128;
    --pico-dropdown-border-color: #444c56;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #373e47;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #444c56;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #1c2128;
    --b16-base01: #373e47;
    --b16-base02: #444c56;
    --b16-base03: #545d68;
    --b16-base04: #768390;
    --b16-base05: #909dab;
    --b16-base06: #adbac7;
    --b16-base07: #cdd9e5;
    --b16-base08: #f47067;
    --b16-base09: #e0823d;
    --b16-base0A: #c69026;
    --b16-base0B: #57ab5a;
    --b16-base0C: #96d0ff;
    --b16-base0D: #539bf5;
    --b16-base0E: #e275ad;
    --b16-base0F: #ae5622;
}
