/* Atelier Estuary Theme - by Bram de Haan (http://atelierbramdehaan.nl) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #22221b;
    --pico-color: #929181;
    --pico-text-selection-color: #5f5e4e;
    --pico-muted-color: #6c6b5a;
    --pico-muted-border-color: #5f5e4e;
    --pico-primary: #36a166;
    --pico-primary-background: #5f5e4e;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #5f9182;
    --pico-primary-hover-background: #5f9182;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #22221b;
    --pico-secondary: #878573;
    --pico-secondary-background: #5f5e4e;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #929181;
    --pico-secondary-hover-background: #6c6b5a;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #22221b;
    --pico-contrast: #e7e6df;
    --pico-contrast-background: #e7e6df;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #f4f3ec;
    --pico-contrast-hover-background: #f4f3ec;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #22221b;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #e7e6df;
    --pico-h2-color: #929181;
    --pico-h3-color: #929181;
    --pico-h4-color: #878573;
    --pico-h5-color: #878573;
    --pico-h6-color: #6c6b5a;
    --pico-mark-background-color: #a5980d;
    --pico-mark-color: #22221b;
    --pico-ins-color: #7d9726;
    --pico-del-color: #ba6236;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #302f27;
    --pico-code-background-color: #302f27;
    --pico-code-color: #a5980d;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #22221b;
    --pico-form-element-selected-background-color: #5f5e4e;
    --pico-form-element-border-color: #6c6b5a;
    --pico-form-element-color: #929181;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #22221b;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #ba6236;
    --pico-form-element-invalid-active-border-color: #ae7313;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #7d9726;
    --pico-form-element-valid-active-border-color: #5b9d48;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #6c6b5a;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #22221b;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #5f5e4e;
    --pico-range-active-border-color: #6c6b5a;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #22221b;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #302f27;
    --pico-dropdown-background-color: #22221b;
    --pico-dropdown-border-color: #5f5e4e;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #302f27;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #5f5e4e;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #22221b;
    --b16-base01: #302f27;
    --b16-base02: #5f5e4e;
    --b16-base03: #6c6b5a;
    --b16-base04: #878573;
    --b16-base05: #929181;
    --b16-base06: #e7e6df;
    --b16-base07: #f4f3ec;
    --b16-base08: #ba6236;
    --b16-base09: #ae7313;
    --b16-base0A: #a5980d;
    --b16-base0B: #7d9726;
    --b16-base0C: #5b9d48;
    --b16-base0D: #36a166;
    --b16-base0E: #5f9182;
    --b16-base0F: #9d6c7c;
}
