/* Atelier Lakeside Light Theme - by Bram de Haan (http://atelierbramdehaan.nl) */

[data-theme=light] {
    /* Pico CSS color variables */
    --pico-background-color: #ebf8ff;
    --pico-color: #516d7b;
    --pico-text-selection-color: #7ea2b4;
    --pico-muted-color: #7195a8;
    --pico-muted-border-color: #7ea2b4;
    --pico-primary: #257fad;
    --pico-primary-background: #7ea2b4;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #6b6bb8;
    --pico-primary-hover-background: #6b6bb8;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #ebf8ff;
    --pico-secondary: #5a7b8c;
    --pico-secondary-background: #7ea2b4;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #516d7b;
    --pico-secondary-hover-background: #7195a8;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #ebf8ff;
    --pico-contrast: #1f292e;
    --pico-contrast-background: #1f292e;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #161b1d;
    --pico-contrast-hover-background: #161b1d;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #ebf8ff;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #1f292e;
    --pico-h2-color: #516d7b;
    --pico-h3-color: #516d7b;
    --pico-h4-color: #5a7b8c;
    --pico-h5-color: #5a7b8c;
    --pico-h6-color: #7195a8;
    --pico-mark-background-color: #8a8a0f;
    --pico-mark-color: #ebf8ff;
    --pico-ins-color: #568c3b;
    --pico-del-color: #d22d72;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #c1e4f6;
    --pico-code-background-color: #c1e4f6;
    --pico-code-color: #8a8a0f;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #ebf8ff;
    --pico-form-element-selected-background-color: #7ea2b4;
    --pico-form-element-border-color: #7195a8;
    --pico-form-element-color: #516d7b;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #ebf8ff;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #d22d72;
    --pico-form-element-invalid-active-border-color: #935c25;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #568c3b;
    --pico-form-element-valid-active-border-color: #2d8f6f;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #7195a8;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #ebf8ff;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #7ea2b4;
    --pico-range-active-border-color: #7195a8;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #ebf8ff;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #c1e4f6;
    --pico-dropdown-background-color: #ebf8ff;
    --pico-dropdown-border-color: #7ea2b4;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #c1e4f6;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #7ea2b4;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #ebf8ff;
    --b16-base01: #c1e4f6;
    --b16-base02: #7ea2b4;
    --b16-base03: #7195a8;
    --b16-base04: #5a7b8c;
    --b16-base05: #516d7b;
    --b16-base06: #1f292e;
    --b16-base07: #161b1d;
    --b16-base08: #d22d72;
    --b16-base09: #935c25;
    --b16-base0A: #8a8a0f;
    --b16-base0B: #568c3b;
    --b16-base0C: #2d8f6f;
    --b16-base0D: #257fad;
    --b16-base0E: #6b6bb8;
    --b16-base0F: #b72dd2;
}
