/* Codeschool Theme - by blockloop */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #232c31;
    --pico-color: #9ea7a6;
    --pico-text-selection-color: #2a343a;
    --pico-muted-color: #3f4944;
    --pico-muted-border-color: #2a343a;
    --pico-primary: #484d79;
    --pico-primary-background: #2a343a;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #c59820;
    --pico-primary-hover-background: #c59820;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #232c31;
    --pico-secondary: #84898c;
    --pico-secondary-background: #2a343a;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #9ea7a6;
    --pico-secondary-hover-background: #3f4944;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #232c31;
    --pico-contrast: #a7cfa3;
    --pico-contrast-background: #a7cfa3;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #b5d8f6;
    --pico-contrast-hover-background: #b5d8f6;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #232c31;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #a7cfa3;
    --pico-h2-color: #9ea7a6;
    --pico-h3-color: #9ea7a6;
    --pico-h4-color: #84898c;
    --pico-h5-color: #84898c;
    --pico-h6-color: #3f4944;
    --pico-mark-background-color: #a03b1e;
    --pico-mark-color: #232c31;
    --pico-ins-color: #237986;
    --pico-del-color: #2a5491;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #1c3657;
    --pico-code-background-color: #1c3657;
    --pico-code-color: #a03b1e;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #232c31;
    --pico-form-element-selected-background-color: #2a343a;
    --pico-form-element-border-color: #3f4944;
    --pico-form-element-color: #9ea7a6;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #232c31;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #2a5491;
    --pico-form-element-invalid-active-border-color: #43820d;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #237986;
    --pico-form-element-valid-active-border-color: #b02f30;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #3f4944;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #232c31;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #2a343a;
    --pico-range-active-border-color: #3f4944;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #232c31;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #1c3657;
    --pico-dropdown-background-color: #232c31;
    --pico-dropdown-border-color: #2a343a;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #1c3657;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #2a343a;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #232c31;
    --b16-base01: #1c3657;
    --b16-base02: #2a343a;
    --b16-base03: #3f4944;
    --b16-base04: #84898c;
    --b16-base05: #9ea7a6;
    --b16-base06: #a7cfa3;
    --b16-base07: #b5d8f6;
    --b16-base08: #2a5491;
    --b16-base09: #43820d;
    --b16-base0A: #a03b1e;
    --b16-base0B: #237986;
    --b16-base0C: #b02f30;
    --b16-base0D: #484d79;
    --b16-base0E: #c59820;
    --b16-base0F: #c98344;
}
