/* emil Theme - by limelier */

[data-theme=light] {
    /* Pico CSS color variables */
    --pico-background-color: #efefef;
    --pico-color: #313145;
    --pico-text-selection-color: #9e9eaf;
    --pico-muted-color: #7c7c98;
    --pico-muted-border-color: #9e9eaf;
    --pico-primary: #471397;
    --pico-primary-background: #9e9eaf;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #6916b6;
    --pico-primary-hover-background: #6916b6;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #efefef;
    --pico-secondary: #505063;
    --pico-secondary-background: #9e9eaf;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #313145;
    --pico-secondary-hover-background: #7c7c98;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #efefef;
    --pico-contrast: #22223a;
    --pico-contrast-background: #22223a;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #1a1a2f;
    --pico-contrast-hover-background: #1a1a2f;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #efefef;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #22223a;
    --pico-h2-color: #313145;
    --pico-h3-color: #313145;
    --pico-h4-color: #505063;
    --pico-h5-color: #505063;
    --pico-h6-color: #7c7c98;
    --pico-mark-background-color: #ff669b;
    --pico-mark-color: #efefef;
    --pico-ins-color: #0073a8;
    --pico-del-color: #f43979;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #bebed2;
    --pico-code-background-color: #bebed2;
    --pico-code-color: #ff669b;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #efefef;
    --pico-form-element-selected-background-color: #9e9eaf;
    --pico-form-element-border-color: #7c7c98;
    --pico-form-element-color: #313145;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #efefef;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #f43979;
    --pico-form-element-invalid-active-border-color: #d22a8b;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #0073a8;
    --pico-form-element-valid-active-border-color: #2155d6;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #7c7c98;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #efefef;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #9e9eaf;
    --pico-range-active-border-color: #7c7c98;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #efefef;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #bebed2;
    --pico-dropdown-background-color: #efefef;
    --pico-dropdown-border-color: #9e9eaf;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #bebed2;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #9e9eaf;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #efefef;
    --b16-base01: #bebed2;
    --b16-base02: #9e9eaf;
    --b16-base03: #7c7c98;
    --b16-base04: #505063;
    --b16-base05: #313145;
    --b16-base06: #22223a;
    --b16-base07: #1a1a2f;
    --b16-base08: #f43979;
    --b16-base09: #d22a8b;
    --b16-base0A: #ff669b;
    --b16-base0B: #0073a8;
    --b16-base0C: #2155d6;
    --b16-base0D: #471397;
    --b16-base0E: #6916b6;
    --b16-base0F: #8d17a5;
}
