/* ShadeSmear Dark Theme - by Kyle Giammarco (http://kyle.giammar.co) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #232323;
    --pico-color: #dbdbdb;
    --pico-text-selection-color: #4e4e4e;
    --pico-muted-color: #c0c0c0;
    --pico-muted-border-color: #4e4e4e;
    --pico-primary: #376388;
    --pico-primary-background: #4e4e4e;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #d7ab54;
    --pico-primary-hover-background: #d7ab54;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #232323;
    --pico-secondary: #e4e4e4;
    --pico-secondary-background: #4e4e4e;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #dbdbdb;
    --pico-secondary-hover-background: #c0c0c0;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #232323;
    --pico-contrast: #e4e4e4;
    --pico-contrast-background: #e4e4e4;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #1c1c1c;
    --pico-contrast-hover-background: #1c1c1c;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #232323;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #e4e4e4;
    --pico-h2-color: #dbdbdb;
    --pico-h3-color: #dbdbdb;
    --pico-h4-color: #e4e4e4;
    --pico-h5-color: #e4e4e4;
    --pico-h6-color: #c0c0c0;
    --pico-mark-background-color: #307878;
    --pico-mark-color: #232323;
    --pico-ins-color: #71983b;
    --pico-del-color: #cc5450;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #1c1c1c;
    --pico-code-background-color: #1c1c1c;
    --pico-code-color: #307878;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #232323;
    --pico-form-element-selected-background-color: #4e4e4e;
    --pico-form-element-border-color: #c0c0c0;
    --pico-form-element-color: #dbdbdb;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #232323;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #cc5450;
    --pico-form-element-invalid-active-border-color: #a64270;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #71983b;
    --pico-form-element-valid-active-border-color: #c57d42;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #c0c0c0;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #232323;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #4e4e4e;
    --pico-range-active-border-color: #c0c0c0;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #232323;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #1c1c1c;
    --pico-dropdown-background-color: #232323;
    --pico-dropdown-border-color: #4e4e4e;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #1c1c1c;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #4e4e4e;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #232323;
    --b16-base01: #1c1c1c;
    --b16-base02: #4e4e4e;
    --b16-base03: #c0c0c0;
    --b16-base04: #e4e4e4;
    --b16-base05: #dbdbdb;
    --b16-base06: #e4e4e4;
    --b16-base07: #1c1c1c;
    --b16-base08: #cc5450;
    --b16-base09: #a64270;
    --b16-base0A: #307878;
    --b16-base0B: #71983b;
    --b16-base0C: #c57d42;
    --b16-base0D: #376388;
    --b16-base0E: #d7ab54;
    --b16-base0F: #6d6d6d;
}
