/* Synth Midnight Terminal Light Theme - by Michaël Ball (http://github.com/michael-ball/) */

[data-theme=light] {
    /* Pico CSS color variables */
    --pico-background-color: #dddfe0;
    --pico-color: #28292a;
    --pico-text-selection-color: #c1c3c4;
    --pico-muted-color: #a3a5a6;
    --pico-muted-border-color: #c1c3c4;
    --pico-primary: #03aeff;
    --pico-primary-background: #c1c3c4;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #ea5ce2;
    --pico-primary-hover-background: #ea5ce2;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #dddfe0;
    --pico-secondary: #474849;
    --pico-secondary-background: #c1c3c4;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #28292a;
    --pico-secondary-hover-background: #a3a5a6;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #dddfe0;
    --pico-contrast: #1a1b1c;
    --pico-contrast-background: #1a1b1c;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #050608;
    --pico-contrast-hover-background: #050608;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #dddfe0;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #1a1b1c;
    --pico-h2-color: #28292a;
    --pico-h3-color: #28292a;
    --pico-h4-color: #474849;
    --pico-h5-color: #474849;
    --pico-h6-color: #a3a5a6;
    --pico-mark-background-color: #c9d364;
    --pico-mark-color: #dddfe0;
    --pico-ins-color: #06ea61;
    --pico-del-color: #b53b50;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #cfd1d2;
    --pico-code-background-color: #cfd1d2;
    --pico-code-color: #c9d364;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #dddfe0;
    --pico-form-element-selected-background-color: #c1c3c4;
    --pico-form-element-border-color: #a3a5a6;
    --pico-form-element-color: #28292a;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #dddfe0;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #b53b50;
    --pico-form-element-invalid-active-border-color: #ea770d;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #06ea61;
    --pico-form-element-valid-active-border-color: #42fff9;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #a3a5a6;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #dddfe0;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #c1c3c4;
    --pico-range-active-border-color: #a3a5a6;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #dddfe0;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #cfd1d2;
    --pico-dropdown-background-color: #dddfe0;
    --pico-dropdown-border-color: #c1c3c4;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #cfd1d2;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #c1c3c4;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #dddfe0;
    --b16-base01: #cfd1d2;
    --b16-base02: #c1c3c4;
    --b16-base03: #a3a5a6;
    --b16-base04: #474849;
    --b16-base05: #28292a;
    --b16-base06: #1a1b1c;
    --b16-base07: #050608;
    --b16-base08: #b53b50;
    --b16-base09: #ea770d;
    --b16-base0A: #c9d364;
    --b16-base0B: #06ea61;
    --b16-base0C: #42fff9;
    --b16-base0D: #03aeff;
    --b16-base0E: #ea5ce2;
    --b16-base0F: #cd6320;
}
