/* standardized-dark Theme - by ali (https://github.com/ali-githb/base16-standardized-scheme) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #222222;
    --pico-color: #c0c0c0;
    --pico-text-selection-color: #555555;
    --pico-muted-color: #898989;
    --pico-muted-border-color: #555555;
    --pico-primary: #00a3f2;
    --pico-primary-background: #555555;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #b46ee0;
    --pico-primary-hover-background: #b46ee0;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #222222;
    --pico-secondary: #898989;
    --pico-secondary-background: #555555;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #c0c0c0;
    --pico-secondary-hover-background: #898989;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #222222;
    --pico-contrast: #e0e0e0;
    --pico-contrast-background: #e0e0e0;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #ffffff;
    --pico-contrast-hover-background: #ffffff;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #222222;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #e0e0e0;
    --pico-h2-color: #c0c0c0;
    --pico-h3-color: #c0c0c0;
    --pico-h4-color: #898989;
    --pico-h5-color: #898989;
    --pico-h6-color: #898989;
    --pico-mark-background-color: #e1b31a;
    --pico-mark-color: #222222;
    --pico-ins-color: #5db129;
    --pico-del-color: #e15d67;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #303030;
    --pico-code-background-color: #303030;
    --pico-code-color: #e1b31a;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #222222;
    --pico-form-element-selected-background-color: #555555;
    --pico-form-element-border-color: #898989;
    --pico-form-element-color: #c0c0c0;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #222222;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #e15d67;
    --pico-form-element-invalid-active-border-color: #fc804e;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #5db129;
    --pico-form-element-valid-active-border-color: #21c992;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #898989;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #222222;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #555555;
    --pico-range-active-border-color: #898989;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #222222;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #303030;
    --pico-dropdown-background-color: #222222;
    --pico-dropdown-border-color: #555555;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #303030;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #555555;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #222222;
    --b16-base01: #303030;
    --b16-base02: #555555;
    --b16-base03: #898989;
    --b16-base04: #898989;
    --b16-base05: #c0c0c0;
    --b16-base06: #e0e0e0;
    --b16-base07: #ffffff;
    --b16-base08: #e15d67;
    --b16-base09: #fc804e;
    --b16-base0A: #e1b31a;
    --b16-base0B: #5db129;
    --b16-base0C: #21c992;
    --b16-base0D: #00a3f2;
    --b16-base0E: #b46ee0;
    --b16-base0F: #b87d28;
}
