/* Nova Theme - by George Essig (https://github.com/gessig), Trevor D. Miller (https://trevordmiller.com) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #3c4c55;
    --pico-color: #c5d4dd;
    --pico-text-selection-color: #6a7d89;
    --pico-muted-color: #899ba6;
    --pico-muted-border-color: #6a7d89;
    --pico-primary: #83afe5;
    --pico-primary-background: #6a7d89;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #9a93e1;
    --pico-primary-hover-background: #9a93e1;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #3c4c55;
    --pico-secondary: #899ba6;
    --pico-secondary-background: #6a7d89;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #c5d4dd;
    --pico-secondary-hover-background: #899ba6;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #3c4c55;
    --pico-contrast: #899ba6;
    --pico-contrast-background: #899ba6;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #556873;
    --pico-contrast-hover-background: #556873;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #3c4c55;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #899ba6;
    --pico-h2-color: #c5d4dd;
    --pico-h3-color: #c5d4dd;
    --pico-h4-color: #899ba6;
    --pico-h5-color: #899ba6;
    --pico-h6-color: #899ba6;
    --pico-mark-background-color: #a8ce93;
    --pico-mark-color: #3c4c55;
    --pico-ins-color: #7fc1ca;
    --pico-del-color: #83afe5;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #556873;
    --pico-code-background-color: #556873;
    --pico-code-color: #a8ce93;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #3c4c55;
    --pico-form-element-selected-background-color: #6a7d89;
    --pico-form-element-border-color: #899ba6;
    --pico-form-element-color: #c5d4dd;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #3c4c55;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #83afe5;
    --pico-form-element-invalid-active-border-color: #7fc1ca;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #7fc1ca;
    --pico-form-element-valid-active-border-color: #f2c38f;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #899ba6;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #3c4c55;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #6a7d89;
    --pico-range-active-border-color: #899ba6;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #3c4c55;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #556873;
    --pico-dropdown-background-color: #3c4c55;
    --pico-dropdown-border-color: #6a7d89;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #556873;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #6a7d89;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #3c4c55;
    --b16-base01: #556873;
    --b16-base02: #6a7d89;
    --b16-base03: #899ba6;
    --b16-base04: #899ba6;
    --b16-base05: #c5d4dd;
    --b16-base06: #899ba6;
    --b16-base07: #556873;
    --b16-base08: #83afe5;
    --b16-base09: #7fc1ca;
    --b16-base0A: #a8ce93;
    --b16-base0B: #7fc1ca;
    --b16-base0C: #f2c38f;
    --b16-base0D: #83afe5;
    --b16-base0E: #9a93e1;
    --b16-base0F: #f2c38f;
}
