/* Ashes Theme - by Jannik Siebert (https://github.com/janniks) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #1c2023;
    --pico-color: #c7ccd1;
    --pico-text-selection-color: #565e65;
    --pico-muted-color: #747c84;
    --pico-muted-border-color: #565e65;
    --pico-primary: #ae95c7;
    --pico-primary-background: #565e65;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #c795ae;
    --pico-primary-hover-background: #c795ae;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #1c2023;
    --pico-secondary: #adb3ba;
    --pico-secondary-background: #565e65;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #c7ccd1;
    --pico-secondary-hover-background: #747c84;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #1c2023;
    --pico-contrast: #dfe2e5;
    --pico-contrast-background: #dfe2e5;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #f3f4f5;
    --pico-contrast-hover-background: #f3f4f5;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #1c2023;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #dfe2e5;
    --pico-h2-color: #c7ccd1;
    --pico-h3-color: #c7ccd1;
    --pico-h4-color: #adb3ba;
    --pico-h5-color: #adb3ba;
    --pico-h6-color: #747c84;
    --pico-mark-background-color: #aec795;
    --pico-mark-color: #1c2023;
    --pico-ins-color: #95c7ae;
    --pico-del-color: #c7ae95;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #393f45;
    --pico-code-background-color: #393f45;
    --pico-code-color: #aec795;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #1c2023;
    --pico-form-element-selected-background-color: #565e65;
    --pico-form-element-border-color: #747c84;
    --pico-form-element-color: #c7ccd1;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #1c2023;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #c7ae95;
    --pico-form-element-invalid-active-border-color: #c7c795;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #95c7ae;
    --pico-form-element-valid-active-border-color: #95aec7;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #747c84;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #1c2023;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #565e65;
    --pico-range-active-border-color: #747c84;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #1c2023;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #393f45;
    --pico-dropdown-background-color: #1c2023;
    --pico-dropdown-border-color: #565e65;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #393f45;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #565e65;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #1c2023;
    --b16-base01: #393f45;
    --b16-base02: #565e65;
    --b16-base03: #747c84;
    --b16-base04: #adb3ba;
    --b16-base05: #c7ccd1;
    --b16-base06: #dfe2e5;
    --b16-base07: #f3f4f5;
    --b16-base08: #c7ae95;
    --b16-base09: #c7c795;
    --b16-base0A: #aec795;
    --b16-base0B: #95c7ae;
    --b16-base0C: #95aec7;
    --b16-base0D: #ae95c7;
    --b16-base0E: #c795ae;
    --b16-base0F: #c79595;
}
