/* Kimber Theme - by Mishka Nguyen (https://github.com/akhsiM) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #222222;
    --pico-color: #dedee7;
    --pico-text-selection-color: #555d55;
    --pico-muted-color: #644646;
    --pico-muted-border-color: #555d55;
    --pico-primary: #537c9c;
    --pico-primary-background: #555d55;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #86cacd;
    --pico-primary-hover-background: #86cacd;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #222222;
    --pico-secondary: #5a5a5a;
    --pico-secondary-background: #555d55;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #dedee7;
    --pico-secondary-hover-background: #644646;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #222222;
    --pico-contrast: #c3c3b4;
    --pico-contrast-background: #c3c3b4;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #ffffe6;
    --pico-contrast-hover-background: #ffffe6;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #222222;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #c3c3b4;
    --pico-h2-color: #dedee7;
    --pico-h3-color: #dedee7;
    --pico-h4-color: #5a5a5a;
    --pico-h5-color: #5a5a5a;
    --pico-h6-color: #644646;
    --pico-mark-background-color: #d8b56d;
    --pico-mark-color: #222222;
    --pico-ins-color: #99c899;
    --pico-del-color: #c88c8c;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #313131;
    --pico-code-background-color: #313131;
    --pico-code-color: #d8b56d;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #222222;
    --pico-form-element-selected-background-color: #555d55;
    --pico-form-element-border-color: #644646;
    --pico-form-element-color: #dedee7;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #222222;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #c88c8c;
    --pico-form-element-invalid-active-border-color: #476c88;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #99c899;
    --pico-form-element-valid-active-border-color: #78b4b4;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #644646;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #222222;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #555d55;
    --pico-range-active-border-color: #644646;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #222222;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #313131;
    --pico-dropdown-background-color: #222222;
    --pico-dropdown-border-color: #555d55;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #313131;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #555d55;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #222222;
    --b16-base01: #313131;
    --b16-base02: #555d55;
    --b16-base03: #644646;
    --b16-base04: #5a5a5a;
    --b16-base05: #dedee7;
    --b16-base06: #c3c3b4;
    --b16-base07: #ffffe6;
    --b16-base08: #c88c8c;
    --b16-base09: #476c88;
    --b16-base0A: #d8b56d;
    --b16-base0B: #99c899;
    --b16-base0C: #78b4b4;
    --b16-base0D: #537c9c;
    --b16-base0E: #86cacd;
    --b16-base0F: #704f4f;
}
