/* Fruit Soda Theme - by jozip */

[data-theme=light] {
    /* Pico CSS color variables */
    --pico-background-color: #f1ecf1;
    --pico-color: #515151;
    --pico-text-selection-color: #d8d5d5;
    --pico-muted-color: #b5b4b6;
    --pico-muted-border-color: #d8d5d5;
    --pico-primary: #2931df;
    --pico-primary-background: #d8d5d5;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #611fce;
    --pico-primary-hover-background: #611fce;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #f1ecf1;
    --pico-secondary: #979598;
    --pico-secondary-background: #d8d5d5;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #515151;
    --pico-secondary-hover-background: #b5b4b6;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #f1ecf1;
    --pico-contrast: #474545;
    --pico-contrast-background: #474545;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #2d2c2c;
    --pico-contrast-hover-background: #2d2c2c;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #f1ecf1;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #474545;
    --pico-h2-color: #515151;
    --pico-h3-color: #515151;
    --pico-h4-color: #979598;
    --pico-h5-color: #979598;
    --pico-h6-color: #b5b4b6;
    --pico-mark-background-color: #f7e203;
    --pico-mark-color: #f1ecf1;
    --pico-ins-color: #47f74c;
    --pico-del-color: #fe3e31;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #e0dee0;
    --pico-code-background-color: #e0dee0;
    --pico-code-color: #f7e203;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #f1ecf1;
    --pico-form-element-selected-background-color: #d8d5d5;
    --pico-form-element-border-color: #b5b4b6;
    --pico-form-element-color: #515151;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #f1ecf1;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #fe3e31;
    --pico-form-element-invalid-active-border-color: #fe6d08;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #47f74c;
    --pico-form-element-valid-active-border-color: #0f9cfd;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #b5b4b6;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #f1ecf1;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #d8d5d5;
    --pico-range-active-border-color: #b5b4b6;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #f1ecf1;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #e0dee0;
    --pico-dropdown-background-color: #f1ecf1;
    --pico-dropdown-border-color: #d8d5d5;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #e0dee0;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #d8d5d5;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #f1ecf1;
    --b16-base01: #e0dee0;
    --b16-base02: #d8d5d5;
    --b16-base03: #b5b4b6;
    --b16-base04: #979598;
    --b16-base05: #515151;
    --b16-base06: #474545;
    --b16-base07: #2d2c2c;
    --b16-base08: #fe3e31;
    --b16-base09: #fe6d08;
    --b16-base0A: #f7e203;
    --b16-base0B: #47f74c;
    --b16-base0C: #0f9cfd;
    --b16-base0D: #2931df;
    --b16-base0E: #611fce;
    --b16-base0F: #b16f40;
}
