/* pinky Theme - by Benjamin (https://github.com/b3nj5m1n) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #171517;
    --pico-color: #f5f5f5;
    --pico-text-selection-color: #1d1b1d;
    --pico-muted-color: #383338;
    --pico-muted-border-color: #1d1b1d;
    --pico-primary: #00ffff;
    --pico-primary-background: #1d1b1d;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #007fff;
    --pico-primary-hover-background: #007fff;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #171517;
    --pico-secondary: #e7dbdb;
    --pico-secondary-background: #1d1b1d;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #f5f5f5;
    --pico-secondary-hover-background: #383338;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #171517;
    --pico-contrast: #ffffff;
    --pico-contrast-background: #ffffff;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #f7f3f7;
    --pico-contrast-hover-background: #f7f3f7;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #171517;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #ffffff;
    --pico-h2-color: #f5f5f5;
    --pico-h3-color: #f5f5f5;
    --pico-h4-color: #e7dbdb;
    --pico-h5-color: #e7dbdb;
    --pico-h6-color: #383338;
    --pico-mark-background-color: #20df6c;
    --pico-mark-color: #171517;
    --pico-ins-color: #ff0066;
    --pico-del-color: #ffa600;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #1b181b;
    --pico-code-background-color: #1b181b;
    --pico-code-color: #20df6c;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #171517;
    --pico-form-element-selected-background-color: #1d1b1d;
    --pico-form-element-border-color: #383338;
    --pico-form-element-color: #f5f5f5;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #171517;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #ffa600;
    --pico-form-element-invalid-active-border-color: #00ff66;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #ff0066;
    --pico-form-element-valid-active-border-color: #6600ff;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #383338;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #171517;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #1d1b1d;
    --pico-range-active-border-color: #383338;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #171517;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #1b181b;
    --pico-dropdown-background-color: #171517;
    --pico-dropdown-border-color: #1d1b1d;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #1b181b;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #1d1b1d;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #171517;
    --b16-base01: #1b181b;
    --b16-base02: #1d1b1d;
    --b16-base03: #383338;
    --b16-base04: #e7dbdb;
    --b16-base05: #f5f5f5;
    --b16-base06: #ffffff;
    --b16-base07: #f7f3f7;
    --b16-base08: #ffa600;
    --b16-base09: #00ff66;
    --b16-base0A: #20df6c;
    --b16-base0B: #ff0066;
    --b16-base0C: #6600ff;
    --b16-base0D: #00ffff;
    --b16-base0E: #007fff;
    --b16-base0F: #df206c;
}
