/* Moonlight Theme - by Jeremy Swinarton (https://github.com/jswinarton) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #212337;
    --pico-color: #a3ace1;
    --pico-text-selection-color: #596399;
    --pico-muted-color: #748cd6;
    --pico-muted-border-color: #596399;
    --pico-primary: #40ffff;
    --pico-primary-background: #596399;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #b994f1;
    --pico-primary-hover-background: #b994f1;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #212337;
    --pico-secondary: #a1abe0;
    --pico-secondary-background: #596399;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #a3ace1;
    --pico-secondary-hover-background: #748cd6;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #212337;
    --pico-contrast: #b4a4f4;
    --pico-contrast-background: #b4a4f4;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #ef43fa;
    --pico-contrast-hover-background: #ef43fa;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #212337;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #b4a4f4;
    --pico-h2-color: #a3ace1;
    --pico-h3-color: #a3ace1;
    --pico-h4-color: #a1abe0;
    --pico-h5-color: #a1abe0;
    --pico-h6-color: #748cd6;
    --pico-mark-background-color: #ffc777;
    --pico-mark-color: #212337;
    --pico-ins-color: #2df4c0;
    --pico-del-color: #ff5370;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #403c64;
    --pico-code-background-color: #403c64;
    --pico-code-color: #ffc777;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #212337;
    --pico-form-element-selected-background-color: #596399;
    --pico-form-element-border-color: #748cd6;
    --pico-form-element-color: #a3ace1;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #212337;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #ff5370;
    --pico-form-element-invalid-active-border-color: #f67f81;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #2df4c0;
    --pico-form-element-valid-active-border-color: #04d1f9;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #748cd6;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #212337;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #596399;
    --pico-range-active-border-color: #748cd6;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #212337;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #403c64;
    --pico-dropdown-background-color: #212337;
    --pico-dropdown-border-color: #596399;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #403c64;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #596399;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #212337;
    --b16-base01: #403c64;
    --b16-base02: #596399;
    --b16-base03: #748cd6;
    --b16-base04: #a1abe0;
    --b16-base05: #a3ace1;
    --b16-base06: #b4a4f4;
    --b16-base07: #ef43fa;
    --b16-base08: #ff5370;
    --b16-base09: #f67f81;
    --b16-base0A: #ffc777;
    --b16-base0B: #2df4c0;
    --b16-base0C: #04d1f9;
    --b16-base0D: #40ffff;
    --b16-base0E: #b994f1;
    --b16-base0F: #ecb2f0;
}
