/* Sparky Theme - by Leila Sother (https://github.com/mixcoac) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #072b31;
    --pico-color: #f4f5f0;
    --pico-text-selection-color: #003c46;
    --pico-muted-color: #003b49;
    --pico-muted-border-color: #003c46;
    --pico-primary: #4698cb;
    --pico-primary-background: #003c46;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #d59ed7;
    --pico-primary-hover-background: #d59ed7;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #072b31;
    --pico-secondary: #00778b;
    --pico-secondary-background: #003c46;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #f4f5f0;
    --pico-secondary-hover-background: #003b49;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #072b31;
    --pico-contrast: #f5f5f1;
    --pico-contrast-background: #f5f5f1;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #ffffff;
    --pico-contrast-hover-background: #ffffff;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #072b31;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #f5f5f1;
    --pico-h2-color: #f4f5f0;
    --pico-h3-color: #f4f5f0;
    --pico-h4-color: #00778b;
    --pico-h5-color: #00778b;
    --pico-h6-color: #003b49;
    --pico-mark-background-color: #fbdd40;
    --pico-mark-color: #072b31;
    --pico-ins-color: #78d64b;
    --pico-del-color: #ff585d;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #00313c;
    --pico-code-background-color: #00313c;
    --pico-code-color: #fbdd40;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #072b31;
    --pico-form-element-selected-background-color: #003c46;
    --pico-form-element-border-color: #003b49;
    --pico-form-element-color: #f4f5f0;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #072b31;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #ff585d;
    --pico-form-element-invalid-active-border-color: #ff8f1c;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #78d64b;
    --pico-form-element-valid-active-border-color: #2dccd3;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #003b49;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #072b31;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #003c46;
    --pico-range-active-border-color: #003b49;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #072b31;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #00313c;
    --pico-dropdown-background-color: #072b31;
    --pico-dropdown-border-color: #003c46;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #00313c;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #003c46;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #072b31;
    --b16-base01: #00313c;
    --b16-base02: #003c46;
    --b16-base03: #003b49;
    --b16-base04: #00778b;
    --b16-base05: #f4f5f0;
    --b16-base06: #f5f5f1;
    --b16-base07: #ffffff;
    --b16-base08: #ff585d;
    --b16-base09: #ff8f1c;
    --b16-base0A: #fbdd40;
    --b16-base0B: #78d64b;
    --b16-base0C: #2dccd3;
    --b16-base0D: #4698cb;
    --b16-base0E: #d59ed7;
    --b16-base0F: #9b704d;
}
