/* Seti UI Theme - by  */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #151718;
    --pico-color: #d6d6d6;
    --pico-text-selection-color: #3b758c;
    --pico-muted-color: #41535b;
    --pico-muted-border-color: #3b758c;
    --pico-primary: #55b5db;
    --pico-primary-background: #3b758c;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #a074c4;
    --pico-primary-hover-background: #a074c4;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #151718;
    --pico-secondary: #43a5d5;
    --pico-secondary-background: #3b758c;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #d6d6d6;
    --pico-secondary-hover-background: #41535b;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #151718;
    --pico-contrast: #eeeeee;
    --pico-contrast-background: #eeeeee;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #ffffff;
    --pico-contrast-hover-background: #ffffff;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #151718;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #eeeeee;
    --pico-h2-color: #d6d6d6;
    --pico-h3-color: #d6d6d6;
    --pico-h4-color: #43a5d5;
    --pico-h5-color: #43a5d5;
    --pico-h6-color: #41535b;
    --pico-mark-background-color: #e6cd69;
    --pico-mark-color: #151718;
    --pico-ins-color: #9fca56;
    --pico-del-color: #cd3f45;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #282a2b;
    --pico-code-background-color: #282a2b;
    --pico-code-color: #e6cd69;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #151718;
    --pico-form-element-selected-background-color: #3b758c;
    --pico-form-element-border-color: #41535b;
    --pico-form-element-color: #d6d6d6;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #151718;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #cd3f45;
    --pico-form-element-invalid-active-border-color: #db7b55;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #9fca56;
    --pico-form-element-valid-active-border-color: #55dbbe;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #41535b;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #151718;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #3b758c;
    --pico-range-active-border-color: #41535b;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #151718;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #282a2b;
    --pico-dropdown-background-color: #151718;
    --pico-dropdown-border-color: #3b758c;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #282a2b;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #3b758c;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #151718;
    --b16-base01: #282a2b;
    --b16-base02: #3b758c;
    --b16-base03: #41535b;
    --b16-base04: #43a5d5;
    --b16-base05: #d6d6d6;
    --b16-base06: #eeeeee;
    --b16-base07: #ffffff;
    --b16-base08: #cd3f45;
    --b16-base09: #db7b55;
    --b16-base0A: #e6cd69;
    --b16-base0B: #9fca56;
    --b16-base0C: #55dbbe;
    --b16-base0D: #55b5db;
    --b16-base0E: #a074c4;
    --b16-base0F: #8a553f;
}
