/* Edge Light Theme - by cjayross (https://github.com/cjayross) */

[data-theme=light] {
    /* Pico CSS color variables */
    --pico-background-color: #fafafa;
    --pico-color: #5e646f;
    --pico-text-selection-color: #d69822;
    --pico-muted-color: #5e646f;
    --pico-muted-border-color: #d69822;
    --pico-primary: #6587bf;
    --pico-primary-background: #d69822;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #b870ce;
    --pico-primary-hover-background: #b870ce;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #fafafa;
    --pico-secondary: #6587bf;
    --pico-secondary-background: #d69822;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #5e646f;
    --pico-secondary-hover-background: #5e646f;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #fafafa;
    --pico-contrast: #b870ce;
    --pico-contrast-background: #b870ce;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #5e646f;
    --pico-contrast-hover-background: #5e646f;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #fafafa;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #b870ce;
    --pico-h2-color: #5e646f;
    --pico-h3-color: #5e646f;
    --pico-h4-color: #6587bf;
    --pico-h5-color: #6587bf;
    --pico-h6-color: #5e646f;
    --pico-mark-background-color: #d69822;
    --pico-mark-color: #fafafa;
    --pico-ins-color: #7c9f4b;
    --pico-del-color: #db7070;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #7c9f4b;
    --pico-code-background-color: #7c9f4b;
    --pico-code-color: #d69822;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #fafafa;
    --pico-form-element-selected-background-color: #d69822;
    --pico-form-element-border-color: #5e646f;
    --pico-form-element-color: #5e646f;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #fafafa;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #db7070;
    --pico-form-element-invalid-active-border-color: #db7070;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #7c9f4b;
    --pico-form-element-valid-active-border-color: #509c93;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #5e646f;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #fafafa;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #d69822;
    --pico-range-active-border-color: #5e646f;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #fafafa;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #7c9f4b;
    --pico-dropdown-background-color: #fafafa;
    --pico-dropdown-border-color: #d69822;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #7c9f4b;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #d69822;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #fafafa;
    --b16-base01: #7c9f4b;
    --b16-base02: #d69822;
    --b16-base03: #5e646f;
    --b16-base04: #6587bf;
    --b16-base05: #5e646f;
    --b16-base06: #b870ce;
    --b16-base07: #5e646f;
    --b16-base08: #db7070;
    --b16-base09: #db7070;
    --b16-base0A: #d69822;
    --b16-base0B: #7c9f4b;
    --b16-base0C: #509c93;
    --b16-base0D: #6587bf;
    --b16-base0E: #b870ce;
    --b16-base0F: #509c93;
}
