/* Macintosh Theme - by Rebecca Bettencourt (http://www.kreativekorp.com) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #000000;
    --pico-color: #c0c0c0;
    --pico-text-selection-color: #404040;
    --pico-muted-color: #808080;
    --pico-muted-border-color: #404040;
    --pico-primary: #0000d3;
    --pico-primary-background: #404040;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #4700a5;
    --pico-primary-hover-background: #4700a5;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #000000;
    --pico-secondary: #808080;
    --pico-secondary-background: #404040;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #c0c0c0;
    --pico-secondary-hover-background: #808080;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #000000;
    --pico-contrast: #c0c0c0;
    --pico-contrast-background: #c0c0c0;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #ffffff;
    --pico-contrast-hover-background: #ffffff;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #000000;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #c0c0c0;
    --pico-h2-color: #c0c0c0;
    --pico-h3-color: #c0c0c0;
    --pico-h4-color: #808080;
    --pico-h5-color: #808080;
    --pico-h6-color: #808080;
    --pico-mark-background-color: #fbf305;
    --pico-mark-color: #000000;
    --pico-ins-color: #1fb714;
    --pico-del-color: #dd0907;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #404040;
    --pico-code-background-color: #404040;
    --pico-code-color: #fbf305;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #000000;
    --pico-form-element-selected-background-color: #404040;
    --pico-form-element-border-color: #808080;
    --pico-form-element-color: #c0c0c0;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #000000;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #dd0907;
    --pico-form-element-invalid-active-border-color: #ff6403;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #1fb714;
    --pico-form-element-valid-active-border-color: #02abea;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #808080;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #000000;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #404040;
    --pico-range-active-border-color: #808080;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #000000;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #404040;
    --pico-dropdown-background-color: #000000;
    --pico-dropdown-border-color: #404040;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #404040;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #404040;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #000000;
    --b16-base01: #404040;
    --b16-base02: #404040;
    --b16-base03: #808080;
    --b16-base04: #808080;
    --b16-base05: #c0c0c0;
    --b16-base06: #c0c0c0;
    --b16-base07: #ffffff;
    --b16-base08: #dd0907;
    --b16-base09: #ff6403;
    --b16-base0A: #fbf305;
    --b16-base0B: #1fb714;
    --b16-base0C: #02abea;
    --b16-base0D: #0000d3;
    --b16-base0E: #4700a5;
    --b16-base0F: #90713a;
}
