/* Windows 10 Theme - by Fergus Collins (https://github.com/C-Fergus) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #0c0c0c;
    --pico-color: #cccccc;
    --pico-text-selection-color: #535353;
    --pico-muted-color: #767676;
    --pico-muted-border-color: #535353;
    --pico-primary: #3b78ff;
    --pico-primary-background: #535353;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #b4009e;
    --pico-primary-hover-background: #b4009e;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #0c0c0c;
    --pico-secondary: #b9b9b9;
    --pico-secondary-background: #535353;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #cccccc;
    --pico-secondary-hover-background: #767676;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #0c0c0c;
    --pico-contrast: #dfdfdf;
    --pico-contrast-background: #dfdfdf;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #f2f2f2;
    --pico-contrast-hover-background: #f2f2f2;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #0c0c0c;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #dfdfdf;
    --pico-h2-color: #cccccc;
    --pico-h3-color: #cccccc;
    --pico-h4-color: #b9b9b9;
    --pico-h5-color: #b9b9b9;
    --pico-h6-color: #767676;
    --pico-mark-background-color: #f9f1a5;
    --pico-mark-color: #0c0c0c;
    --pico-ins-color: #16c60c;
    --pico-del-color: #e74856;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #2f2f2f;
    --pico-code-background-color: #2f2f2f;
    --pico-code-color: #f9f1a5;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #0c0c0c;
    --pico-form-element-selected-background-color: #535353;
    --pico-form-element-border-color: #767676;
    --pico-form-element-color: #cccccc;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #0c0c0c;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #e74856;
    --pico-form-element-invalid-active-border-color: #c19c00;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #16c60c;
    --pico-form-element-valid-active-border-color: #61d6d6;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #767676;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #0c0c0c;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #535353;
    --pico-range-active-border-color: #767676;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #0c0c0c;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #2f2f2f;
    --pico-dropdown-background-color: #0c0c0c;
    --pico-dropdown-border-color: #535353;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #2f2f2f;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #535353;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #0c0c0c;
    --b16-base01: #2f2f2f;
    --b16-base02: #535353;
    --b16-base03: #767676;
    --b16-base04: #b9b9b9;
    --b16-base05: #cccccc;
    --b16-base06: #dfdfdf;
    --b16-base07: #f2f2f2;
    --b16-base08: #e74856;
    --b16-base09: #c19c00;
    --b16-base0A: #f9f1a5;
    --b16-base0B: #16c60c;
    --b16-base0C: #61d6d6;
    --b16-base0D: #3b78ff;
    --b16-base0E: #b4009e;
    --b16-base0F: #13a10e;
}
