/* Solar Flare Theme - by Chuck Harmston (https://chuck.harmston.ch) */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #18262f;
    --pico-color: #a6afb8;
    --pico-text-selection-color: #586875;
    --pico-muted-color: #667581;
    --pico-muted-border-color: #586875;
    --pico-primary: #33b5e1;
    --pico-primary-background: #586875;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #a363d5;
    --pico-primary-hover-background: #a363d5;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #18262f;
    --pico-secondary: #85939e;
    --pico-secondary-background: #586875;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #a6afb8;
    --pico-secondary-hover-background: #667581;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #18262f;
    --pico-contrast: #e8e9ed;
    --pico-contrast-background: #e8e9ed;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #f5f7fa;
    --pico-contrast-hover-background: #f5f7fa;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #18262f;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #e8e9ed;
    --pico-h2-color: #a6afb8;
    --pico-h3-color: #a6afb8;
    --pico-h4-color: #85939e;
    --pico-h5-color: #85939e;
    --pico-h6-color: #667581;
    --pico-mark-background-color: #e4b51c;
    --pico-mark-color: #18262f;
    --pico-ins-color: #7cc844;
    --pico-del-color: #ef5253;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #222e38;
    --pico-code-background-color: #222e38;
    --pico-code-color: #e4b51c;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #18262f;
    --pico-form-element-selected-background-color: #586875;
    --pico-form-element-border-color: #667581;
    --pico-form-element-color: #a6afb8;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #18262f;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #ef5253;
    --pico-form-element-invalid-active-border-color: #e66b2b;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #7cc844;
    --pico-form-element-valid-active-border-color: #52cbb0;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #667581;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #18262f;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #586875;
    --pico-range-active-border-color: #667581;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #18262f;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #222e38;
    --pico-dropdown-background-color: #18262f;
    --pico-dropdown-border-color: #586875;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #222e38;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #586875;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #18262f;
    --b16-base01: #222e38;
    --b16-base02: #586875;
    --b16-base03: #667581;
    --b16-base04: #85939e;
    --b16-base05: #a6afb8;
    --b16-base06: #e8e9ed;
    --b16-base07: #f5f7fa;
    --b16-base08: #ef5253;
    --b16-base09: #e66b2b;
    --b16-base0A: #e4b51c;
    --b16-base0B: #7cc844;
    --b16-base0C: #52cbb0;
    --b16-base0D: #33b5e1;
    --b16-base0E: #a363d5;
    --b16-base0F: #d73c9a;
}
