/* Rosé Pine Dawn Theme - by Emilia Dunfelt &lt;edun@dunfelt.se&gt; */

[data-theme=light] {
    /* Pico CSS color variables */
    --pico-background-color: #faf4ed;
    --pico-color: #575279;
    --pico-text-selection-color: #f2e9de;
    --pico-muted-color: #9893a5;
    --pico-muted-border-color: #f2e9de;
    --pico-primary: #907aa9;
    --pico-primary-background: #f2e9de;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #ea9d34;
    --pico-primary-hover-background: #ea9d34;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #faf4ed;
    --pico-secondary: #797593;
    --pico-secondary-background: #f2e9de;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #575279;
    --pico-secondary-hover-background: #9893a5;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #faf4ed;
    --pico-contrast: #575279;
    --pico-contrast-background: #575279;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #cecacd;
    --pico-contrast-hover-background: #cecacd;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #faf4ed;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #575279;
    --pico-h2-color: #575279;
    --pico-h3-color: #575279;
    --pico-h4-color: #797593;
    --pico-h5-color: #797593;
    --pico-h6-color: #9893a5;
    --pico-mark-background-color: #d7827e;
    --pico-mark-color: #faf4ed;
    --pico-ins-color: #286983;
    --pico-del-color: #b4637a;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #fffaf3;
    --pico-code-background-color: #fffaf3;
    --pico-code-color: #d7827e;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #faf4ed;
    --pico-form-element-selected-background-color: #f2e9de;
    --pico-form-element-border-color: #9893a5;
    --pico-form-element-color: #575279;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #faf4ed;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #b4637a;
    --pico-form-element-invalid-active-border-color: #ea9d34;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #286983;
    --pico-form-element-valid-active-border-color: #56949f;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #9893a5;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #faf4ed;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #f2e9de;
    --pico-range-active-border-color: #9893a5;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #faf4ed;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #fffaf3;
    --pico-dropdown-background-color: #faf4ed;
    --pico-dropdown-border-color: #f2e9de;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #fffaf3;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #f2e9de;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #faf4ed;
    --b16-base01: #fffaf3;
    --b16-base02: #f2e9de;
    --b16-base03: #9893a5;
    --b16-base04: #797593;
    --b16-base05: #575279;
    --b16-base06: #575279;
    --b16-base07: #cecacd;
    --b16-base08: #b4637a;
    --b16-base09: #ea9d34;
    --b16-base0A: #d7827e;
    --b16-base0B: #286983;
    --b16-base0C: #56949f;
    --b16-base0D: #907aa9;
    --b16-base0E: #ea9d34;
    --b16-base0F: #cecacd;
}
