/* lime Theme - by limelier */

[data-theme=dark] {
    /* Pico CSS color variables */
    --pico-background-color: #1a1a2f;
    --pico-color: #818175;
    --pico-text-selection-color: #2a2a3f;
    --pico-muted-color: #313140;
    --pico-muted-border-color: #2a2a3f;
    --pico-primary: #2b926f;
    --pico-primary-background: #2a2a3f;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 160, 228, 0.5);
    --pico-primary-hover: #1b825f;
    --pico-primary-hover-background: #1b825f;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 160, 228, 0.5);
    --pico-primary-inverse: #1a1a2f;
    --pico-secondary: #515155;
    --pico-secondary-background: #2a2a3f;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(128, 125, 124, 0.5);
    --pico-secondary-hover: #818175;
    --pico-secondary-hover-background: #313140;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(128, 125, 124, 0.25);
    --pico-secondary-inverse: #1a1a2f;
    --pico-contrast: #fff2d1;
    --pico-contrast-background: #fff2d1;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(214, 213, 212, 0.5);
    --pico-contrast-hover: #fff8e1;
    --pico-contrast-hover-background: #fff8e1;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: rgba(214, 213, 212, 0.25);
    --pico-contrast-inverse: #1a1a2f;
    --pico-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    --pico-h1-color: #fff2d1;
    --pico-h2-color: #818175;
    --pico-h3-color: #818175;
    --pico-h4-color: #515155;
    --pico-h5-color: #515155;
    --pico-h6-color: #313140;
    --pico-mark-background-color: #ffd15e;
    --pico-mark-color: #1a1a2f;
    --pico-ins-color: #8cd97c;
    --pico-del-color: #ff662a;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: #202030;
    --pico-code-background-color: #202030;
    --pico-code-color: #ffd15e;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #1a1a2f;
    --pico-form-element-selected-background-color: #2a2a3f;
    --pico-form-element-border-color: #313140;
    --pico-form-element-color: #818175;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #1a1a2f;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #ff662a;
    --pico-form-element-invalid-active-border-color: #ff773a;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #8cd97c;
    --pico-form-element-valid-active-border-color: #4cad83;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #313140;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #1a1a2f;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #2a2a3f;
    --pico-range-active-border-color: #313140;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: #1a1a2f;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #202030;
    --pico-dropdown-background-color: #1a1a2f;
    --pico-dropdown-border-color: #2a2a3f;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #202030;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.5);
    --pico-progress-background-color: #2a2a3f;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);

    /* Base16 palette colors for use in custom styles */
    --b16-base00: #1a1a2f;
    --b16-base01: #202030;
    --b16-base02: #2a2a3f;
    --b16-base03: #313140;
    --b16-base04: #515155;
    --b16-base05: #818175;
    --b16-base06: #fff2d1;
    --b16-base07: #fff8e1;
    --b16-base08: #ff662a;
    --b16-base09: #ff773a;
    --b16-base0A: #ffd15e;
    --b16-base0B: #8cd97c;
    --b16-base0C: #4cad83;
    --b16-base0D: #2b926f;
    --b16-base0E: #1b825f;
    --b16-base0F: #b4d97c;
}
